Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

chore: remove Playwright from SDK (#638)
  .devcontainer/devcontainer.json
  .github/actions/setup-environment/action.yml
  flake.nix
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/mcp-servers/README.md
  scripts/mcp-servers/playwright.sh
Due: format, lint

fix(sql): prevent JSON adapter lost update bug with connection caching
  packages/sql/src/json.ts
Due: format, lint

fix(sql): prevent JSON adapter lost update bug with connection caching (#658)
  packages/sql/src/json.ts
Due: format, lint

ci: add concurrency to on-merge-main workflow
  .github/workflows/on-merge-main.yml
Due: none

test(sql): fix tests that relied on cache miss behavior
  packages/sql/src/json.spec.ts
Due: format, lint

test(sql): fix tests that relied on cache miss behavior (#660)
  packages/sql/src/json.spec.ts
Due: format, lint

test(sql): add clearConnectionCache to json-upsert test
  packages/sql/src/json-upsert.spec.ts
Due: format, lint

test(sql): add clearConnectionCache to json-upsert test (#661)
  packages/sql/src/json-upsert.spec.ts
Due: format, lint

test(sql): add regression test for lost update bug (#533/#534)
  packages/sql/src/json-lost-update.spec.ts
Due: format, lint

test(sql): add regression test for JSON adapter lost update bug (#533/#534) (#662)
  .github/workflows/on-merge-main.yml
  packages/sql/src/json-lost-update.spec.ts
Due: format, lint

fix(ci): skip changeset-check for Renovate and changeset-release PRs
  .github/workflows/changeset-check.yml
Due: none

fix(documents): update graduated package deps to ^0.60.3
  packages/documents/package.json
Due: format, lint, validate-package-json

fix(ci): skip pnpm install when skip-changeset label is present
  .github/workflows/changeset-check.yml
Due: none

fix(ci): skip changeset-check for Renovate and changeset-release PRs (#668)
  .github/workflows/changeset-check.yml
  packages/documents/package.json
Due: format, lint, validate-package-json

fix(ci): require test success before publish and skip flaky geo tests
  .github/workflows/shared-merge-orchestrator.yml
  packages/geo/src/openstreetmap.integration.test.ts
Due: format, lint

fix(ci): add DOM to tsconfig lib and externalize AWS SDK packages
  packages/cache/tsconfig.json
  packages/documents/tsconfig.json
  packages/github-actions/tsconfig.json
  packages/graphql/tsconfig.json
  packages/logger/tsconfig.json
  packages/projects/tsconfig.json
  packages/repos/tsconfig.json
  packages/sdk-mcp/tsconfig.json
  packages/weather/tsconfig.json
  tsconfig.json
  vite.config.base.ts
Due: format, lint

fix(ci): add packages:read permission to on-pull-request workflow
  .github/workflows/on-pull-request.yml
Due: none

fix(ci): add yamllint config for GitHub Actions workflows
  .github/.yamllint.yml
  .github/workflows/on-pull-request.yml
Due: none

fix(ci): require test success before publish and skip flaky geo tests (#669)
  .github/.yamllint.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/shared-merge-orchestrator.yml
  packages/cache/tsconfig.json
  packages/documents/tsconfig.json
  packages/geo/src/openstreetmap.integration.test.ts
  packages/github-actions/tsconfig.json
  packages/graphql/tsconfig.json
  packages/logger/tsconfig.json
  packages/projects/tsconfig.json
  packages/repos/tsconfig.json
  packages/sdk-mcp/tsconfig.json
  packages/weather/tsconfig.json
  tsconfig.json
  vite.config.base.ts
Due: format, lint

fix(ci): make changeset publish idempotent for existing tags
  .changeset/config.json
  .github/workflows/shared-direct-publish.yml
  lefthook.yml
Due: format, lint

fix(ci): make changeset publish idempotent for existing tags (#673)
  .changeset/config.json
  .github/workflows/shared-direct-publish.yml
  lefthook.yml
Due: format, lint

fix(ci): format claude.yml and align yamllint configs
  .github/workflows/claude.yml
  lefthook.yml
Due: none

fix(sql): use globalThis for connection cache to fix cross-module lost updates
  .changeset/globalthis-connection-cache.md
  packages/sql/src/json.ts
Due: format, lint

fix(sql): use globalThis for connection cache to fix cross-module lost updates (#679)
  .changeset/globalthis-connection-cache.md
  packages/sql/src/json.ts
Due: format, lint

feat(ai): add vision support for multimodal messages
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/claude-cli.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/types.ts
Due: format, lint

fix(sql): preserve JSON object structure in JSON adapter export
  packages/sql/src/json-sti-columns.spec.ts
  packages/sql/src/json.ts
Due: format, lint

fix(sql): preserve JSON object structure in JSON adapter export (#685)
  packages/sql/src/json-sti-columns.spec.ts
  packages/sql/src/json.ts
Due: format, lint

feat(ai): add vision support for multimodal messages (#683)
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/claude-cli.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/types.ts
Due: format, lint

chore: add changeset for JSON export fix
  .changeset/json-preserve-object-structure.md
Due: none

fix(sql): preserve JSON object structure in JSON adapter export (#689)
  .changeset/json-preserve-object-structure.md
Due: none

fix(sql): handle JSON objects/arrays in insertRecordsWithCast
  packages/sql/src/json.ts
Due: format, lint

fix(sql): preserve numeric types in JSON adapter export
  .changeset/numeric-export-fix.md
  packages/sql/src/json-numeric-export.spec.ts
  packages/sql/src/json.ts
Due: format, lint

fix(sql): preserve numeric types in JSON adapter export (#695)
  .changeset/numeric-export-fix.md
  packages/sql/src/json-numeric-export.spec.ts
  packages/sql/src/json.ts
Due: format, lint

fix(sql): cast Date parameters to TIMESTAMP for DuckDB
  packages/sql/:memory:/poly_events.json
  packages/sql/src/index.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/utils.ts
Due: format, lint

fix(sql): cast Date parameters to TIMESTAMP for DuckDB (#698)
  packages/sql/:memory:/poly_events.json
  packages/sql/src/index.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/utils.ts
Due: format, lint

feat(ai): add Gemini 3 Flash Preview support with thinking levels
  .changeset/gemini-3-flash-support.md
  packages/ai/src/gemini-3-flash.integration.test.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/types.ts
Due: format, lint

feat(ai): add Gemini 3 Flash Preview support with thinking levels (#700)
  .changeset/gemini-3-flash-support.md
  packages/ai/src/gemini-3-flash.integration.test.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/types.ts
Due: format, lint

feat(ai): add image description, embedding, and generation methods
  packages/ai/CLAUDE.md
  packages/ai/src/integration.test.ts
  packages/ai/src/providers.test.ts
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/claude-cli.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/types.ts
Due: format, lint

feat(ai): add image description, embedding, and generation methods (#702)
  packages/ai/CLAUDE.md
  packages/ai/src/integration.test.ts
  packages/ai/src/providers.test.ts
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/claude-cli.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/types.ts
Due: format, lint
