Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

fix: replace workspace dependencies with explicit versions for npm compatibility
  packages/ai/package.json
  packages/content/package.json
  packages/files/package.json
  packages/ocr/package.json
  packages/pdf/package.json
  packages/products/package.json
  packages/smrt/package.json
  packages/spider/package.json
  packages/sql/package.json
  scripts/validate-package-json.js
Due: format, lint, validate-package-json

fix: update GitHub Actions to use devcontainer-like environment with Bun
  .github/workflows/test.yml
Due: none

feat: complete migration to Node.js + pnpm monorepo
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/test.yml
  docs/bun.lock
  package-lock.json
  package.json
  packages/ai/package.json
  packages/content/package.json
  packages/files/package.json
  packages/ocr/package.json
  packages/pdf/package.json
  packages/products/bun.lock
  packages/products/package.json
  packages/smrt/package.json
  packages/spider/package.json
  packages/sql/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/validate-package-json.js
Due: format, lint, validate-package-json

fix(ci): remove duplicate pnpm version specification
  .github/workflows/test.yml
Due: none

fix(ci): force ONNX Runtime to use CPU-only build in CI
  .github/workflows/test.yml
Due: none

fix(ci): use correct environment variable for onnxruntime-node CPU-only build
  .github/workflows/test.yml
Due: none

fix(ci): reorder build before type check in CI workflow
  .github/workflows/test.yml
Due: none

fix(ci): remove typecheck step that conflicts with build outputs
  .github/workflows/test.yml
Due: none

fix(test): remove non-existent github reporter from Vitest config
  vitest.config.ts
Due: none

fix(content): add missing yaml dependency
  packages/content/package.json
Due: format, lint, validate-package-json

fix: update lockfile after adding yaml dependency
  pnpm-lock.yaml
Due: none

feat: implement automated versioning with semantic-release
  .changeset/config.json
  .github/workflows/release.yml
  .releaserc.json
  package.json
  pnpm-lock.yaml
  scripts/release-helper.js
  scripts/validate-conventional-commits.js
Due: format, lint

fix: prevent v1.0.0 releases until ready
  .releaserc.json
Due: none

fix: complete v0.x.x semantic-release configuration
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: none

fix: resolve semantic-release workflow failures
  .releaserc.json
Due: none

fix: temporarily disable automatic release workflow
  .github/workflows/release.yml
Due: none

fix: remove pnpm plugin to eliminate npm token validation
  .releaserc.json
Due: none

fix: remove conventionalcommits preset causing npm plugin loading
  .releaserc.json
Due: none

fix: run semantic-release from root only, not all packages
  .github/workflows/release.yml
Due: none

fix: re-enable automatic release workflow on push to main
  .github/workflows/release.yml
Due: none

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
