Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

feat(ai): in-browser WebLLM chat provider under @happyvertical/ai/local (#1361)
  ecosystem-manifest.json
  packages/ai/AGENT.md
  packages/ai/README.md
  packages/ai/metadata.json
  packages/ai/package.json
  packages/ai/src/local.ts
  packages/ai/src/shared/continuation.ts
  packages/ai/src/shared/factory.ts
  packages/ai/src/shared/providers/webllm-shim.ts
  packages/ai/src/shared/providers/webllm.ts
  packages/ai/src/shared/types.ts
  packages/ai/src/webllm-isolation.test.ts
  packages/ai/src/webllm-missing-peer.test.ts
  packages/ai/src/webllm.test.ts
  packages/ai/tsconfig.json
  packages/ai/vite.config.ts
  packages/encryption/test/unit/node.test.ts
  pnpm-lock.yaml
  vite.config.base.ts
Due: format, lint, validate-package-json

refactor(sql): share the Postgres dialect between adapters
  packages/sql/src/postgres.ts
  packages/sql/src/shared/postgres-dialect.ts
Due: format, lint

feat(sql): add a PGlite backend for browser and serverless Node databases
  ecosystem-manifest.json
  packages/sql/AGENT.md
  packages/sql/README.md
  packages/sql/metadata.json
  packages/sql/package.json
  packages/sql/src/index.ts
  packages/sql/src/pglite-browser-safety.spec.ts
  packages/sql/src/pglite-isolation.spec.ts
  packages/sql/src/pglite-missing-peer.spec.ts
  packages/sql/src/pglite-options.spec.ts
  packages/sql/src/pglite.spec.ts
  packages/sql/src/pglite.ts
  packages/sql/src/shared/types.ts
  packages/sql/tsconfig.json
  packages/sql/vite.config.ts
  pnpm-lock.yaml
  vite.config.base.ts
Due: format, lint, validate-package-json

fix(sql): do not remember a failed catalog probe in the shared Postgres dialect
  packages/sql/src/pglite.spec.ts
  packages/sql/src/shared/postgres-dialect.ts
Due: format, lint

feat(sql): PGlite backend for browser and serverless Node databases (#1362)
  ecosystem-manifest.json
  packages/sql/AGENT.md
  packages/sql/README.md
  packages/sql/metadata.json
  packages/sql/package.json
  packages/sql/src/index.ts
  packages/sql/src/pglite-browser-safety.spec.ts
  packages/sql/src/pglite-isolation.spec.ts
  packages/sql/src/pglite-missing-peer.spec.ts
  packages/sql/src/pglite-options.spec.ts
  packages/sql/src/pglite.spec.ts
  packages/sql/src/pglite.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/postgres-dialect.ts
  packages/sql/src/shared/types.ts
  packages/sql/tsconfig.json
  packages/sql/vite.config.ts
  pnpm-lock.yaml
  vite.config.base.ts
Due: format, lint, validate-package-json

feat(auth): add framework-independent OAuth server
  packages/auth/README.md
  packages/auth/package.json
  packages/auth/src/server/index.spec.ts
  packages/auth/src/server/index.ts
  packages/auth/src/server/memory.ts
  packages/auth/src/server/types.ts
  packages/auth/vite.config.ts
Due: format, lint, validate-package-json

fix(auth): revalidate OAuth grants
  packages/auth/src/server/index.ts
  packages/auth/src/server/types.ts
Due: format, lint

test(auth): cover OAuth grant boundaries
  packages/auth/src/server/index.spec.ts
Due: format, lint

fix(auth): enforce live OAuth consent and failure boundaries
  packages/auth/README.md
  packages/auth/src/server/index.spec.ts
  packages/auth/src/server/index.ts
  packages/auth/src/server/memory.ts
  packages/auth/src/server/types.ts
Due: format, lint

fix(auth): validate access token profiles and require loopback opt-in
  packages/auth/README.md
  packages/auth/src/server/index.spec.ts
  packages/auth/src/server/index.ts
  packages/auth/src/server/types.ts
Due: format, lint

fix(sql): invalidate poisoned file connections after lock contention
  packages/sql/README.md
  packages/sql/src/shared/sqlite-connection-cache.ts
  packages/sql/src/shared/utils.ts
  packages/sql/src/sqlite-independent-retry.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(auth): propagate revocation failures and bound registration input
  packages/auth/README.md
  packages/auth/src/server/index.spec.ts
  packages/auth/src/server/index.ts
  packages/auth/src/server/types.ts
Due: format, lint

fix(ai): expose JSON schema response format contracts
  packages/ai/README.md
  packages/ai/src/continuation.test.ts
  packages/ai/src/response-format.test.ts
  packages/ai/src/shared/client.ts
  packages/ai/src/shared/continuation.ts
  packages/ai/src/shared/message.ts
  packages/ai/src/shared/types.ts
Due: format, lint

feat(speech): add browser playback envelope
  packages/speech/README.md
  packages/speech/src/__tests__/speech-playback.test.ts
  packages/speech/src/browser.ts
  packages/speech/src/shared/speech-playback.ts
Due: format, lint

fix(speech): settle playback at audio end
  packages/speech/src/__tests__/speech-playback.test.ts
  packages/speech/src/shared/speech-playback.ts
Due: format, lint

fix(speech): preserve prepared playback context
  packages/speech/src/__tests__/speech-playback.test.ts
  packages/speech/src/shared/speech-playback.ts
Due: format, lint

fix(speech): settle interrupted playback
  packages/speech/src/__tests__/speech-playback.test.ts
  packages/speech/src/shared/speech-playback.ts
Due: format, lint

fix(speech): settle terminal level callbacks
  packages/speech/src/__tests__/speech-playback.test.ts
  packages/speech/src/shared/speech-playback.ts
Due: format, lint

feat(images): Add local browser segmentation
  .changeset/soft-segmentation-assets.md
  .gitignore
  ecosystem-manifest.json
  packages/images/AGENT.md
  packages/images/SEGMENTATION.md
  packages/images/licenses/Apache-2.0.txt
  packages/images/licenses/segmentation-NOTICE.txt
  packages/images/metadata.json
  packages/images/package.json
  packages/images/scripts/prepare-segmentation-assets.mjs
  packages/images/src/segmentation-assets.ts
  packages/images/src/segmentation.test.ts
  packages/images/src/segmentation.ts
  packages/images/vite.config.ts
  pnpm-lock.yaml
  vite.config.base.ts
Due: format, lint, validate-package-json

fix(ai): Shape GPT-6 completion token requests
  .changeset/gpt-six-completion-token-budget.md
  packages/ai/src/providers.test.ts
  packages/ai/src/shared/providers/openai.ts
Due: format, lint

fix(images): Bound segmentation model downloads
  packages/images/scripts/prepare-segmentation-assets.mjs
  packages/images/src/segmentation.ts
Due: format, lint

test(images): cover bounded model downloads
  packages/images/src/segmentation.test.ts
  packages/images/src/segmentation.ts
Due: format, lint

feat(images): detect local face landmarks
  packages/images/SEGMENTATION.md
  packages/images/scripts/prepare-segmentation-assets.mjs
  packages/images/src/segmentation-assets.ts
  packages/images/src/segmentation.test.ts
  packages/images/src/segmentation.ts
Due: format, lint

test(images): cover face landmark lifecycle
  packages/images/SEGMENTATION.md
  packages/images/src/segmentation.test.ts
Due: format, lint

fix(images): reject invalid face landmark coordinates
  packages/images/src/segmentation.test.ts
  packages/images/src/segmentation.ts
Due: format, lint

fix(email): preserve UID retrieval and POP3 reply provenance
  docs/test-matrix/1379-email-intake.md
  packages/email/src/adapters/imap.ts
  packages/email/src/adapters/pop3.ts
  packages/email/test/intake-transport.test.ts
Due: format, lint

fix(email): preserve UID retrieval and POP3 reply provenance (#1380)
  docs/test-matrix/1379-email-intake.md
  packages/email/src/adapters/imap.ts
  packages/email/src/adapters/pop3.ts
  packages/email/test/intake-transport.test.ts
Due: format, lint

feat(speech): on-device voice activity detection in ./browser
  packages/speech/README.md
  packages/speech/src/__tests__/local-transcriber.test.ts
  packages/speech/src/__tests__/pcm-capture.test.ts
  packages/speech/src/__tests__/vad-capture.test.ts
  packages/speech/src/__tests__/vad.test.ts
  packages/speech/src/adapters/local/runtime.ts
  packages/speech/src/adapters/local/transcriber.ts
  packages/speech/src/browser.ts
  packages/speech/src/pcm.ts
  packages/speech/src/shared/pcm-capture.ts
  packages/speech/src/shared/vad-capture.ts
  packages/speech/src/shared/vad.ts
Due: format, lint

feat(speech): half-duplex suspend/resume gate for createVadCapture
  packages/speech/README.md
  packages/speech/src/__tests__/vad-capture.test.ts
  packages/speech/src/shared/vad-capture.ts
  packages/speech/src/shared/vad.ts
Due: format, lint

fix(speech): learn the VAD noise floor from background only, keep lead-in from the first frame
  packages/speech/README.md
  packages/speech/src/__tests__/vad.test.ts
  packages/speech/src/shared/vad.ts
Due: format, lint

chore(speech): sort factory imports (biome organizeImports)
  packages/speech/src/shared/factory.ts
Due: format, lint

feat(speech): LocalTranscriber.isCached for consent-before-download UIs
  packages/speech/README.md
  packages/speech/src/__tests__/local-transcriber.test.ts
  packages/speech/src/adapters/local/runtime.ts
  packages/speech/src/adapters/local/transcriber.ts
  packages/speech/src/adapters/local/worker.ts
Due: format, lint

docs(speech): correct Moonshine download sizes (weights plus tokenizer)
  packages/speech/README.md
Due: none

feat(sql): add browser-safe ./query subpath for driver-independent helpers
  packages/sql/README.md
  packages/sql/package.json
  packages/sql/src/index.ts
  packages/sql/src/query-browser-safety.spec.ts
  packages/sql/src/query.ts
  packages/sql/vite.config.ts
Due: format, lint, validate-package-json

fix(speech): fail VAD capture on worklet setup error, match isCached device
  packages/speech/src/__tests__/local-transcriber.test.ts
  packages/speech/src/__tests__/vad-capture.test.ts
  packages/speech/src/adapters/local/transcriber.ts
  packages/speech/src/adapters/local/worker.ts
  packages/speech/src/shared/pcm-capture.ts
  packages/speech/src/shared/vad-capture.ts
Due: format, lint

feat(sql,speech): browser-safe ./query subpath; on-device speech VAD + half-duplex (#1366)
  packages/speech/README.md
  packages/speech/src/__tests__/local-transcriber.test.ts
  packages/speech/src/__tests__/pcm-capture.test.ts
  packages/speech/src/__tests__/vad-capture.test.ts
  packages/speech/src/__tests__/vad.test.ts
  packages/speech/src/adapters/local/runtime.ts
  packages/speech/src/adapters/local/transcriber.ts
  packages/speech/src/adapters/local/worker.ts
  packages/speech/src/browser.ts
  packages/speech/src/pcm.ts
  packages/speech/src/shared/factory.ts
  packages/speech/src/shared/pcm-capture.ts
  packages/speech/src/shared/vad-capture.ts
  packages/speech/src/shared/vad.ts
  packages/sql/README.md
  packages/sql/package.json
  packages/sql/src/index.ts
  packages/sql/src/query-browser-safety.spec.ts
  packages/sql/src/query.ts
  packages/sql/vite.config.ts
Due: format, lint, validate-package-json

fix(ai): Shape GPT-6 completion token requests (#1374)
  .changeset/gpt-six-completion-token-budget.md
  packages/ai/src/providers.test.ts
  packages/ai/src/shared/providers/openai.ts
Due: format, lint

fix(ai): preserve explicit reasoning effort in chat and streams
  .changeset/explicit-openai-reasoning-effort.md
  docs/test-matrix/1308-reasoning-passthrough.md
  packages/ai/README.md
  packages/ai/src/reasoning-wire.test.ts
  packages/ai/src/shared/providers/openai.ts
Due: format, lint

fix(ai): honor LiteLLM chat reasoning protocol
  .changeset/explicit-openai-reasoning-effort.md
  docs/test-matrix/1308-reasoning-passthrough.md
  packages/ai/README.md
  packages/ai/src/providers.test.ts
  packages/ai/src/reasoning-wire.test.ts
  packages/ai/src/shared/providers/litellm.ts
  packages/ai/src/shared/providers/openai.ts
Due: format, lint

fix(ai): preserve explicit reasoning effort in chat and streams (#1383)
  .changeset/explicit-openai-reasoning-effort.md
  docs/test-matrix/1308-reasoning-passthrough.md
  packages/ai/README.md
  packages/ai/src/providers.test.ts
  packages/ai/src/reasoning-wire.test.ts
  packages/ai/src/shared/providers/litellm.ts
  packages/ai/src/shared/providers/openai.ts
Due: format, lint
