Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

chore(release): 0.12.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2fdf611a9c49b21b7b9c839c949bbf3663a7e8b1
Due: none

feat(spider): refactor to provider pattern with three adapters
  docs/docusaurus.config.ts
  packages/spider/CLAUDE.md
  packages/spider/README.md
  packages/spider/SPEC.md
  packages/spider/package.json
  packages/spider/src/adapters/crawlee.ts
  packages/spider/src/adapters/dom.ts
  packages/spider/src/adapters/simple.ts
  packages/spider/src/crawlee.integration.test.ts
  packages/spider/src/index.spec.ts
  packages/spider/src/index.ts
  packages/spider/src/shared/factory.ts
  packages/spider/src/shared/types.ts
  packages/spider/storage/key_value_stores/default/SDK_CRAWLER_STATISTICS_0.json
  packages/spider/storage/key_value_stores/default/SDK_SESSION_POOL_STATE.json
  packages/spider/storage/request_queues/default/EAaArVRs5qV39C9.json
Due: format, lint, validate-package-json

chore: remove deprecated .claude/commands files
  .claude/commands/README.md
  .claude/commands/backlog.md
  .claude/commands/deploy.md
  .claude/commands/develop.md
  .claude/commands/fresh.md
  .claude/commands/icebox.md
  .claude/commands/issue.md
  .claude/commands/issues-close.md
  .claude/commands/pr.md
  .claude/commands/qa.md
  .claude/commands/todo.md
Due: none

chore(deps): update package configurations and dependencies
  package.json
  packages/ai/package.json
  packages/content/package.json
  packages/files/package.json
  packages/gnode/package.json
  packages/ocr/package.json
  packages/pdf/package.json
  packages/products/package.json
  packages/smrt/package.json
  packages/sql/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, validate-package-json

feat(smrt): enhance framework core with improved collection management and schema handling
  packages/smrt/src/cli/utils/generator.ts
  packages/smrt/src/collection.ts
  packages/smrt/src/fields/index.ts
  packages/smrt/src/generators/cli.ts
  packages/smrt/src/manifest/static-manifest.json
  packages/smrt/src/manifest/static-manifest.ts
  packages/smrt/src/object.ts
  packages/smrt/src/persistence/sql-adapter.ts
  packages/smrt/src/registry.ts
  packages/smrt/src/utils.ts
  packages/smrt/src/vite-plugin/sveltekit-generator.ts
  packages/smrt/vite.config.ts
Due: format, lint

feat(packages): update products and sql packages
  packages/products/src/app/pages/DemoPage.svelte
  packages/sql/src/sqlite.ts
Due: format, lint

chore(config): update root configuration and build scripts
  .github/workflows/on-merge-main.yml
  .mcp.json
  .releaserc.json
  scripts/build-all-packages.js
  vite.config.ts
  vitest.config.ts
Due: format, lint

chore(scripts): add version synchronization script for semantic-release
  scripts/sync-versions.js
Due: format, lint

docs(scripts): add inline comments to sync-versions script
  scripts/sync-versions.js
Due: format, lint

fix(smrt): add null check for optional command handler
  packages/smrt/src/generators/cli.ts
Due: format, lint

fix(smrt,tags): resolve TypeScript compilation errors
  packages/smrt/src/errors.ts
  packages/smrt/src/generators/cli.ts
  packages/smrt/src/object.ts
  packages/smrt/src/persistence/rest-adapter.ts
  packages/smrt/src/persistence/sql-adapter.ts
  packages/smrt/src/pleb.ts
  packages/smrt/src/registry.ts
  packages/tags/src/tag-alias.ts
  packages/tags/src/tag.ts
Due: format, lint

fix(products): align build configuration with content/events standards
  packages/products/src/lib/models/index.ts
  packages/products/tsconfig.build.json
  vite.config.ts
Due: format, lint

fix(tags): change private backing fields to protected for base class compatibility
  packages/tags/src/tag-alias.ts
  packages/tags/src/tag.ts
Due: format, lint

fix(content): fix initialize() return types and exclude app code from build
  packages/content/src/content.ts
  packages/content/src/contents.ts
  packages/content/tsconfig.build.json
Due: format, lint

fix(profiles): add tsconfig.build.json and fix smrt/fields imports
  packages/profiles/src/models/Profile.ts
  packages/profiles/src/models/ProfileMetadata.ts
  packages/profiles/src/models/ProfileMetafield.ts
  packages/profiles/src/models/ProfileRelationship.ts
  packages/profiles/src/models/ProfileRelationshipTerm.ts
  packages/profiles/src/models/ProfileRelationshipType.ts
  packages/profiles/src/models/ProfileType.ts
  packages/profiles/tsconfig.build.json
  packages/profiles/vite.config.ts.bak
Due: format, lint

fix(ci): install Playwright browsers for CrawleeAdapter tests
  .github/workflows/test-suite.yml
Due: none

fix(translator): skip LibreTranslate integration tests in CI environments
  packages/translator/src/libretranslate.integration.test.ts
Due: format, lint

chore(release): 0.13.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ae9c5eefec797b8651bebc0fed0b965a7fa8545b
Due: none
