Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

feat(pdf): add renderPages() method for OCR-optimized PDF rendering
  package.json
  packages/pdf/package.json
  packages/pdf/src/node/combined.ts
  packages/pdf/src/node/unpdf.ts
  packages/pdf/src/shared/base.ts
  packages/pdf/src/shared/factory.ts
  packages/pdf/src/shared/types.ts
  pnpm-lock.yaml
  vite.config.base.ts
Due: format, lint, validate-package-json

chore: update @happyvertical dependencies
  pnpm-lock.yaml
Due: none

fix(messages): increase SMTP adapter test timeout to 10s
  packages/messages/test/unit/factory.test.ts
Due: format, lint

fix(pdf): increase OCR test timeouts to 60s
  packages/pdf/src/extraction.test.ts
  packages/pdf/src/index.spec.ts
  packages/pdf/src/legacy.test.ts
Due: format, lint

fix(pdf): skip entire OCR integration test suite in CI
  packages/pdf/src/ocr-integration.test.ts
Due: format, lint

fix(weather): increase timeout for Environment Canada API tests
  packages/weather/src/__tests__/environment-canada.spec.ts
Due: format, lint

chore: add changeset for weather test timeout fix
  .changeset/weather-test-timeout-fix.md
Due: none

fix(documents): skip long-running tests in CI
  packages/documents/src/index.test.ts
Due: format, lint

feat(pdf): add renderPages() method for OCR-optimized PDF rendering (#455)
  .changeset/weather-test-timeout-fix.md
  package.json
  packages/documents/src/index.test.ts
  packages/messages/test/unit/factory.test.ts
  packages/pdf/package.json
  packages/pdf/src/extraction.test.ts
  packages/pdf/src/index.spec.ts
  packages/pdf/src/legacy.test.ts
  packages/pdf/src/node/combined.ts
  packages/pdf/src/node/unpdf.ts
  packages/pdf/src/ocr-integration.test.ts
  packages/pdf/src/shared/base.ts
  packages/pdf/src/shared/factory.ts
  packages/pdf/src/shared/types.ts
  packages/weather/src/__tests__/environment-canada.spec.ts
  pnpm-lock.yaml
  vite.config.base.ts
Due: format, lint, validate-package-json

chore: version packages (#457)
  .changeset/weather-test-timeout-fix.md
  packages/ai/CHANGELOG.md
  packages/ai/package.json
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/documents/CHANGELOG.md
  packages/documents/package.json
  packages/encryption/CHANGELOG.md
  packages/encryption/package.json
  packages/files/CHANGELOG.md
  packages/files/package.json
  packages/geo/CHANGELOG.md
  packages/geo/package.json
  packages/github-actions/CHANGELOG.md
  packages/github-actions/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/messages/CHANGELOG.md
  packages/messages/package.json
  packages/ocr/CHANGELOG.md
  packages/ocr/package.json
  packages/pdf/CHANGELOG.md
  packages/pdf/package.json
  packages/projects/CHANGELOG.md
  packages/projects/package.json
  packages/repos/CHANGELOG.md
  packages/repos/package.json
  packages/sdk-mcp/CHANGELOG.md
  packages/sdk-mcp/package.json
  packages/spider/CHANGELOG.md
  packages/spider/package.json
  packages/sql/CHANGELOG.md
  packages/sql/package.json
  packages/translator/CHANGELOG.md
  packages/translator/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/weather/CHANGELOG.md
  packages/weather/package.json
Due: format, lint, validate-package-json

fix(spider): normalize /download/ URLs for consistent WordPress detection
  .changeset/wordpress-trailing-slash-fix.md
  packages/spider/src/scrapeDocument.ts
  packages/spider/src/wordpress-detection.spec.ts
Due: format, lint

fix(spider): normalize /download/ URLs for consistent WordPress detection (#458)
  .changeset/wordpress-trailing-slash-fix.md
  packages/spider/src/scrapeDocument.ts
  packages/spider/src/wordpress-detection.spec.ts
Due: format, lint

chore: version packages (#459)
  .changeset/wordpress-trailing-slash-fix.md
  packages/ai/CHANGELOG.md
  packages/ai/package.json
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/documents/CHANGELOG.md
  packages/documents/package.json
  packages/encryption/CHANGELOG.md
  packages/encryption/package.json
  packages/files/CHANGELOG.md
  packages/files/package.json
  packages/geo/CHANGELOG.md
  packages/geo/package.json
  packages/github-actions/CHANGELOG.md
  packages/github-actions/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/messages/CHANGELOG.md
  packages/messages/package.json
  packages/ocr/CHANGELOG.md
  packages/ocr/package.json
  packages/pdf/CHANGELOG.md
  packages/pdf/package.json
  packages/projects/CHANGELOG.md
  packages/projects/package.json
  packages/repos/CHANGELOG.md
  packages/repos/package.json
  packages/sdk-mcp/CHANGELOG.md
  packages/sdk-mcp/package.json
  packages/spider/CHANGELOG.md
  packages/spider/package.json
  packages/sql/CHANGELOG.md
  packages/sql/package.json
  packages/translator/CHANGELOG.md
  packages/translator/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/weather/CHANGELOG.md
  packages/weather/package.json
Due: format, lint, validate-package-json

fix(documents): validate PDF content before extraction (#460)
  .changeset/fix-pdf-html-validation.md
  packages/documents/src/processors/pdf.ts
Due: format, lint

feat(documents): integrate spider for document management system detection
  .changeset/fix-pdf-html-validation.md
  packages/documents/src/factory.ts
  packages/documents/src/types.ts
Due: format, lint

feat(documents): integrate spider for WordPress/CivicWeb/DocuShare detection (#460) (#461)
  .changeset/fix-pdf-html-validation.md
  packages/documents/src/factory.ts
  packages/documents/src/processors/pdf.ts
  packages/documents/src/types.ts
Due: format, lint

chore: version packages (#462)
  .changeset/fix-pdf-html-validation.md
  packages/ai/CHANGELOG.md
  packages/ai/package.json
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/documents/CHANGELOG.md
  packages/documents/package.json
  packages/encryption/CHANGELOG.md
  packages/encryption/package.json
  packages/files/CHANGELOG.md
  packages/files/package.json
  packages/geo/CHANGELOG.md
  packages/geo/package.json
  packages/github-actions/CHANGELOG.md
  packages/github-actions/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/messages/CHANGELOG.md
  packages/messages/package.json
  packages/ocr/CHANGELOG.md
  packages/ocr/package.json
  packages/pdf/CHANGELOG.md
  packages/pdf/package.json
  packages/projects/CHANGELOG.md
  packages/projects/package.json
  packages/repos/CHANGELOG.md
  packages/repos/package.json
  packages/sdk-mcp/CHANGELOG.md
  packages/sdk-mcp/package.json
  packages/spider/CHANGELOG.md
  packages/spider/package.json
  packages/sql/CHANGELOG.md
  packages/sql/package.json
  packages/translator/CHANGELOG.md
  packages/translator/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/weather/CHANGELOG.md
  packages/weather/package.json
Due: format, lint, validate-package-json

fix(documents): prevent cache poisoning when HTML is downloaded as PDF
  packages/documents/src/processors/pdf.test.ts
  packages/documents/src/processors/pdf.ts
Due: format, lint

test(documents): skip integration tests that download files in CI
  packages/documents/src/processors/pdf.test.ts
Due: format, lint

chore: add changeset for cache poisoning fix
  .changeset/242vjunt10q-fix-cache-poisoning.md
Due: none

fix(documents): prevent cache poisoning when HTML is downloaded as PDF (#464)
  .changeset/242vjunt10q-fix-cache-poisoning.md
  packages/documents/src/processors/pdf.test.ts
  packages/documents/src/processors/pdf.ts
Due: format, lint

feat(ci): implement direct publish on merge to main
  .changeset/direct-publish.md
  .github/workflows/publish.yml
  .gitignore
Due: none

chore: version packages (#465)
  .changeset/242vjunt10q-fix-cache-poisoning.md
  packages/ai/CHANGELOG.md
  packages/ai/package.json
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/documents/CHANGELOG.md
  packages/documents/package.json
  packages/encryption/CHANGELOG.md
  packages/encryption/package.json
  packages/files/CHANGELOG.md
  packages/files/package.json
  packages/geo/CHANGELOG.md
  packages/geo/package.json
  packages/github-actions/CHANGELOG.md
  packages/github-actions/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/messages/CHANGELOG.md
  packages/messages/package.json
  packages/ocr/CHANGELOG.md
  packages/ocr/package.json
  packages/pdf/CHANGELOG.md
  packages/pdf/package.json
  packages/projects/CHANGELOG.md
  packages/projects/package.json
  packages/repos/CHANGELOG.md
  packages/repos/package.json
  packages/sdk-mcp/CHANGELOG.md
  packages/sdk-mcp/package.json
  packages/spider/CHANGELOG.md
  packages/spider/package.json
  packages/sql/CHANGELOG.md
  packages/sql/package.json
  packages/translator/CHANGELOG.md
  packages/translator/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/weather/CHANGELOG.md
  packages/weather/package.json
Due: format, lint, validate-package-json

feat(ci): add safeguards against accidental major version releases
  .changeset/direct-publish.md
  .github/workflows/changeset-check.yml
  .github/workflows/publish.yml
Due: none

feat(ci): implement direct publish on merge to main (#466)
  .changeset/242vjunt10q-fix-cache-poisoning.md
  .changeset/direct-publish.md
  .github/workflows/changeset-check.yml
  .github/workflows/publish.yml
  .gitignore
Due: none

feat(ci): create shared direct publish workflow
  .github/workflows/publish.yml
  .github/workflows/shared-direct-publish.yml
Due: none

chore: add changeset for shared direct publish workflow
  .changeset/shared-direct-publish.md
Due: none

feat(ci): implement true direct publish with reusable workflow (#467)
  .changeset/shared-direct-publish.md
  .github/workflows/publish.yml
  .github/workflows/shared-direct-publish.yml
Due: none

test: trigger publish workflow to verify direct publish works
  .github/workflows/shared-direct-publish.yml
Due: none

fix(ci): remove GITHUB_TOKEN from reusable workflow secrets
  .changeset/fix-github-token-secret.md
  .github/workflows/publish.yml
  .github/workflows/shared-direct-publish.yml
Due: none

fix(ci): remove GITHUB_TOKEN from reusable workflow secrets (#469)
  .changeset/fix-github-token-secret.md
  .github/workflows/publish.yml
  .github/workflows/shared-direct-publish.yml
Due: none

chore: update @happyvertical dependencies (#470)
  pnpm-lock.yaml
Due: none

test: trigger publish workflow to verify direct publish works (#468)
  .github/workflows/shared-direct-publish.yml
Due: none

fix(ci): use correct version script name
  .changeset/fix-version-script.md
  .github/workflows/shared-direct-publish.yml
Due: none

fix(ci): use correct version script name (#471)
  .changeset/fix-version-script.md
  .github/workflows/shared-direct-publish.yml
Due: none

fix(ci): correct changeset package reference
  .changeset/direct-publish.md
Due: none

fix(ci): correct changeset package reference (#472)
  .changeset/direct-publish.md
Due: none

test: trigger publish workflow to verify branch protection fix
  .changeset/test-publish-workflow.md
Due: none

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
