Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

fix(content): correct build output filename to match package.json exports
  packages/content/vite.config.ts
Due: format, lint

fix(sql): ensure LibSQL Node.js runtime resolution for in-memory databases
  packages/ai/src/shared/client.ts
  packages/smrt/src/class.ts
  packages/smrt/src/collection.ts
  packages/sql/src/index.ts
  packages/sql/src/schema-manager.ts
  packages/sql/src/sqlite.ts
  packages/sql/vite.config.ts
Due: format, lint

refactor(smrt): eliminate static create() pattern using direct instantiation
  package.json
  packages/smrt/src/collection.ts
  packages/smrt/src/object.ts
Due: format, lint

feat(sql): add schema manager with JSON manifest support
  packages/content/package.json
  packages/content/vite.config.ts
  packages/smrt/src/manifest/static-manifest.json
  packages/smrt/src/manifest/static-manifest.ts
  packages/smrt/src/scanner/types.ts
  packages/smrt/src/schema/code-generator.ts
  packages/smrt/src/schema/generator.ts
  packages/smrt/src/schema/index.ts
  packages/smrt/src/schema/override-system.ts
  packages/smrt/src/schema/runtime-manager.ts
  packages/smrt/src/schema/types.ts
  packages/smrt/src/utils.ts
  packages/smrt/src/vite-plugin/index.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
Due: format, lint, validate-package-json

chore(release): 0.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8027341b1a1320d7cc7eb559fcb3ba6baee362ed
Due: none

docs: enhance all package CLAUDE.md files for efficient coding sessions
  packages/ai/CLAUDE.md
  packages/content/CLAUDE.md
  packages/files/CLAUDE.md
  packages/ocr/CLAUDE.md
  packages/pdf/CLAUDE.md
  packages/products/CLAUDE.md
  packages/smrt/CLAUDE.md
  packages/spider/CLAUDE.md
  packages/sql/CLAUDE.md
  packages/utils/CLAUDE.md
Due: none

chore(release): 0.8.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  09695e760c6c0d7d1e134b8cc848b98a56381fde
Due: none

feat: add @have/gnode federation package
  package.json
  packages/gnode/README.md
  packages/gnode/package.json
  packages/gnode/src/federation/index.ts
  packages/gnode/src/index.ts
  packages/gnode/src/protocols/index.ts
  packages/gnode/tsconfig.json
  packages/gnode/vite.config.ts
  packages/smrt/src/manifest/static-manifest.json
  packages/smrt/src/manifest/static-manifest.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

chore(release): 0.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8f7a023ae50444f124ddc3d0743b59a9141b30b5
Due: none

feat(smrt): add default dev UI for library development
  packages/smrt/src/vite-plugin/index.ts
  packages/smrt/src/vite-plugin/templates/default-ui.ts
  packages/smrt/src/vite-plugin/templates/default.html
Due: format, lint

fix(smrt): add middleware to serve default HTML when no index.html exists
  packages/smrt/src/vite-plugin/index.ts
Due: format, lint

feat(smrt): implement default development UI with template-literal-free code
  packages/smrt/package.json
  packages/smrt/src/manifest/static-manifest.json
  packages/smrt/src/manifest/static-manifest.ts
  packages/smrt/src/vite-plugin/index.ts
  packages/smrt/src/vite-plugin/templates/default-ui.js
Due: format, lint, validate-package-json

fix(smrt): correct TypeScript visibility and Svelte 5 reactivity
  packages/products/src/app/pages/DemoPage.svelte
  packages/smrt/src/manifest/static-manifest.json
  packages/smrt/src/manifest/static-manifest.ts
  packages/smrt/src/pleb.ts
Due: format, lint

refactor(smrt): address PR review comments
  packages/smrt/src/manifest/static-manifest.json
  packages/smrt/src/manifest/static-manifest.ts
  packages/smrt/src/vite-plugin/index.ts
  packages/smrt/src/vite-plugin/templates/default-ui.js
  packages/smrt/src/vite-plugin/templates/default-ui.ts
Due: format, lint

chore(release): 0.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  580657cd9282fcec990969da075a193fff5b4f09
Due: none

feat(smrt): add persistence abstraction layer for REST backends
  packages/smrt/src/class.ts
  packages/smrt/src/collection.ts
  packages/smrt/src/object.ts
  packages/smrt/src/persistence/adapter.ts
  packages/smrt/src/persistence/index.ts
  packages/smrt/src/persistence/rest-adapter.ts
  packages/smrt/src/persistence/sql-adapter.ts
  packages/smrt/src/persistence/types.ts
Due: format, lint

fix(smrt): complete REST persistence adapter with property initialization
  packages/smrt/src/collection.ts
  packages/smrt/src/generators/rest.ts
  packages/smrt/src/object.ts
  packages/smrt/src/persistence/rest-adapter.spec.ts
  packages/smrt/src/persistence/rest-adapter.ts
  packages/smrt/src/persistence/sql-adapter.ts
  packages/smrt/src/utils.ts
Due: format, lint

refactor(smrt): address PR review comments for performance and design
  packages/smrt/src/object.spec.ts
  packages/smrt/src/object.ts
  packages/smrt/src/persistence/rest-adapter.spec.ts.bak
  packages/smrt/src/persistence/rest-adapter.ts
  packages/smrt/src/persistence/types.ts
  packages/smrt/src/utils.ts
Due: format, lint

feat(smrt): implement advanced ObjectRegistry optimizations
  packages/smrt/src/collection.ts
  packages/smrt/src/errors.ts
  packages/smrt/src/fields/index.ts
  packages/smrt/src/object.ts
  packages/smrt/src/persistence/rest-adapter.spec.ts.bak
  packages/smrt/src/registry.ts
  packages/smrt/src/utils.ts
Due: format, lint
