Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

fix(spider): disable useNamingConvention to avoid biome crash
  biome.json
Due: none

chore: update biome schema to 2.2.6
  biome.json
Due: none

chore(release): 0.44.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  cbb8b538271672d09a325aa2061d3a95f93d841e
Due: none

feat(config): add sdk-mcp server for package documentation queries
  CLAUDE.md
  packages/sdk-mcp/README.md
  packages/sdk-mcp/dist/index.d.ts
  packages/sdk-mcp/dist/index.js
  packages/sdk-mcp/package.json
  packages/sdk-mcp/src/index.ts
  packages/sdk-mcp/src/registry.ts
  packages/sdk-mcp/src/router.ts
  packages/sdk-mcp/src/tools/ask.ts
  packages/sdk-mcp/src/tools/get-docs.ts
  packages/sdk-mcp/src/tools/list-packages.ts
  packages/sdk-mcp/tsconfig.json
  packages/sdk-mcp/vite.config.ts
  pnpm-lock.yaml
  scripts/mcp-servers/sdk-dev-server.sh
  tsconfig.json
Due: format, lint, validate-package-json

fix(sql): add table name validation to JSON adapter methods
  packages/sql/dist/chunks/alter-utils-DPxgAQfb.js
  packages/sql/dist/chunks/alter-utils-DPxgAQfb.js.map
  packages/sql/dist/chunks/alter-utils-OwKqvidR.js.map
  packages/sql/dist/chunks/duckdb-BCe5YUsE.js.map
  packages/sql/dist/chunks/duckdb-BrmeAR4g.js
  packages/sql/dist/chunks/duckdb-BrmeAR4g.js.map
  packages/sql/dist/chunks/json-BLreH1KJ.js.map
  packages/sql/dist/chunks/json-CSDkiD8r.js
  packages/sql/dist/chunks/json-CSDkiD8r.js.map
  packages/sql/dist/chunks/postgres-PJVevJE-.js
  packages/sql/dist/chunks/postgres-PJVevJE-.js.map
  packages/sql/dist/chunks/postgres-VQwiPP8D.js.map
  packages/sql/dist/chunks/sqlite-CuBZXf-r.js
  packages/sql/dist/chunks/sqlite-CuBZXf-r.js.map
  packages/sql/dist/chunks/sqlite-DDGMi05V.js.map
  packages/sql/dist/index.d.ts.map
  packages/sql/dist/index.js
  packages/sql/dist/index.js.map
  packages/sql/dist/json.d.ts.map
  packages/sql/dist/postgres.d.ts.map
  packages/sql/dist/shared/alter-utils.d.ts
  packages/sql/dist/shared/alter-utils.d.ts.map
  packages/sql/src/json.ts
Due: format, lint

chore(release): 0.45.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  06d55402a0aaed001a37c376500c96c5054c605c
Due: none

chore(release): 0.45.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  df1d706f5f5bdce37fceb0b09986c1f04cb9f1f2
Due: none

chore(release): 0.45.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1bdb7fbe4b87e904826f1a71be6def34cba0fb10
Due: none

test: Phase 1 audit of testing standards compliance
  AUDIT.md
  package.json
  vitest.config.ts
Due: none

test(logger): migrate to testing standard with real implementations
  packages/logger/src/adapter.test.ts
  packages/logger/src/logger.examples.test.ts
  packages/logger/src/test-logger.ts
Due: format, lint

test(utils): clean up test suite per testing standard
  packages/utils/src/index.optional.test.ts
  packages/utils/src/index.spec.ts
Due: format, lint

test(ai): polish test quality for @have/ai
  packages/ai/src/index.optional.test.ts
  packages/ai/src/index.spec.ts
Due: format, lint

test(spider): migrate to fixture-based testing
  packages/spider/src/crawlee.integration.test.ts
  packages/spider/src/crawlee.optional.test.ts
  packages/spider/src/scrapeDocument.test.ts
  packages/spider/src/scrapers/scrapers.integration.test.ts
  packages/spider/src/scrapers/scrapers.optional.test.ts
  packages/spider/testdata/README.md
  packages/spider/testdata/civicweb-download.html
  packages/spider/testdata/civicweb-html-entities.html
  packages/spider/testdata/civicweb-no-pdf.html
  packages/spider/testdata/civicweb-view.html
  packages/spider/testdata/docushare-download.html
  packages/spider/testdata/docushare-generator.html
  packages/spider/testdata/docushare-html-entities.html
  packages/spider/testdata/docushare-no-link.html
  packages/spider/testdata/docushare-serviceslib.html
  packages/spider/testdata/docushare-xlsx.html
  packages/spider/testdata/normal-page.html
  packages/spider/testdata/page-with-title.html
  packages/spider/testdata/wordpress-agenda-link.html
  packages/spider/testdata/wordpress-document-link.html
  packages/spider/testdata/wordpress-html-entities.html
  packages/spider/testdata/wordpress-meeting-link.html
  packages/spider/testdata/wordpress-pdf-link.html
Due: format, lint

docs: complete Phase 3 testing standards audit
  AUDIT.md
  docs/content/ai.md
  docs/content/cache.md
  docs/content/geo.md
  docs/content/logger.md
  docs/content/spider.md
  docs/content/translator.md
Due: none

feat(release): enable automated publishing to GitHub Packages
  .github/workflows/on-merge-main.yml
  .releaserc.json
  CLAUDE.md
  README.md
  packages/ai/package.json
  packages/cache/package.json
  packages/documents/package.json
  packages/files/package.json
  packages/geo/package.json
  packages/logger/package.json
  packages/ocr/package.json
  packages/pdf/package.json
  packages/sdk-mcp/package.json
  packages/spider/package.json
  packages/sql/package.json
  packages/translator/package.json
  packages/utils/package.json
Due: format, lint, validate-package-json

chore(release): 0.45.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  48eba931ee96e600d37af43b5372f417cedd10b5
Due: none

fix(ci): exclude docs package from recursive builds
  package.json
Due: none

chore(release): 0.45.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b444d0579eee870bf7ac85a92b598316eb9d1343
Due: none

docs: add project board management to SOPs
  CLAUDE.md
Due: none

feat(ci): implement AI-powered issue triage automation
  .github/scripts/triage-issue.js
  .github/workflows/on-issue-opened.yml
  CLAUDE.md
  biome.json
  notes/workflow/KANBAN.md
Due: format, lint

fix(ci): convert triage script to ES module syntax
  .github/scripts/triage-issue.js
Due: format, lint

fix(ci): use GH_TOKEN for triage workflow
  .github/workflows/on-issue-opened.yml
Due: none

feat(ci): cancel PR validation on merge
  .github/workflows/on-pr-merged.yml
Due: none

feat(ci): centralize issue triage automation across HappyVertical repos
  .github/actions/issue-triage/action.yml
  .github/triage-config.json
  .github/workflows/on-issue-opened.yml
  CLAUDE.md
  biome.json
  packages/github-actions/README.md
  packages/github-actions/package.json
  packages/github-actions/src/cli.examples.test.ts
  packages/github-actions/src/cli.ts
  packages/github-actions/src/index.ts
  packages/github-actions/src/triage/analyze.test.ts
  packages/github-actions/src/triage/analyze.ts
  packages/github-actions/src/triage/comment.ts
  packages/github-actions/src/triage/duplicates.ts
  packages/github-actions/src/triage/github.ts
  packages/github-actions/src/triage/index.ts
  packages/github-actions/src/triage/label.test.ts
  packages/github-actions/src/triage/label.ts
  packages/github-actions/src/triage/project.ts
  packages/github-actions/src/triage/types.ts
  packages/github-actions/tsconfig.build.json
  packages/github-actions/tsconfig.json
  packages/github-actions/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

fix(ci): disable npm publishing in semantic-release
  .releaserc.json
Due: none
