Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

perf(ci): skip remaining slow PDF tests in documents package (#390)
  packages/documents/src/index.test.ts
Due: format, lint

feat(sql): move UNIQUE constraint transformation into DuckDB/JSON adapters
  packages/sql/src/duckdb.ts
  packages/sql/src/json.ts
Due: format, lint

chore: disable footer-leading-blank commitlint rule
  commitlint.config.js
Due: none

feat(sql): move UNIQUE constraint transformation into DuckDB/JSON adapters (#393)
  commitlint.config.js
  packages/sql/src/duckdb.ts
  packages/sql/src/json.ts
Due: format, lint

chore: update all dependencies to latest versions
  docs/package.json
  package.json
  packages/ai/package.json
  packages/cache/package.json
  packages/documents/package.json
  packages/files/package.json
  packages/geo/package.json
  packages/github-actions/package.json
  packages/logger/package.json
  packages/ocr/package.json
  packages/pdf/package.json
  packages/projects/package.json
  packages/repos/package.json
  packages/sdk-mcp/package.json
  packages/spider/package.json
  packages/sql/package.json
  packages/translator/package.json
  packages/utils/package.json
  packages/weather/package.json
  pnpm-lock.yaml
Due: format, lint, validate-package-json

chore: update pnpm lockfile for dependency updates
  pnpm-lock.yaml
Due: none

fix: resolve logger package test and typecheck failures
  packages/logger/src/console.test.ts
  packages/logger/tsconfig.json
Due: format, lint

chore: add changeset for dependency updates
  .changeset/update-dependencies.md
Due: none

fix: add patch-package to fix rollup postinstall script
  package.json
  pnpm-lock.yaml
Due: none

fix: pin rollup to 4.52.0 to avoid patch-package postinstall issue
  MIGRATION_STEPS.md
  package.json
  packages/github-actions/scripts/MIGRATION.md
  packages/github-actions/scripts/QUICKSTART.md
  pnpm-lock.yaml
  scripts/delete-all-packages.sh
  scripts/make-packages-public.sh
  test-output.txt
Due: none

test(spider): skip browser-based integration tests in CI
  .changeset/update-dependencies.md
  packages/spider/src/index.spec.ts
  packages/spider/src/scrapers/scrapers.spec.ts
Due: format, lint

ci: consolidate conventional commit validation into PR workflow
  .github/workflows/auto-changeset.yml
  .github/workflows/on-pull-request.yml
Due: none

fix(spider,ai): fix vite 7.2.2 build failures
  packages/ai/src/providers.test.ts
  packages/spider/tsconfig.json
Due: format, lint

fix(spider): fix env-config test timeouts in CI
  packages/spider/src/env-config.test.ts
Due: format, lint

chore: update all dependencies to latest versions (#395)
  .changeset/update-dependencies.md
  .github/workflows/auto-changeset.yml
  .github/workflows/on-pull-request.yml
  MIGRATION_STEPS.md
  docs/package.json
  package.json
  packages/ai/package.json
  packages/ai/src/providers.test.ts
  packages/cache/package.json
  packages/documents/package.json
  packages/files/package.json
  packages/geo/package.json
  packages/github-actions/package.json
  packages/github-actions/scripts/MIGRATION.md
  packages/github-actions/scripts/QUICKSTART.md
  packages/logger/package.json
  packages/logger/src/console.test.ts
  packages/logger/tsconfig.json
  packages/ocr/package.json
  packages/pdf/package.json
  packages/projects/package.json
  packages/repos/package.json
  packages/sdk-mcp/package.json
  packages/spider/package.json
  packages/spider/src/env-config.test.ts
  packages/spider/src/index.spec.ts
  packages/spider/src/scrapers/scrapers.spec.ts
  packages/spider/tsconfig.json
  packages/sql/package.json
  packages/translator/package.json
  packages/utils/package.json
  packages/weather/package.json
  pnpm-lock.yaml
  scripts/delete-all-packages.sh
  scripts/make-packages-public.sh
  test-output.txt
Due: format, lint, validate-package-json

fix(pdf): use root vitest config to prevent channel closed error
  packages/pdf/package.json
Due: format, lint, validate-package-json

fix(pdf): use root vitest config to prevent channel closed error (#398)
  packages/pdf/package.json
Due: format, lint, validate-package-json

fix(ci): use multiline output for cascade handler repositories
  .github/actions/cascade-handler/action.yml
Due: none

fix(ci): use multiline output for cascade handler repositories (#401)
  .github/actions/cascade-handler/action.yml
Due: none

feat(ci): consolidate cascade handling into on-merge-main workflow
  .github/CASCADE_MIGRATION_GUIDE.md
  .github/actions/cascade-handler/action.yml
  .github/workflows/cascade-handler-template.yml
  .github/workflows/on-merge-main.yml
Due: none

feat(ci): consolidate cascade handling into on-merge-main workflow (#405)
  .github/CASCADE_MIGRATION_GUIDE.md
  .github/actions/cascade-handler/action.yml
  .github/workflows/cascade-handler-template.yml
  .github/workflows/on-merge-main.yml
Due: none

chore: update dependencies to latest versions
  package.json
  packages/documents/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: format, lint, validate-package-json

chore: update dependencies to latest versions (#406)
  package.json
  packages/documents/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: format, lint, validate-package-json

chore: update @happyvertical dependencies
  pnpm-lock.yaml
Due: none

feat(ci): update triage automation for 6-lane kanban
  .github/triage-config.json
  .github/workflows/triage.yml
  scripts/apply-labels.ts
Due: format, lint

feat(ci): add repository standardization script
  scripts/standardize-repo.ts
Due: format, lint

docs: add comprehensive workflow standardization guide
  WORKFLOW_SETUP.md
Due: none

feat(ci): implement reusable triage workflow
  .github/workflows/triage-reusable.yml
  .github/workflows/triage-template.yml
  WORKFLOW_SETUP.md
  scripts/standardize-repo.ts
Due: format, lint

fix(ci): apply biome linting fixes
  scripts/standardize-repo.ts
Due: format, lint

feat(ci): add agent: claude label for AI coder orchestration
  packages/github-actions/src/shared/labels.ts
  scripts/apply-labels.ts
Due: format, lint

feat(ci): add workflow library with reusable workflows and templates
  .github/workflows/agent-orchestrator-reusable.yml
  .github/workflows/build-scaffold.yml
  .github/workflows/issue-closer-reusable.yml
  .github/workflows/label-handler-reusable.yml
  .github/workflows/merge-orchestrator-reusable.yml
  .github/workflows/on-issue-closed-template.yml
  .github/workflows/on-issue-opened-template.yml
  .github/workflows/on-label-changed-template.yml
  .github/workflows/on-merge-main-template.yml
  .github/workflows/on-pr-opened-template.yml
  .github/workflows/pr-handler-reusable.yml
  .github/workflows/publish-scaffold.yml
  .github/workflows/test-scaffold.yml
Due: none

feat(ci): implement happyvertical/ directory architecture
  .github/workflows/build.yml
  .github/workflows/happyvertical/README.md
  .github/workflows/happyvertical/_metadata.json
  .github/workflows/happyvertical/on-issue-closed.yml
  .github/workflows/happyvertical/on-issue-opened.yml
  .github/workflows/happyvertical/on-label-changed.yml
  .github/workflows/happyvertical/on-merge-main.yml
  .github/workflows/happyvertical/on-pr-opened.yml
  .github/workflows/on-merge-main.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  WORKFLOW_ARCHITECTURE.md
  scripts/standardize-repo.ts
Due: format, lint

feat(ci): implement ecosystem-wide workflow standardization (#410)
  .github/workflows/agent-orchestrator-reusable.yml
  .github/workflows/build-scaffold.yml
  .github/workflows/build.yml
  .github/workflows/happyvertical/README.md
  .github/workflows/happyvertical/_metadata.json
  .github/workflows/happyvertical/on-issue-closed.yml
  .github/workflows/happyvertical/on-issue-opened.yml
  .github/workflows/happyvertical/on-label-changed.yml
  .github/workflows/happyvertical/on-merge-main.yml
  .github/workflows/happyvertical/on-pr-opened.yml
  .github/workflows/issue-closer-reusable.yml
  .github/workflows/label-handler-reusable.yml
  .github/workflows/merge-orchestrator-reusable.yml
  .github/workflows/on-issue-closed-template.yml
  .github/workflows/on-issue-opened-template.yml
  .github/workflows/on-label-changed-template.yml
  .github/workflows/on-merge-main-template.yml
  .github/workflows/on-merge-main.yml
  .github/workflows/on-pr-opened-template.yml
  .github/workflows/pr-handler-reusable.yml
  .github/workflows/publish-scaffold.yml
  .github/workflows/publish.yml
  .github/workflows/test-scaffold.yml
  .github/workflows/test.yml
  .github/workflows/triage-reusable.yml
  WORKFLOW_ARCHITECTURE.md
  WORKFLOW_SETUP.md
  packages/github-actions/src/shared/labels.ts
  scripts/apply-labels.ts
  scripts/standardize-repo.ts
Due: format, lint

fix(ci): move workflow templates to prevent GitHub Actions execution
  .github/workflow-templates/build-scaffold.yml
  .github/workflow-templates/on-issue-closed-template.yml
  .github/workflow-templates/on-issue-opened-template.yml
  .github/workflow-templates/on-label-changed-template.yml
  .github/workflow-templates/on-merge-main-template.yml
  .github/workflow-templates/on-pr-opened-template.yml
  .github/workflow-templates/publish-scaffold.yml
  .github/workflow-templates/test-scaffold.yml
  .github/workflows/happyvertical/README.md
  scripts/standardize-repo.ts
Due: format, lint

fix(ci): move workflow templates to prevent GitHub Actions execution (#412)
  .github/workflow-templates/build-scaffold.yml
  .github/workflow-templates/on-issue-closed-template.yml
  .github/workflow-templates/on-issue-opened-template.yml
  .github/workflow-templates/on-label-changed-template.yml
  .github/workflow-templates/on-merge-main-template.yml
  .github/workflow-templates/on-pr-opened-template.yml
  .github/workflow-templates/publish-scaffold.yml
  .github/workflow-templates/test-scaffold.yml
  .github/workflows/happyvertical/README.md
  scripts/standardize-repo.ts
Due: format, lint

fix(ci): move reusable workflows to shared/ subdirectory
  .github/workflow-templates/on-issue-closed-template.yml
  .github/workflow-templates/on-issue-opened-template.yml
  .github/workflow-templates/on-label-changed-template.yml
  .github/workflow-templates/on-merge-main-template.yml
  .github/workflow-templates/on-pr-opened-template.yml
  .github/workflows/happyvertical/on-issue-closed.yml
  .github/workflows/happyvertical/on-issue-opened.yml
  .github/workflows/happyvertical/on-label-changed.yml
  .github/workflows/happyvertical/on-merge-main.yml
  .github/workflows/happyvertical/on-pr-opened.yml
  .github/workflows/shared/agent-orchestrator-reusable.yml
  .github/workflows/shared/issue-closer-reusable.yml
  .github/workflows/shared/label-handler-reusable.yml
  .github/workflows/shared/merge-orchestrator-reusable.yml
  .github/workflows/shared/pr-handler-reusable.yml
  .github/workflows/shared/triage-reusable.yml
Due: none

fix(ci): update happyvertical workflows to use shared paths
  .github/workflows/happyvertical/on-issue-closed.yml
  .github/workflows/happyvertical/on-issue-opened.yml
  .github/workflows/happyvertical/on-label-changed.yml
  .github/workflows/happyvertical/on-merge-main.yml
  .github/workflows/happyvertical/on-pr-opened.yml
Due: none

fix(ci): update happyvertical workflows to use shared paths (#414)
  .github/workflows/happyvertical/on-issue-closed.yml
  .github/workflows/happyvertical/on-issue-opened.yml
  .github/workflows/happyvertical/on-label-changed.yml
  .github/workflows/happyvertical/on-merge-main.yml
  .github/workflows/happyvertical/on-pr-opened.yml
Due: none

fix(ci): rename reusable workflows with shared- prefix and add noop jobs
  .github/workflow-templates/on-issue-closed-template.yml
  .github/workflow-templates/on-issue-opened-template.yml
  .github/workflow-templates/on-label-changed-template.yml
  .github/workflow-templates/on-merge-main-template.yml
  .github/workflow-templates/on-pr-opened-template.yml
  .github/workflows/happyvertical/README.md
  .github/workflows/happyvertical/_metadata.json
  .github/workflows/happyvertical/on-issue-closed.yml
  .github/workflows/happyvertical/on-issue-opened.yml
  .github/workflows/happyvertical/on-label-changed.yml
  .github/workflows/happyvertical/on-merge-main.yml
  .github/workflows/happyvertical/on-pr-opened.yml
  .github/workflows/shared-agent-orchestrator.yml
  .github/workflows/shared-issue-closer.yml
  .github/workflows/shared-label-handler.yml
  .github/workflows/shared-merge-orchestrator.yml
  .github/workflows/shared-pr-handler.yml
  .github/workflows/shared-triage.yml
  CLAUDE.md
Due: format, lint

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
