Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

feat: prepare SDK packages for public npm publishing
  .changeset/config.json
  biome.json
  bun.lock
  lefthook.yml
  package.json
  scripts/update-package-versions.cjs
Due: format, lint

fix: consolidate to Docusaurus-only documentation and fix failing workflows
  docs/docusaurus.config.ts
  docs/sidebars.ts
  docs/typedoc.tsconfig.json
Due: format, lint

fix(ci): add missing deploy-docs.yml workflow file
  docs/.github/workflows/deploy-docs.yml
Due: none

fix(ci): move deploy-docs.yml to correct location
  .github/workflows/deploy-docs.yml
  docs/.github/workflows/deploy-docs.yml
Due: none

chore: complete Docusaurus consolidation cleanup
  .github/workflows/on-merged-main.yaml
  package.json
  scripts/generate-docs.js
  scripts/serve-docs.js
  typedoc.json
Due: format, lint

security: remove all git.grffn.net references from project
  .gitignore
  CHANGELOG.md
Due: none

fix(dependabot): update configuration for correct package manager and directories
  .github/dependabot.yml
Due: none

feat(dependabot): switch to native Bun package manager support
  .github/dependabot.yml
Due: none

feat(mcp): implement MCP development server and SMRT expert agent
  mcp/src/tools/generate-class.ts
  mcp/src/tools/generate-collection.ts
  mcp/src/tools/generate-fields.ts
  mcp/src/tools/preview-api.ts
  mcp/src/tools/validate-object.ts
  mcp/tsconfig.json
Due: format, lint

style: apply biome formatting to SMRT Svelte components
  smrt/content/src/app/App.svelte
  smrt/products/src/app/layouts/AppLayout.svelte
  smrt/products/src/app/pages/DemoPage.svelte
  smrt/products/src/lib/components/ProductCard.svelte
  smrt/products/src/lib/components/ProductForm.svelte
  smrt/products/src/lib/components/TestComponent.svelte
  smrt/products/src/lib/components/auto-generated/AutoForm.svelte
  smrt/products/src/lib/components/auto-generated/FieldRenderer.svelte
  smrt/products/src/lib/features/CategoryManager.svelte
  smrt/products/src/lib/features/ProductCatalog.svelte
Due: none

fix(products): resolve Svelte 5 variable binding and import errors
  packages/products/src/app/App.svelte
  packages/products/src/app/pages/DemoPage.svelte
  packages/products/src/lib/components/auto-generated/AutoForm.svelte
  packages/products/src/lib/components/auto-generated/FieldRenderer.svelte
Due: none

fix: standardize content and products packages to monorepo standards
  .gitignore
  packages/content/vite.config.d.ts
  packages/content/vite.config.d.ts.map
  packages/content/vite.config.js
  packages/content/vite.config.js.map
  packages/content/vitest.config.d.ts
  packages/content/vitest.config.d.ts.map
  packages/content/vitest.config.js
  packages/content/vitest.config.js.map
  packages/products/federation.config.d.ts
  packages/products/federation.config.d.ts.map
  packages/products/federation.config.js
  packages/products/src/lib/mock-smrt-client.ts
  packages/products/src/main.ts
  packages/products/src/mcp.ts
  packages/products/src/simple-server.ts
  packages/products/tsconfig.json
  packages/products/vite.config.d.ts
  packages/products/vite.config.js
  packages/products/vite.config.js.map
  tsconfig.json
Due: format, lint

fix: replace workspace dependencies with explicit versions for npm compatibility
  packages/ai/package.json
  packages/content/package.json
  packages/files/package.json
  packages/ocr/package.json
  packages/pdf/package.json
  packages/products/package.json
  packages/smrt/package.json
  packages/spider/package.json
  packages/sql/package.json
  scripts/validate-package-json.js
Due: format, lint, validate-package-json

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
