Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

chore: update @happyvertical dependencies
  pnpm-lock.yaml
Due: none

fix(ci): rename reusable workflows with shared- prefix and add noop jobs (#415)
  .github/workflow-templates/on-issue-closed-template.yml
  .github/workflow-templates/on-issue-opened-template.yml
  .github/workflow-templates/on-label-changed-template.yml
  .github/workflow-templates/on-merge-main-template.yml
  .github/workflow-templates/on-pr-opened-template.yml
  .github/workflows/happyvertical/README.md
  .github/workflows/happyvertical/_metadata.json
  .github/workflows/happyvertical/on-issue-closed.yml
  .github/workflows/happyvertical/on-issue-opened.yml
  .github/workflows/happyvertical/on-label-changed.yml
  .github/workflows/happyvertical/on-merge-main.yml
  .github/workflows/happyvertical/on-pr-opened.yml
  .github/workflows/shared-agent-orchestrator.yml
  .github/workflows/shared-issue-closer.yml
  .github/workflows/shared-label-handler.yml
  .github/workflows/shared-merge-orchestrator.yml
  .github/workflows/shared-pr-handler.yml
  .github/workflows/shared-triage.yml
  CLAUDE.md
Due: format, lint

fix(ci): remove incompatible push triggers from shared workflows
  .github/workflows/shared-agent-orchestrator.yml
  .github/workflows/shared-issue-closer.yml
  .github/workflows/shared-label-handler.yml
  .github/workflows/shared-merge-orchestrator.yml
  .github/workflows/shared-pr-handler.yml
  .github/workflows/shared-triage.yml
  .github/workflows/shared-workflows-validator.yml
Due: none

chore: add changeset for workflow fix
  .changeset/fix-workflow-validation-failures.md
Due: none

fix(ci): remove incompatible push triggers from shared workflows (#417)
  .changeset/fix-workflow-validation-failures.md
  .github/workflows/shared-agent-orchestrator.yml
  .github/workflows/shared-issue-closer.yml
  .github/workflows/shared-label-handler.yml
  .github/workflows/shared-merge-orchestrator.yml
  .github/workflows/shared-pr-handler.yml
  .github/workflows/shared-triage.yml
  .github/workflows/shared-workflows-validator.yml
Due: none

fix(sql): quote all column names in DuckDB/JSON UPSERT operations
  .changeset/fix-sql-upsert-quoting.md
  packages/sql/:memory:/poly_events.json
  packages/sql/:memory:/poly_events.schema.sql
  packages/sql/package.json
  packages/sql/src/duckdb.spec.ts
  packages/sql/src/duckdb.ts
  packages/sql/src/json-upsert.spec.ts
  packages/sql/src/json.ts
Due: format, lint, validate-package-json

fix(sql): quote all column names in DuckDB/JSON UPSERT operations (#419)
  .changeset/fix-sql-upsert-quoting.md
  packages/sql/:memory:/poly_events.json
  packages/sql/:memory:/poly_events.schema.sql
  packages/sql/package.json
  packages/sql/src/duckdb.spec.ts
  packages/sql/src/duckdb.ts
  packages/sql/src/json-upsert.spec.ts
  packages/sql/src/json.ts
Due: format, lint, validate-package-json

fix(ci): replace GITHUB_TOKEN with GH_TOKEN in shared workflows
  .changeset/fix-gh-token-usage.md
  .github/workflows/shared-agent-orchestrator.yml
  .github/workflows/shared-issue-closer.yml
  .github/workflows/shared-label-handler.yml
  .github/workflows/shared-merge-orchestrator.yml
  .github/workflows/shared-pr-handler.yml
  .github/workflows/shared-triage.yml
Due: none

fix(ci): replace GITHUB_TOKEN with GH_TOKEN in shared workflows (#420)
  .changeset/fix-gh-token-usage.md
  .github/workflows/shared-agent-orchestrator.yml
  .github/workflows/shared-issue-closer.yml
  .github/workflows/shared-label-handler.yml
  .github/workflows/shared-merge-orchestrator.yml
  .github/workflows/shared-pr-handler.yml
  .github/workflows/shared-triage.yml
Due: none

fix(ci): remove hashFiles() from workflow_call and simplify claude.yml prompt
  .changeset/fix-workflow-syntax-errors.md
  .github/workflows/claude.yml
  .github/workflows/shared-merge-orchestrator.yml
Due: none

fix(ci): remove hashFiles() from workflow_call and simplify claude.yml prompt (#421)
  .changeset/fix-workflow-syntax-errors.md
  .github/workflows/claude.yml
  .github/workflows/shared-merge-orchestrator.yml
Due: none

fix(ci): restore on-merge-main workflow to SDK repository
  .changeset/restore-on-merge-main-workflow.md
  .github/workflows/on-merge-main.yml
Due: none

fix(ci): restore on-merge-main workflow to SDK repository (#422)
  .changeset/restore-on-merge-main-workflow.md
  .github/workflows/on-merge-main.yml
Due: none

fix(ci): grant write permissions to on-merge-main workflow
  .changeset/fix-on-merge-main-permissions.md
  .github/workflows/on-merge-main.yml
Due: none

fix(ci): grant write permissions to on-merge-main workflow (#423)
  .changeset/fix-on-merge-main-permissions.md
  .github/workflows/on-merge-main.yml
Due: none

fix(ci): grant write permissions to shared-merge-orchestrator
  .changeset/fix-shared-orchestrator-permissions.md
  .github/workflows/shared-merge-orchestrator.yml
Due: none

fix(ci): grant write permissions to shared-merge-orchestrator (#424)
  .changeset/fix-shared-orchestrator-permissions.md
  .github/workflows/shared-merge-orchestrator.yml
Due: none

fix(ci): add pull-requests permission for version PR creation
  .changeset/add-pull-requests-permission.md
  .github/workflows/on-merge-main.yml
  .github/workflows/publish.yml
  .github/workflows/shared-merge-orchestrator.yml
Due: none

fix(ci): add pull-requests permission for version PR creation (#425)
  .changeset/add-pull-requests-permission.md
  .github/workflows/on-merge-main.yml
  .github/workflows/publish.yml
  .github/workflows/shared-merge-orchestrator.yml
Due: none

fix(ci): add reopened event to changeset check workflow
  .github/workflows/changeset-check.yml
Due: none

fix(ci): add reopened event to changeset check workflow (#427)
  .changeset/add-pull-requests-permission.md
  .github/workflows/changeset-check.yml
Due: none

chore: remove duplicate changeset file
  .changeset/add-pull-requests-permission.md
Due: none

feat(encryption): add unified encryption package with PGP, NaCl, and Node crypto adapters
  commitlint.config.js
  packages/encryption/CLAUDE.md
  packages/encryption/README.md
  packages/encryption/SECURITY.md
  packages/encryption/package.json
  packages/encryption/src/adapters/nacl.ts
  packages/encryption/src/adapters/node.ts
  packages/encryption/src/adapters/pgp.ts
  packages/encryption/src/index.ts
  packages/encryption/src/shared/base.ts
  packages/encryption/src/shared/errors.ts
  packages/encryption/src/shared/factory.ts
  packages/encryption/src/shared/types.ts
  packages/encryption/test/unit/errors.test.ts
  packages/encryption/test/unit/factory.test.ts
  packages/encryption/test/unit/file-operations.test.ts
  packages/encryption/test/unit/nacl.test.ts
  packages/encryption/test/unit/node.test.ts
  packages/encryption/test/unit/pgp-email.test.ts
  packages/encryption/test/unit/pgp.test.ts
  packages/encryption/tsconfig.json
  packages/encryption/vite.config.ts
  pnpm-lock.yaml
  vite.config.base.ts
Due: format, lint, validate-package-json

chore: add changeset for encryption package
  .changeset/add-encryption-package.md
Due: none

feat(encryption): Add unified encryption package (#431)
  .changeset/add-encryption-package.md
  commitlint.config.js
  packages/encryption/CLAUDE.md
  packages/encryption/README.md
  packages/encryption/SECURITY.md
  packages/encryption/package.json
  packages/encryption/src/adapters/nacl.ts
  packages/encryption/src/adapters/node.ts
  packages/encryption/src/adapters/pgp.ts
  packages/encryption/src/index.ts
  packages/encryption/src/shared/base.ts
  packages/encryption/src/shared/errors.ts
  packages/encryption/src/shared/factory.ts
  packages/encryption/src/shared/types.ts
  packages/encryption/test/unit/errors.test.ts
  packages/encryption/test/unit/factory.test.ts
  packages/encryption/test/unit/file-operations.test.ts
  packages/encryption/test/unit/nacl.test.ts
  packages/encryption/test/unit/node.test.ts
  packages/encryption/test/unit/pgp-email.test.ts
  packages/encryption/test/unit/pgp.test.ts
  packages/encryption/tsconfig.json
  packages/encryption/vite.config.ts
  pnpm-lock.yaml
  vite.config.base.ts
Due: format, lint, validate-package-json

feat(messages): add package specification and brainstorm notes
  commitlint.config.js
  packages/email/BRAINSTORM.md
  packages/messages/BRAINSTORM.md
  packages/messages/CLAUDE.md
Due: none

feat(messages): add package configuration and core type definitions
  packages/messages/package.json
  packages/messages/src/shared/types.ts
  packages/messages/tsconfig.json
  packages/messages/vite.config.ts
Due: format, lint, validate-package-json

feat(messages): implement Phase 1 core foundation
  packages/messages/src/index.ts
  packages/messages/src/shared/base.ts
  packages/messages/src/shared/errors.ts
  packages/messages/src/shared/factory.ts
Due: format, lint

test(messages): add comprehensive unit tests for Phase 1
  packages/messages/src/shared/base.ts
  packages/messages/test/unit/base.test.ts
  packages/messages/test/unit/errors.test.ts
  packages/messages/test/unit/factory.test.ts
  packages/messages/tsconfig.json
  packages/messages/vite.config.ts
Due: format, lint

feat(messages): implement SMTP adapter with Nodemailer
  packages/messages/package.json
  packages/messages/src/adapters/smtp.ts
  packages/messages/src/index.ts
  packages/messages/src/shared/factory.ts
  packages/messages/test/unit/factory.test.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

test(messages): add comprehensive SMTP adapter unit tests
  .commitlintrc.json
  packages/messages/src/adapters/smtp.ts
  packages/messages/test/unit/smtp.test.ts
Due: format, lint

feat(messages): implement IMAP adapter with ImapFlow
  packages/messages/package.json
  packages/messages/src/adapters/imap.ts
  packages/messages/src/index.ts
  packages/messages/src/shared/factory.ts
  packages/messages/test/unit/factory.test.ts
  packages/messages/test/unit/imap.test.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

chore(messages): add package integration
  .changeset/new-messages-package.md
  packages/messages/README.md
  tsconfig.json
Due: none

chore: update @happyvertical dependencies (#429)
  pnpm-lock.yaml
Due: none

feat(messages): complete Phase 5-8 implementation
  packages/messages/src/adapters/gmail.ts
  packages/messages/src/adapters/pop3.ts
  packages/messages/src/encryption/index.ts
  packages/messages/src/encryption/types.ts
  packages/messages/src/index.ts
  packages/messages/src/shared/base.ts
  packages/messages/src/shared/factory.ts
  packages/messages/src/shared/schema.ts
  packages/messages/test/unit/factory.test.ts
  packages/messages/test/unit/gmail.test.ts
  packages/messages/test/unit/pop3.test.ts
  packages/messages/test/unit/sync.test.ts
Due: format, lint

feat(messages): integrate encryption package for email encryption
  biome.json
  packages/messages/package.json
  packages/messages/src/adapters/gmail.ts
  packages/messages/src/adapters/imap.ts
  packages/messages/src/adapters/pop3.ts
  packages/messages/src/encryption/types.ts
  packages/messages/src/shared/base.ts
  packages/messages/src/shared/schema.ts
  packages/messages/test/integration/encryption.test.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

docs(messages): update CLAUDE.md with actual encryption capabilities
  packages/messages/CLAUDE.md
Due: none

fix(messages): improve email signature verification in encryption package
  packages/encryption/src/adapters/pgp.ts
  packages/encryption/src/shared/types.ts
Due: format, lint

test(messages): add SMTP and database sync integration tests
  biome.json
  packages/messages/package.json
  packages/messages/test/integration/smtp-imap.test.ts
  packages/messages/test/integration/sync.test.ts
Due: format, lint, validate-package-json

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
