Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

fix(release): update vite external packages from @have to @happyvertical
  vite.config.base.ts
Due: none

chore(release): 0.46.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7c80c808c40b4aa1b7876511006b00cd1807a8d3
Due: none

feat(sql): add SchemaProvider pattern to eliminate circular dependency
  packages/sql/src/duckdb.ts
  packages/sql/src/index.ts
  packages/sql/src/json.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite.ts
Due: format, lint

feat(ci): add issue templates with SOP checklists
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  CHANGELOG.md
  package.json
Due: none

chore(release): 0.47.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  10438f2a74b44bab40a3853ade6d7f8863b8a8de
Due: none

test(spider): increase timeout for BasicScraper test to 15s
  packages/spider/src/scrapers/scrapers.spec.ts
Due: format, lint

fix(ai): accept AIClientOptions in getAI() for backward compatibility
  packages/ai/src/shared/factory.ts
Due: format, lint

fix(sql): validate conflict columns in upsert operations
  packages/sql/src/duckdb.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
  packages/sql/src/sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

chore(release): 0.47.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6a86e0a7dc9e09efd476069be877efdb31ac3efd
Due: none

fix(sql): preserve UUID strings in DuckDB JSON export/import cycle
  packages/sql/src/json.spec.ts
  packages/sql/src/json.ts
Due: format, lint

chore(release): 0.47.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0e141020385451d2f84c71308e9197bdbf063fa3
Due: none

refactor(sql): standardize database adapters to use url property
  packages/github-actions/src/triage/analyze.ts
  packages/sql/src/duckdb.ts
  packages/sql/src/json.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite.ts
  packages/utils/src/config/env-config.ts
Due: format, lint

feat(sql): add delete() and count() methods to DatabaseInterface
  packages/sql/src/duckdb.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite.ts
Due: format, lint

chore(release): 0.48.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8a636f883f76def9174343f1a4df138809ffeea7
Due: none

docs: comprehensive documentation audit and fixes
  CLAUDE.md
  README.md
  docs/content/sql.md
  packages/cache/CLAUDE.md
  packages/documents/CLAUDE.md
  packages/logger/CLAUDE.md
  packages/sdk-mcp/CLAUDE.md
  packages/sdk-mcp/src/registry.ts
  packages/spider/CLAUDE.md
  packages/sql/CLAUDE.md
  packages/sql/README.md
  packages/translator/CLAUDE.md
Due: format, lint

chore(release): 0.48.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  9155aaf04be11e40cf7790984d23b435f4d41917
Due: none

fix(sql): convert UNIQUE indexes to inline constraints for DuckDB
  packages/sql/src/duckdb.ts
  packages/sql/src/json-upsert.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/duckdb-schema-utils.test.ts
  packages/sql/src/shared/duckdb-schema-utils.ts
Due: format, lint

chore(release): 0.48.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7078e9962ed522cba0c43972c6666a4946161ee2
Due: none

fix(sql): DuckDB schema transformation for inline UNIQUE constraints
  packages/sql/src/duckdb.ts
  packages/sql/src/index.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/duckdb-schema-utils.ts
Due: format, lint

test(sql): update duckdb-schema-utils tests for quoted column names
  packages/sql/src/shared/duckdb-schema-utils.test.ts
Due: format, lint

fix(sql): convert DuckDB timestamp objects to Date in JSON adapter
  packages/sql/src/json-date-serialization.spec.ts
  packages/sql/src/json.ts
Due: format, lint

chore(release): 0.48.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  246e754aede8ad2a3d6160e4477d93e6cbef1cec
Due: none

feat(weather): add weather data provider package
  .commitlintrc.json
  packages/sdk-mcp/src/registry.ts
  packages/weather/CLAUDE.md
  packages/weather/README.md
  packages/weather/package.json
  packages/weather/src/__tests__/environment-canada.spec.ts
  packages/weather/src/index.ts
  packages/weather/src/providers/environment-canada.ts
  packages/weather/src/providers/openweathermap-onecall.ts
  packages/weather/src/providers/openweathermap.ts
  packages/weather/src/shared/types.ts
  packages/weather/src/shared/utils.ts
  packages/weather/tsconfig.json
  packages/weather/typedoc.json
  packages/weather/vite.config.ts
  packages/weather/vitest.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

test(weather): add integration tests for OpenWeatherMap providers
  packages/weather/src/__tests__/openweathermap-onecall.spec.ts
  packages/weather/src/__tests__/openweathermap.spec.ts
Due: format, lint

chore(release): 0.49.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0953cf065bb88715234097f45b2a56a64bb982c6
Due: none

fix(ai): claude-cli provider now handles responseFormat option
  packages/ai/src/shared/providers/claude-cli.ts
Due: format, lint

chore(release): 0.49.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  529e6d6978e6db5ebd26cc4e94e4530e0bdc621c
Due: none

fix(weather): remove hardcoded API key from tests (security)
  packages/weather/src/__tests__/openweathermap-onecall.spec.ts
  packages/weather/src/__tests__/openweathermap.spec.ts
Due: format, lint

feat(ci): migrate monorepo to Turborepo
  .github/workflows/on-merge-main.yml
  .github/workflows/test-suite.yml
  CLAUDE.md
  CONTRIBUTING.md
  package.json
  packages/sdk-mcp/package.json
  pnpm-lock.yaml
  turbo.json
Due: format, lint, validate-package-json
