Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

ci(ci): shallow clone exhaustive validation
  .github/workflows/test.yml
Due: none

fix(ci): limit affected checkout to PR parents
  .github/workflows/test.yml
Due: none

ci(ci): shallow clone exhaustive validation (#1078)
  .github/workflows/test.yml
Due: none

fix(ci): share Vitest config with package tests
  .github/CI.md
  .github/workflows/on-pull-request.yml
  .github/workflows/test.yml
  packages/accounting/package.json
  packages/ai/package.json
  packages/analytics/package.json
  packages/auth/package.json
  packages/cache/package.json
  packages/comfyui/package.json
  packages/directory/package.json
  packages/documents/package.json
  packages/email/package.json
  packages/encryption/package.json
  packages/files/package.json
  packages/geo/package.json
  packages/github-actions/package.json
  packages/graphql/package.json
  packages/images/package.json
  packages/jobs/package.json
  packages/json/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/payments/package.json
  packages/projects/package.json
  packages/repos/package.json
  packages/sdk-mcp/package.json
  packages/secrets/package.json
  packages/social/package.json
  packages/speech/package.json
  packages/sql/package.json
  packages/translator/package.json
  packages/utils/package.json
  packages/video/package.json
  packages/weather/package.json
  scripts/vitest-config.test.mjs
  tsconfig.json
  turbo.json
  vitest.config.ts
  vitest.package.config.ts
  vitest.shared.ts
Due: format, lint, validate-package-json

fix(ci): share Vitest config with package tests (#1081)
  .github/CI.md
  .github/workflows/on-pull-request.yml
  .github/workflows/test.yml
  packages/accounting/package.json
  packages/ai/package.json
  packages/analytics/package.json
  packages/auth/package.json
  packages/cache/package.json
  packages/comfyui/package.json
  packages/directory/package.json
  packages/documents/package.json
  packages/email/package.json
  packages/encryption/package.json
  packages/files/package.json
  packages/geo/package.json
  packages/github-actions/package.json
  packages/graphql/package.json
  packages/images/package.json
  packages/jobs/package.json
  packages/json/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/payments/package.json
  packages/projects/package.json
  packages/repos/package.json
  packages/sdk-mcp/package.json
  packages/secrets/package.json
  packages/social/package.json
  packages/speech/package.json
  packages/sql/package.json
  packages/translator/package.json
  packages/utils/package.json
  packages/video/package.json
  packages/weather/package.json
  scripts/vitest-config.test.mjs
  tsconfig.json
  turbo.json
  vitest.config.ts
  vitest.package.config.ts
  vitest.shared.ts
Due: format, lint, validate-package-json

fix(projects): map GitHub board item details
  .changeset/fuzzy-cards-render.md
  packages/projects/README.md
  packages/projects/src/github/index.test.ts
  packages/projects/src/github/index.ts
  packages/projects/src/types.ts
Due: format, lint

feat(files): inspect ZIP manifests safely
  .changeset/secure-zips-wave.md
  packages/files/README.md
  packages/files/src/archive.test.ts
  packages/files/src/archive.ts
  packages/files/src/index.ts
Due: format, lint

fix(ci): ignore private package version drift
  scripts/validate-workspace-consistency.js
  scripts/validate-workspace-consistency.test.mjs
Due: format, lint

fix(files): validate ZIP path and size conflicts
  packages/files/README.md
  packages/files/src/archive.test.ts
  packages/files/src/archive.ts
Due: format, lint

fix(files): reject conflicting ZIP entry types
  packages/files/README.md
  packages/files/src/archive.test.ts
  packages/files/src/archive.ts
Due: format, lint

fix(files): reject NTFS alternate data streams
  packages/files/README.md
  packages/files/src/archive.test.ts
  packages/files/src/archive.ts
Due: format, lint

fix(files): reject unsafe ZIP entry layouts
  packages/files/README.md
  packages/files/src/archive.test.ts
  packages/files/src/archive.ts
Due: format, lint

fix(files): reject ambiguous ZIP end records
  packages/files/README.md
  packages/files/src/archive.test.ts
  packages/files/src/archive.ts
Due: format, lint

fix(files): reject non-portable ZIP paths
  .changeset/secure-zips-wave.md
  packages/files/README.md
  packages/files/src/archive.test.ts
  packages/files/src/archive.ts
Due: format, lint

fix(files): reject hidden ZIP local entries
  .changeset/secure-zips-wave.md
  packages/files/README.md
  packages/files/src/archive.test.ts
  packages/files/src/archive.ts
Due: format, lint

fix(files): reject alternate ZIP path encodings
  .changeset/secure-zips-wave.md
  packages/files/README.md
  packages/files/src/archive.test.ts
  packages/files/src/archive.ts
Due: format, lint

fix(files): gate ZIP modes by creator OS
  .changeset/secure-zips-wave.md
  packages/files/README.md
  packages/files/src/archive.test.ts
  packages/files/src/archive.ts
Due: format, lint

fix(files): close ZIP stream ambiguities
  .changeset/secure-zips-wave.md
  packages/files/README.md
  packages/files/src/archive.test.ts
  packages/files/src/archive.ts
Due: format, lint

fix(files): reject ambiguous BOM paths
  .changeset/secure-zips-wave.md
  packages/files/README.md
  packages/files/src/archive.test.ts
  packages/files/src/archive.ts
Due: format, lint

fix(files): reject ZIP data descriptors
  .changeset/secure-zips-wave.md
  packages/files/README.md
  packages/files/src/archive.test.ts
  packages/files/src/archive.ts
Due: format, lint

fix(files): reject ZIP data descriptors
  .changeset/reject-zip-data-descriptors.md
  packages/files/README.md
  packages/files/src/archive.test.ts
  packages/files/src/archive.ts
Due: format, lint

feat(ai): add runaway spend guardrails
  .changeset/safe-ai-spend-guardrails.md
  packages/ai/README.md
  packages/ai/src/index.ts
  packages/ai/src/providers.test.ts
  packages/ai/src/rate-limit.test.ts
  packages/ai/src/safety.test.ts
  packages/ai/src/shared/factory.ts
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/bifrost.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/litellm.ts
  packages/ai/src/shared/providers/ollama.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/rate-limit.ts
  packages/ai/src/shared/safety.ts
  packages/ai/src/shared/types.ts
Due: format, lint

fix(ai): keep reasoning opt-in and time image fetches
  packages/ai/README.md
  packages/ai/src/providers.test.ts
  packages/ai/src/safety.test.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/safety.ts
Due: format, lint

chore: standardize pnpm to 11.13.0
  .devcontainer/Dockerfile
  .github/CI.md
  .github/workflows/node-runner-smoke.yml
  package.json
Due: none

chore: apply org toolchain standards
  docs/package.json
  package.json
  packages/accounting/package.json
  packages/ai/package.json
  packages/analytics/package.json
  packages/auth/package.json
  packages/cache/package.json
  packages/comfyui/package.json
  packages/directory/package.json
  packages/documents/package.json
  packages/email/package.json
  packages/encryption/package.json
  packages/files/package.json
  packages/geo/package.json
  packages/github-actions/package.json
  packages/graphql/package.json
  packages/images/package.json
  packages/jobs/package.json
  packages/json/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/payments/package.json
  packages/projects/package.json
  packages/repos/package.json
  packages/sdk-mcp/package.json
  packages/secrets/package.json
  packages/social/package.json
  packages/speech/package.json
  packages/sql/package.json
  packages/translator/package.json
  packages/utils/package.json
  packages/video/package.json
  packages/weather/package.json
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(signatures): remove undocumented BoldSign event mapping
  packages/signatures/src/adapters/boldsign.ts
  packages/signatures/src/boldsign.test.ts
Due: format, lint

chore(signatures): align new package with org toolchain standards
  packages/signatures/package.json
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(deps): upgrade Sharp and BullMQ
  .changeset/fresh-video-jobs.md
  packages/images/package.json
  packages/images/src/adapters.test.ts
  packages/images/src/adapters/sharp.ts
  packages/jobs/package.json
  packages/jobs/src/adapters/bullmq.test.ts
  packages/video/package.json
  packages/video/src/index.spec.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, validate-package-json

ci: route general jobs through shared Linux pool
  .github/CI.md
  .github/actionlint.yaml
  .github/workflows/build.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/postgres-tests.yml
  .github/workflows/publish-dry-run.yml
  .github/workflows/publish.yml
  .github/workflows/shared-direct-publish.yml
  .github/workflows/test.yml
Due: none

fix(documents): accept OCR 0.61
  .changeset/calm-documents-ocr.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/documents-dependency-contract.test.mjs
Due: format, lint

chore(ci): migrate agent workflows to the generation-3 split layout
  .agents/project.yaml
  .github/workflows/agent-policy.yml
  .github/workflows/build-json-native.yml
  .github/workflows/dependabot-automation.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/publish-dry-run.yml
  .github/workflows/publish.yml
Due: none

chore(ci): migrate agent workflows to the generation-3 split layout (#1103)
  .agents/project.yaml
  .github/workflows/agent-policy.yml
  .github/workflows/build-json-native.yml
  .github/workflows/dependabot-automation.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/publish-dry-run.yml
  .github/workflows/publish.yml
Due: none

fix: migrate generation 5 lifecycle
  .github/workflows/agent-policy.yml
Due: none

fix: isolate PR metadata from merge groups
  .github/workflows/on-pull-request.yml
Due: none

fix: migrate generation 5 lifecycle (#1105)
  .github/workflows/agent-policy.yml
  .github/workflows/on-pull-request.yml
Due: none

docs: document managed merge queue
  README.md
Due: none

ci: switch lifecycle workflow to diagnostic
  .agents/project.yaml
  .github/workflows/agent-policy.yml
  AGENTS.md
Due: none

docs: prepare diagnostic lifecycle cutover (#1107)
  .agents/project.yaml
  .github/workflows/agent-policy.yml
  AGENTS.md
  README.md
Due: none

fix(sql): stop postgres pool crashes and transaction connection leaks
  .changeset/postgres-connection-lifecycle-hardening.md
  packages/sql/src/postgres-connection-lifecycle.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
