Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

feat(ai): add onUsage callback and usageTags for usage tracking
  packages/ai/CLAUDE.md
  packages/ai/README.md
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/claude-cli.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/types.ts
  packages/ai/src/usage.test.ts
Due: format, lint

feat(config): bootstrap .agents configuration for core packages (#878)
  .agents/rules/documentation.md
  .agents/rules/downstream-awareness.md
  .agents/rules/strict-typing.md
  .agents/skills/protocol-guardian.md
  .agents/skills/test-automator.md
  packages/documents/src/processors/pdf.test.ts
Due: format, lint

fix(ai): forward usageTags through complete() and message() delegations
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/claude-cli.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/openai.ts
Due: format, lint

refactor(ai): extract shared emitUsage helper and fix HuggingFace stream
  docs/scripts/copy-readmes.mjs
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/claude-cli.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/providers/usage.ts
  packages/ai/src/usage.test.ts
Due: format, lint

feat(ai): add onUsage callback and usageTags for usage tracking (#898)
  docs/scripts/copy-readmes.mjs
  packages/ai/CLAUDE.md
  packages/ai/README.md
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/claude-cli.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/providers/usage.ts
  packages/ai/src/shared/types.ts
  packages/ai/src/usage.test.ts
Due: format, lint

docs: update root README.md
  README.md
Due: none

docs: update root README (#901)
  README.md
Due: none

fix: unblock documentation builds
  .github/workflows/on-pull-request.yml
  docs/docs.backup/index.md
  docs/docusaurus.config.ts
  docs/package.json
  docs/scripts/copy-readmes.mjs
Due: format, lint, validate-package-json

fix(sql): normalize named memory URLs
  .changeset/clean-memory-urls.md
  packages/sql/:memory:/poly_events.json
  packages/sql/:memory:/poly_events.schema.sql
  packages/sql/src/index.spec.ts
  packages/sql/src/index.ts
  packages/sql/src/json.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/memory-url.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix: unblock documentation builds (#899)
  .github/workflows/on-pull-request.yml
  docs/docs.backup/index.md
  docs/docusaurus.config.ts
  docs/package.json
  docs/scripts/copy-readmes.mjs
Due: format, lint, validate-package-json

fix(ci): remove --parallel flag from tests and fix docs script
  .github/workflows/test.yml
  docs/package.json
Due: format, lint, validate-package-json

fix(analytics): repair GA4 property discovery
  packages/analytics/src/index.ts
  packages/analytics/src/shared/providers/ga4.test.ts
  packages/analytics/src/shared/providers/ga4.ts
  packages/analytics/src/shared/providers/plausible.ts
  packages/analytics/src/shared/types.ts
Due: format, lint

chore(config): align SOPS config with anytown.ai
  .sops.yaml
Due: none

fix(analytics): bound GA4 hydration requests
  packages/analytics/src/shared/providers/ga4.test.ts
  packages/analytics/src/shared/providers/ga4.ts
  packages/analytics/src/shared/types.ts
Due: format, lint

Fix GA4 property discovery and align SOPS config (#904)
  .sops.yaml
  packages/analytics/src/index.ts
  packages/analytics/src/shared/providers/ga4.test.ts
  packages/analytics/src/shared/providers/ga4.ts
  packages/analytics/src/shared/providers/plausible.ts
  packages/analytics/src/shared/types.ts
Due: format, lint

fix(ci): harden squash-merge release detection
  .github/workflows/on-pull-request.yml
  scripts/auto-changeset.ts
  scripts/validate-conventional-commits.js
Due: format, lint

fix(ci): harden squash-merge release detection (#905)
  .github/workflows/on-pull-request.yml
  scripts/auto-changeset.ts
  scripts/validate-conventional-commits.js
Due: format, lint

fix(ci): fallback to release sync PR on protected main
  .github/workflows/shared-direct-publish.yml
Due: none

fix(ci): fallback to release sync PR on protected main (#906)
  .github/workflows/shared-direct-publish.yml
Due: none

fix(release): republish analytics with GA4 fix
  .changeset/ga4-republish-908.md
Due: none

fix(release): republish analytics with GA4 fix (#909)
  .changeset/ga4-republish-908.md
Due: none

feat(files): add S3 filesystem provider
  packages/files/package.json
  packages/files/src/factory.ts
  packages/files/src/index.ts
  packages/files/src/providers/s3.spec.ts
  packages/files/src/providers/s3.ts
  packages/files/src/shared/factory.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(files): harden S3 provider semantics and add MinIO coverage
  ecosystem-manifest.json
  packages/files/AGENT.md
  packages/files/metadata.json
  packages/files/src/providers/s3.minio.spec.ts
  packages/files/src/providers/s3.spec.ts
  packages/files/src/providers/s3.ts
Due: format, lint

fix(files): address S3 review feedback
  packages/files/src/factory.spec.ts
  packages/files/src/factory.ts
  packages/files/src/providers/s3.minio.spec.ts
  packages/files/src/providers/s3.spec.ts
  packages/files/src/providers/s3.ts
  packages/files/src/shared/factory.ts
Due: format, lint

feat(files): add S3 filesystem provider (#912)
  ecosystem-manifest.json
  packages/files/AGENT.md
  packages/files/metadata.json
  packages/files/package.json
  packages/files/src/factory.spec.ts
  packages/files/src/factory.ts
  packages/files/src/index.ts
  packages/files/src/providers/s3.minio.spec.ts
  packages/files/src/providers/s3.spec.ts
  packages/files/src/providers/s3.ts
  packages/files/src/shared/factory.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(ci): publish context bins and validate artifacts
  .github/workflows/shared-direct-publish.yml
  .github/workflows/shared-merge-orchestrator.yml
  .github/workflows/test-suite.yml
  .github/workflows/test.yml
  package.json
  packages/github-actions/vite.config.ts
  packages/graphql/vite.config.ts
  packages/jobs/vite.config.ts
  packages/json/vite.config.ts
  packages/logger/vite.config.ts
  packages/projects/vite.config.ts
  packages/repos/vite.config.ts
  packages/sdk-mcp/vite.config.ts
  packages/utils/vite.config.ts
  packages/weather/vite.config.ts
  scripts/validate-build.js
  vite.config.base.ts
Due: format, lint

test(weather): move live API specs out of ci
  packages/weather/package.json
  packages/weather/src/__tests__/openweathermap-onecall.optional.test.ts
  packages/weather/src/__tests__/openweathermap.optional.test.ts
  packages/weather/vitest.config.ts
Due: format, lint, validate-package-json

test(weather): remove optional test lint warnings
  packages/weather/src/__tests__/openweathermap-onecall.optional.test.ts
  packages/weather/src/__tests__/openweathermap.optional.test.ts
Due: format, lint

fix(ci): invalidate build cache on shared vite changes
  turbo.json
Due: none

fix(ci): address review feedback
  .github/workflows/publish.yml
  .github/workflows/shared-merge-orchestrator.yml
  packages/json/vite.config.ts
  scripts/validate-build.js
Due: format, lint

fix(ci): always run documentation review checks
  .github/workflows/doc-review.yml
Due: none

fix(ci): use mounted pnpm store on ARC runners
  .github/actions/setup-environment/action.yml
  .github/workflows/claude.yml
  .github/workflows/on-pr-main-dependabot.yml
  .github/workflows/test-suite.yml
Due: none

fix(ci): scope pnpm store config globally
  .github/actions/setup-environment/action.yml
  .github/workflows/claude.yml
  .github/workflows/on-pr-main-dependabot.yml
  .github/workflows/test-suite.yml
Due: none

chore(release): republish context installer bins
  .changeset/republish-context-bins.md
Due: none

feat(ai): add opt-in rate limit pacing
  packages/ai/README.md
  packages/ai/src/rate-limit.test.ts
  packages/ai/src/shared/client.ts
  packages/ai/src/shared/factory.ts
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/rate-limit.ts
  packages/ai/src/shared/types.ts
  packages/ai/src/types.test.ts
Due: format, lint

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
