Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

fix(ci): stop a second merge to main cancelling an in-flight publish (#1177)
  .github/workflows/dependabot-automation.yml
  .github/workflows/on-merge-main.yml
Due: none

fix(deps): resolve @happyvertical/pdf to 0.65.9 for pre-AVX2 safety
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/documents-dependency-contract.test.mjs
Due: format, lint

fix(deps): resolve @happyvertical/pdf to 0.65.9 for pre-AVX2 safety (#1184)
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/documents-dependency-contract.test.mjs
Due: format, lint

fix(ai): abort-signal handling, limiter atomicity, and node getAIAuto reachability
  packages/ai/package.json
  packages/ai/src/node.ts
  packages/ai/src/shared/providers/byteplus-modelark.ts
  packages/ai/src/shared/providers/openai-compat-video.ts
  packages/ai/src/video-generation.test.ts
  packages/ai/vite.config.ts
Due: format, lint, validate-package-json

feat(ai): add async video-generation job abstraction (Veo, Seedance, OpenAI-compat)
  packages/ai/README.md
  packages/ai/package.json
  packages/ai/src/byteplus-modelark.integration.test.ts
  packages/ai/src/integration.test.ts
  packages/ai/src/node/factory.ts
  packages/ai/src/providers.test.ts
  packages/ai/src/shared/factory.ts
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/bifrost.ts
  packages/ai/src/shared/providers/byteplus-modelark.ts
  packages/ai/src/shared/providers/claude-cli.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/litellm.ts
  packages/ai/src/shared/providers/ollama.ts
  packages/ai/src/shared/providers/openai-compat-video.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/providers/qwen-tts.ts
  packages/ai/src/shared/rate-limit.ts
  packages/ai/src/shared/safety.ts
  packages/ai/src/shared/types.ts
  packages/ai/src/video-generation.test.ts
Due: format, lint, validate-package-json

ci(github-actions): replace retired macos-13 runner label with macos-15-intel
  .github/workflows/build-json-native.yml
  scripts/validate-workflow-runners.mjs
  scripts/validate-workflow-runners.test.mjs
Due: format, lint

feat(ai): add async video-generation jobs across providers (#1182)
  packages/ai/README.md
  packages/ai/package.json
  packages/ai/src/byteplus-modelark.integration.test.ts
  packages/ai/src/integration.test.ts
  packages/ai/src/node.ts
  packages/ai/src/node/factory.ts
  packages/ai/src/providers.test.ts
  packages/ai/src/shared/factory.ts
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/bifrost.ts
  packages/ai/src/shared/providers/byteplus-modelark.ts
  packages/ai/src/shared/providers/claude-cli.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/litellm.ts
  packages/ai/src/shared/providers/ollama.ts
  packages/ai/src/shared/providers/openai-compat-video.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/providers/qwen-tts.ts
  packages/ai/src/shared/rate-limit.ts
  packages/ai/src/shared/safety.ts
  packages/ai/src/shared/types.ts
  packages/ai/src/video-generation.test.ts
  packages/ai/vite.config.ts
Due: format, lint, validate-package-json

test(ci): harden runner label extraction against YAML form gaps
  scripts/validate-workflow-runners.mjs
  scripts/validate-workflow-runners.test.mjs
Due: format, lint

test(ci): cover block-sequence matrix os and same-indent block items
  scripts/validate-workflow-runners.mjs
  scripts/validate-workflow-runners.test.mjs
Due: format, lint

test(ci): keep include os entries out of block regions, tolerate comments
  scripts/validate-workflow-runners.mjs
  scripts/validate-workflow-runners.test.mjs
Due: format, lint

test(ci): normalize CRLF before scanning workflow runner labels
  scripts/validate-workflow-runners.mjs
  scripts/validate-workflow-runners.test.mjs
Due: format, lint

ci(github-actions): replace retired macos-13 runner label with macos-15-intel (#1186)
  .github/workflows/build-json-native.yml
  scripts/validate-workflow-runners.mjs
  scripts/validate-workflow-runners.test.mjs
Due: format, lint

feat(repos): add buzz forge transport and normalization
  .changeset/buzz-forge-adapter.md
  packages/repos/package.json
  packages/repos/src/buzz/events.test.ts
  packages/repos/src/buzz/events.ts
  packages/repos/src/buzz/fixtures.ts
  packages/repos/src/buzz/index.ts
  packages/repos/src/buzz/relay.ts
  packages/repos/src/buzz/types.ts
  packages/repos/src/index.ts
Due: format, lint, validate-package-json

fix(repos): harden buzz forge verification
  packages/repos/README.md
  packages/repos/src/buzz/events.test.ts
  packages/repos/src/buzz/events.ts
  packages/repos/src/buzz/fixtures.ts
  packages/repos/src/buzz/relay.ts
  pnpm-lock.yaml
Due: format, lint

docs(repos): refresh buzz agent context
  ecosystem-manifest.json
  packages/repos/AGENT.md
  packages/repos/metadata.json
Due: format, lint

feat(repos): buzz forge transport for Work #171 (#1188)
  .changeset/buzz-forge-adapter.md
  ecosystem-manifest.json
  packages/repos/AGENT.md
  packages/repos/README.md
  packages/repos/metadata.json
  packages/repos/package.json
  packages/repos/src/buzz/events.test.ts
  packages/repos/src/buzz/events.ts
  packages/repos/src/buzz/fixtures.ts
  packages/repos/src/buzz/index.ts
  packages/repos/src/buzz/relay.ts
  packages/repos/src/buzz/types.ts
  packages/repos/src/index.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(sql): serialize sibling nested savepoints
  packages/sql/README.md
  packages/sql/src/postgres-nested-transaction.spec.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
Due: format, lint

fix(sql): drain queued nested savepoints before teardown
  packages/sql/src/postgres-nested-transaction.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint

fix(sql): serialize sibling nested savepoints (#1191)
  packages/sql/README.md
  packages/sql/src/postgres-nested-transaction.spec.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
Due: format, lint

fix(sql): make connection caching credential safe
  packages/sql/README.md
  packages/sql/src/connection-cache-policy.spec.ts
  packages/sql/src/duckdb.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/connection-cache.ts
  packages/sql/src/shared/duckdb-resources.ts
  packages/sql/src/shared/redact-database-url.ts
  packages/sql/src/shared/sqlite-connection-cache.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite-capabilities.spec.ts
  packages/sql/src/sqlite-native.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(ci): repair canonical agent policy drift
  .agents/project.yaml
  .github/workflows/agent-policy.yml
  AGENTS.md
Due: none

fix(ci): repair canonical agent policy drift (#1196)
  .agents/project.yaml
  .github/workflows/agent-policy.yml
  AGENTS.md
Due: none

fix(sql): address connection cache review feedback
  packages/sql/README.md
  packages/sql/src/connection-cache-policy.spec.ts
  packages/sql/src/insert-column-binding.spec.ts
  packages/sql/src/json-cross-table.spec.ts
  packages/sql/src/json-identifier-quoting.spec.ts
  packages/sql/src/json-load-errors.spec.ts
  packages/sql/src/json-lost-update.spec.ts
  packages/sql/src/json-numeric-export.spec.ts
  packages/sql/src/json-ragged-records.spec.ts
  packages/sql/src/json-sti-columns.spec.ts
  packages/sql/src/json-system-tables.spec.ts
  packages/sql/src/json-upsert.spec.ts
  packages/sql/src/json.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/redact-database-url.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): make connection caching credential safe (#1194)
  packages/sql/README.md
  packages/sql/src/connection-cache-policy.spec.ts
  packages/sql/src/duckdb.ts
  packages/sql/src/insert-column-binding.spec.ts
  packages/sql/src/json-cross-table.spec.ts
  packages/sql/src/json-identifier-quoting.spec.ts
  packages/sql/src/json-load-errors.spec.ts
  packages/sql/src/json-lost-update.spec.ts
  packages/sql/src/json-numeric-export.spec.ts
  packages/sql/src/json-ragged-records.spec.ts
  packages/sql/src/json-sti-columns.spec.ts
  packages/sql/src/json-system-tables.spec.ts
  packages/sql/src/json-upsert.spec.ts
  packages/sql/src/json.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/connection-cache.ts
  packages/sql/src/shared/duckdb-resources.ts
  packages/sql/src/shared/redact-database-url.ts
  packages/sql/src/shared/sqlite-connection-cache.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite-capabilities.spec.ts
  packages/sql/src/sqlite-native.ts
  packages/sql/src/sqlite.ts
Due: format, lint

ci: migrate actions to Node 24 runtimes
  .github/actions/setup-environment/action.yml
  .github/workflows/build-json-native.yml
  .github/workflows/build.yml
  .github/workflows/dependabot-automation.yml
  .github/workflows/node-runner-smoke.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/postgres-tests.yml
  .github/workflows/publish-dry-run.yml
  .github/workflows/publish.yml
  .github/workflows/shared-direct-publish.yml
  .github/workflows/shared-project-sync.yml
  .github/workflows/test.yml
Due: none

ci: consume Node 24 policy action
  .github/workflows/agent-policy.yml
  .github/workflows/publish.yml
Due: none

ci: use runner-provided actionlint
  .github/workflows/on-pull-request.yml
Due: none

fix(utils): make environment loading browser safe
  .changeset/fuzzy-mice-smile.md
  packages/logger/src/index.test.ts
  packages/utils/src/config/env-config.test.ts
  packages/utils/src/config/env-config.ts
  packages/utils/src/shared/universal.test.ts
  packages/utils/src/shared/universal.ts
Due: format, lint

fix(utils): make environment loading browser safe (#1199)
  .changeset/fuzzy-mice-smile.md
  packages/logger/src/index.test.ts
  packages/utils/src/config/env-config.test.ts
  packages/utils/src/config/env-config.ts
  packages/utils/src/shared/universal.test.ts
  packages/utils/src/shared/universal.ts
Due: format, lint

feat(ai): add Seevio Seedance video provider
  .changeset/bright-seevio-video.md
  packages/ai/README.md
  packages/ai/src/node/factory.ts
  packages/ai/src/shared/factory.ts
  packages/ai/src/shared/providers/seevio.ts
  packages/ai/src/shared/rate-limit.ts
  packages/ai/src/shared/types.ts
  packages/ai/src/video-generation.test.ts
Due: format, lint

fix(ai): address Seevio review feedback
  packages/ai/src/shared/providers/seevio.ts
  packages/ai/src/shared/rate-limit.ts
  packages/ai/src/video-generation.test.ts
Due: format, lint

fix(ai): close Seevio abort signal race
  packages/ai/src/shared/providers/seevio.ts
  packages/ai/src/video-generation.test.ts
Due: format, lint

feat(ai): add Seevio Seedance video provider (#1201)
  .changeset/bright-seevio-video.md
  packages/ai/README.md
  packages/ai/src/node/factory.ts
  packages/ai/src/shared/factory.ts
  packages/ai/src/shared/providers/seevio.ts
  packages/ai/src/shared/rate-limit.ts
  packages/ai/src/shared/types.ts
  packages/ai/src/video-generation.test.ts
Due: format, lint

feat(secrets): add fail-closed credential custody
  .changeset/quiet-pandas-guard.md
  packages/secrets/README.md
  packages/secrets/src/__tests__/custody.test.ts
  packages/secrets/src/__tests__/database-store.test.ts
  packages/secrets/src/adapters/database.ts
  packages/secrets/src/index.ts
  packages/secrets/src/shared/custody.ts
  packages/secrets/src/shared/factory.ts
Due: format, lint

build(secrets): prepare git dependencies
  packages/secrets/package.json
Due: format, lint, validate-package-json

fix(secrets): pack workspace deps for git installs
  packages/secrets/package.json
  packages/secrets/scripts/prepare-git-dependency.mjs
Due: format, lint, validate-package-json

fix(secrets): detect git prepare staging roots
  packages/secrets/scripts/prepare-git-dependency.mjs
Due: format, lint

test(secrets): stabilize child timeout coverage
  packages/secrets/src/__tests__/custody.test.ts
Due: format, lint

fix(secrets): verify child process group cleanup
  packages/secrets/README.md
  packages/secrets/src/__tests__/custody.test.ts
  packages/secrets/src/shared/custody.ts
Due: format, lint

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
