Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

feat(spider): add integration tests and improve AccordionHarvester for hierarchical structures
  packages/core/spider/src/harvesters/accordion.ts
  packages/core/spider/src/harvesters/directory-accordion.diagnostic.test.ts
  packages/core/spider/src/harvesters/harvesters.integration.test.ts
Due: format, lint

refactor(spider): rename AccordionHarvester to TreeHarvester
  packages/core/spider/src/harvesters/directory-accordion.diagnostic.test.ts
  packages/core/spider/src/harvesters/harvesters.integration.test.ts
  packages/core/spider/src/harvesters/harvesters.spec.ts
  packages/core/spider/src/harvesters/tree.ts
  packages/core/spider/src/shared/harvester-factory.ts
  packages/core/spider/src/shared/types.ts
Due: format, lint

fix(spider): resolve build errors after TreeHarvester rename
  packages/core/spider/src/harvesters/tree.ts
  packages/core/spider/src/shared/harvester-factory.ts
  packages/core/spider/storage/key_value_stores/default/SDK_CRAWLER_STATISTICS_1.json
  packages/core/spider/storage/key_value_stores/default/SDK_CRAWLER_STATISTICS_2.json
  packages/core/spider/storage/key_value_stores/default/SDK_SESSION_POOL_STATE.json
  packages/core/spider/storage/request_queues/default/EAaArVRs5qV39C9.json
  packages/modules/sites/BRAINSTORM.md
  vite.config.ts
Due: format, lint

feat(spider): rename harvest → scrape and add convenience functions
  packages/core/spider/src/index.ts
  packages/core/spider/src/scrapeDocument.ts
  packages/core/spider/src/scrapeIndex.ts
  packages/core/spider/src/scrapers/basic.ts
  packages/core/spider/src/scrapers/directory-tree.diagnostic.test.ts
  packages/core/spider/src/scrapers/scrapers.integration.test.ts
  packages/core/spider/src/scrapers/scrapers.spec.ts
  packages/core/spider/src/scrapers/tree.ts
  packages/core/spider/src/shared/harvester-factory.ts
  packages/core/spider/src/shared/scraper-factory.ts
  packages/core/spider/src/shared/types.ts
Due: format, lint

test(spider): skip flaky Bentley integration test in CI
  packages/core/spider/src/scrapers/scrapers.integration.test.ts
Due: format, lint

feat(spider): add caching and rate limiting to TreeScraper
  packages/core/spider/src/scrapers/scrapers.spec.ts
  packages/core/spider/src/scrapers/tree.ts
  packages/core/spider/src/shared/types.ts
Due: format, lint

test(spider): skip slow diagnostic test in CI
  packages/core/spider/src/scrapers/directory-tree.diagnostic.test.ts
Due: format, lint

chore(release): 0.27.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/documents/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/notes/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  0dedf1fcc9e068724355b42f9e69497e917feec3
Due: none

fix(documents, utils): enhance PDF detection and CLI parser (#174, #168, #175)
  packages/core/documents/src/factory.ts
  packages/core/utils/src/cli/parse-args.test.ts
  packages/core/utils/src/cli/parse-args.ts
Due: format, lint

perf(ci): add caching for Playwright browsers and build artifacts
  .github/actions/setup-environment/action.yml
  .github/workflows/test-suite.yml
Due: none

chore(release): 0.27.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/documents/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/notes/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  aa87e5cc59f858a9eef672db76208460e50939bd
Due: none

feat(spider): add WordPress download manager support to scrapeDocument
  packages/core/spider/src/scrapeDocument.test.ts
  packages/core/spider/src/scrapeDocument.ts
Due: format, lint

fix(spider): prevent re-download of PDFs from WordPress pages
  packages/core/spider/src/scrapeDocument.test.ts
  packages/core/spider/src/scrapeDocument.ts
Due: format, lint

fix(spider): detect WordPress downloads by wpdmdl param not .pdf extension
  packages/core/spider/src/scrapeDocument.test.ts
  packages/core/spider/src/scrapeDocument.ts
Due: format, lint

feat(utils): enhance dateInString to support multiple date formats
  packages/core/utils/src/index.spec.ts
  packages/core/utils/src/shared/universal.ts
Due: format, lint

fix(spider): decode HTML entities in WordPress Download Manager URLs
  packages/core/spider/src/scrapeDocument.test.ts
  packages/core/spider/src/scrapeDocument.ts
Due: format, lint

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix(spider): add crawlee to external dependencies in vite config
  packages/core/spider/vite.config.ts
Due: format, lint

fix(documents): generate valid cache paths for URLs with query parameters
  packages/core/documents/src/document.ts
  packages/core/documents/src/index.test.ts
Due: format, lint
