Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

fix(ai): address review feedback
  packages/ai/README.md
  packages/ai/src/rate-limit.test.ts
  packages/ai/src/shared/rate-limit.ts
Due: format, lint

fix(ai): honor retry-after pacing hints
  packages/ai/src/rate-limit.test.ts
  packages/ai/src/shared/rate-limit.ts
Due: format, lint

fix(sql): pass scalar params to secrets key version lookup
  .changeset/fix-secrets-list-key-versions.md
  packages/secrets/src/__tests__/database-store.test.ts
  packages/secrets/src/adapters/database.ts
Due: format, lint

chore(release): trigger 0.71.21 publish
  .changeset/release-secrets-0-71-21.md
Due: none

fix(ci): standardize direct release automation
  .github/workflows/changeset-check.yml
  .github/workflows/shared-direct-publish.yml
  .github/workflows/shared-merge-orchestrator.yml
  renovate.json
Due: none

fix(ci): address sdk review feedback
  .github/workflows/changeset-check.yml
  .github/workflows/shared-direct-publish.yml
  renovate.json
Due: none

feat(ai): modernize providers and add litellm/ollama adapters
  docs/content/ai.md
  packages/ai/AGENT.md
  packages/ai/README.md
  packages/ai/metadata.json
  packages/ai/package.json
  packages/ai/src/index.spec.ts
  packages/ai/src/index.ts
  packages/ai/src/integration.test.ts
  packages/ai/src/litellm.integration.test.ts
  packages/ai/src/node/factory.ts
  packages/ai/src/ollama.integration.test.ts
  packages/ai/src/providers.test.ts
  packages/ai/src/shared/client.ts
  packages/ai/src/shared/factory.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/litellm.ts
  packages/ai/src/shared/providers/ollama.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/types.ts
Due: format, lint, validate-package-json

test(ai): skip ollama integration tests in ci
  packages/ai/src/ollama.integration.test.ts
Due: format, lint

fix(files): harden streamed downloads
  .changeset/files-streamed-download-options.md
  packages/files/src/fetch.spec.ts
  packages/files/src/fetch.ts
Due: format, lint

fix(files): clean up stream typing
  packages/files/src/fetch.ts
Due: format, lint

fix(files): address review feedback
  .changeset/files-streamed-download-options.md
  packages/files/src/fetch.spec.ts
  packages/files/src/fetch.ts
Due: format, lint

fix(ci): restore release sync PR fallback
  .github/workflows/shared-direct-publish.yml
Due: none

fix(ci): restore release sync PR fallback (#988)
  .github/workflows/shared-direct-publish.yml
Due: none

fix(release): publish merged sync versions
  .github/workflows/shared-direct-publish.yml
Due: none

feat(files): add shared response streaming helper
  .changeset/quiet-paws-share.md
  packages/files/src/fetch.spec.ts
  packages/files/src/fetch.ts
  packages/files/src/index.ts
Due: format, lint

fix(files): export response helper api surface
  packages/files/src/fetch.spec.ts
  packages/files/src/fetch.ts
  packages/files/src/index.ts
Due: format, lint

fix(files): address review feedback
  packages/files/src/fetch.spec.ts
  packages/files/src/fetch.ts
Due: format, lint

docs(ai): sync generated agent context
  packages/ai/AGENT.md
Due: none

feat(geo): add findPoisNear for POI discovery
  packages/geo/README.md
  packages/geo/src/google.integration.test.ts
  packages/geo/src/openstreetmap.integration.test.ts
  packages/geo/src/providers/google.ts
  packages/geo/src/providers/openstreetmap.ts
  packages/geo/src/shared/types.ts
Due: format, lint

fix(geo): address findPoisNear review feedback
  packages/geo/src/google.integration.test.ts
  packages/geo/src/openstreetmap.integration.test.ts
  packages/geo/src/providers/google.ts
  packages/geo/src/providers/openstreetmap.ts
Due: format, lint

fix(ci): simplify primary workflows
  .github/actions/setup-environment/action.yml
  .github/workflows/changeset-check.yml
  .github/workflows/doc-review.yml
  .github/workflows/on-ci-failure.yml
  .github/workflows/on-pr-main-dependabot.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/on-test-failure.yml
  .github/workflows/publish.yml
  .github/workflows/shared-direct-publish.yml
  .github/workflows/test-suite.yml
Due: none

fix(ci): avoid label-only PR reruns
  .github/workflows/on-pull-request.yml
Due: none

fix(ci): skip release commit retriggers
  .github/workflows/on-merge-main.yml
Due: none

fix(ci): remove release sync PR fallback
  .github/workflows/on-pull-request.yml
  .github/workflows/publish.yml
  .github/workflows/shared-direct-publish.yml
Due: none

fix(ci): add renovate integration branch
  .github/workflows/on-pull-request.yml
  renovate.json
Due: none

fix(ci): validate workspace version consistency
  package.json
  scripts/validate-workspace-consistency.js
Due: format, lint

feat(ci): sync smrt after sdk releases
  .github/workflows/publish.yml
  scripts/update-smrt-sdk-version.js
Due: format, lint

fix(ci): use smrt package manager metadata
  .github/workflows/publish.yml
Due: none

chore: align pnpm with smrt
  package.json
  pnpm-lock.yaml
Due: none

feat(ai): add gateway admin provisioning
  packages/ai/README.md
  packages/ai/metadata.json
  packages/ai/package.json
  packages/ai/src/index.spec.ts
  packages/ai/src/node/factory.ts
  packages/ai/src/providers.test.ts
  packages/ai/src/shared/client.ts
  packages/ai/src/shared/factory.ts
  packages/ai/src/shared/providers/bifrost.ts
  packages/ai/src/shared/providers/gateway-admin.ts
  packages/ai/src/shared/types.ts
Due: format, lint, validate-package-json

fix(ai): resolve gateway admin precedence and harden URL/header handling
  ecosystem-manifest.json
  packages/ai/AGENT.md
  packages/ai/src/node/factory.ts
  packages/ai/src/providers.test.ts
  packages/ai/src/shared/providers/bifrost.ts
  packages/ai/src/shared/providers/gateway-admin.ts
Due: format, lint

feat(analytics): add AnalyticsAdminInterface for tenant provisioning
  packages/analytics/src/index.ts
  packages/analytics/src/shared/types.ts
Due: format, lint

feat(analytics): add Matomo provider with admin (sites, users, access, tokens)
  packages/analytics/src/index.ts
  packages/analytics/src/shared/factory.ts
  packages/analytics/src/shared/providers/matomo-admin.integration.test.ts
  packages/analytics/src/shared/providers/matomo-admin.test.ts
  packages/analytics/src/shared/providers/matomo-admin.ts
  packages/analytics/src/shared/providers/matomo.ts
  packages/analytics/src/shared/types.ts
Due: format, lint

fix(analytics): drop misleading setDoNotTrack mapping for Matomo anonymizeIp
  packages/analytics/src/shared/providers/matomo.test.ts
  packages/analytics/src/shared/providers/matomo.ts
Due: format, lint

fix(analytics): address Copilot review feedback on Matomo provider
  packages/analytics/src/shared/providers/matomo-admin.integration.test.ts
  packages/analytics/src/shared/providers/matomo-admin.test.ts
  packages/analytics/src/shared/providers/matomo-admin.ts
  packages/analytics/src/shared/providers/matomo.test.ts
  packages/analytics/src/shared/providers/matomo.ts
Due: format, lint

feat(analytics): add Matomo access verification
  .changeset/matomo-access-verification.md
  packages/analytics/src/index.ts
  packages/analytics/src/shared/providers/matomo-admin.integration.test.ts
  packages/analytics/src/shared/providers/matomo-admin.test.ts
  packages/analytics/src/shared/providers/matomo-admin.ts
  packages/analytics/src/shared/types.ts
Due: format, lint
