Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

Notes added by 'git notes add'
  68d1a7734c78e7d41d69c1fcc07ba24cc3335a88
Due: none

fix: replace semantic-release with changesets for predictable versioning
  .changeset/config.json
  .github/workflows/on-merge-main.yml
  .releaserc.json
  .releaserc.packages.json
  package.json
  packages/ai/.releaserc.json
  packages/ai/package.json
  packages/cache/.releaserc.json
  packages/cache/package.json
  packages/documents/.releaserc.json
  packages/documents/package.json
  packages/files/.releaserc.json
  packages/files/package.json
  packages/geo/.releaserc.json
  packages/geo/package.json
  packages/github-actions/.releaserc.json
  packages/github-actions/package.json
  packages/logger/.releaserc.json
  packages/logger/package.json
  packages/ocr/.releaserc.json
  packages/ocr/package.json
  packages/pdf/.releaserc.json
  packages/pdf/package.json
  packages/sdk-mcp/.releaserc.json
  packages/sdk-mcp/package.json
  packages/spider/.releaserc.json
  packages/spider/package.json
  packages/sql/.releaserc.json
  packages/sql/package.json
  packages/translator/.releaserc.json
  packages/translator/package.json
  packages/utils/.releaserc.json
  packages/utils/package.json
  packages/weather/.releaserc.json
  packages/weather/package.json
Due: format, lint, validate-package-json

feat: add auto-changeset workflow for automatic version bumps
  .github/workflows/auto-changeset.yml
Due: none

fix: remove pnpm version from workflow to use packageManager field
  .github/workflows/auto-changeset.yml
Due: none

fix: simplify auto-changeset workflow - remove dependency installation
  .github/workflows/auto-changeset.yml
Due: none

fix(sql): resolve TypeScript build errors
  packages/sql/src/json.ts
  packages/sql/src/sqlite.ts
Due: format, lint

chore: remove redundant workflows
  .github/workflows/on-issue-opened.yml
  .github/workflows/on-pr-fail.yml
Due: none

feat: streamline release flow with direct publish
  .changeset/auto-1762274740.md
  .github/workflows/auto-changeset.yml
  .github/workflows/on-merge-main.yml
Due: none

fix: exclude merge commits from conventional commit validation
  .github/workflows/auto-changeset.yml
Due: none

chore: add kanban automation workflows to .github/workflows
  .github/workflows/planning.yml
  .github/workflows/triage.yml
Due: none

fix: rename context variable in kanban workflows to avoid conflict
  .github/workflows/planning.yml
  .github/workflows/triage.yml
Due: none

fix: rename packages from @have to @happyvertical and add workflow setup steps
  .github/workflows/planning.yml
  .github/workflows/triage.yml
  package.json
  packages/github-actions/package.json
  packages/github-actions/src/index.ts
  packages/github-actions/src/labels-cli.ts
  packages/github-actions/src/planning/comment.ts
  packages/github-actions/src/planning/definition-of-ready.ts
  packages/github-actions/src/shared/adapters.ts
  packages/github-actions/src/triage/index-v2.ts
  packages/github-actions/src/triage/label-v2.ts
  packages/github-actions/src/triage/project-v2.ts
  packages/projects/package.json
  packages/projects/src/factory.ts
  packages/projects/src/index.ts
  packages/repos/package.json
  packages/repos/src/factory.ts
  packages/repos/src/index.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix: add --passWithNoTests flag to repos and projects test scripts
  packages/projects/package.json
  packages/repos/package.json
Due: format, lint, validate-package-json

fix: update label tests to match standardized label format
  packages/github-actions/src/triage/label.test.ts
Due: format, lint

fix: rename packages from @have to @happyvertical and add workflow setup steps (#363)
  .github/workflows/planning.yml
  .github/workflows/triage.yml
  package.json
  packages/github-actions/package.json
  packages/github-actions/src/index.ts
  packages/github-actions/src/labels-cli.ts
  packages/github-actions/src/planning/comment.ts
  packages/github-actions/src/planning/definition-of-ready.ts
  packages/github-actions/src/shared/adapters.ts
  packages/github-actions/src/triage/index-v2.ts
  packages/github-actions/src/triage/label-v2.ts
  packages/github-actions/src/triage/label.test.ts
  packages/github-actions/src/triage/project-v2.ts
  packages/projects/package.json
  packages/projects/src/factory.ts
  packages/projects/src/index.ts
  packages/repos/package.json
  packages/repos/src/factory.ts
  packages/repos/src/index.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix: add packages:read permission to triage and planning workflows
  .github/workflows/planning.yml
  .github/workflows/triage.yml
Due: none

feat: add automated dependency cascade system
  .github/CASCADE.md
  .github/actions/cascade-handler/action.yml
  .github/cascade-config.json
  .github/workflows/cascade-handler-template.yml
  .github/workflows/cascade-trigger.yml
Due: format, lint

fix: add kanban automation workflows and package permissions (#365)
  .github/CASCADE.md
  .github/actions/cascade-handler/action.yml
  .github/cascade-config.json
  .github/workflows/cascade-handler-template.yml
  .github/workflows/cascade-trigger.yml
  .github/workflows/planning.yml
  .github/workflows/triage.yml
Due: format, lint

fix: use GH_TOKEN instead of CASCADE_TOKEN for cascade system
  .github/CASCADE.md
  .github/workflows/cascade-handler-template.yml
  .github/workflows/cascade-trigger.yml
Due: none

fix: use GH_TOKEN instead of CASCADE_TOKEN for cascade system (#367)
  .github/CASCADE.md
  .github/workflows/cascade-handler-template.yml
  .github/workflows/cascade-trigger.yml
Due: none

fix: use require() instead of import() in github-script workflows
  .github/workflows/planning.yml
  .github/workflows/triage.yml
Due: none

fix: use workspace path for ESM imports in github-script
  .github/workflows/planning.yml
  .github/workflows/triage.yml
Due: none

fix: use workspace path for ESM imports in github-script (#369)
  .github/workflows/planning.yml
  .github/workflows/triage.yml
Due: none
