Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

fix(analytics): address Matomo access review
  packages/analytics/src/shared/providers/matomo-admin.integration.test.ts
  packages/analytics/src/shared/providers/matomo-admin.test.ts
  packages/analytics/src/shared/providers/matomo-admin.ts
  packages/analytics/src/shared/types.ts
Due: format, lint

fix(analytics): distinguish missing Matomo sites
  packages/analytics/src/shared/providers/matomo-admin.test.ts
  packages/analytics/src/shared/providers/matomo-admin.ts
Due: format, lint

fix(sql): preserve postgres raw query operators
  packages/sql/README.md
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
Due: format, lint

fix(sql): handle array params in raw queries
  packages/sql/README.md
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
Due: format, lint

fix(sql): address raw query review fixes
  package.json
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint

fix(sql): address copilot review feedback
  packages/sql/CHANGELOG.md
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint

fix(analytics): address Matomo reporting review
  packages/analytics/src/shared/providers/matomo.test.ts
  packages/analytics/src/shared/providers/matomo.ts
Due: format, lint

feat(analytics): support Matomo reporting
  .changeset/matomo-reporting-realtime.md
  packages/analytics/src/shared/providers/matomo.test.ts
  packages/analytics/src/shared/providers/matomo.ts
Due: format, lint

feat(video): add extensible media bundle inspection
  packages/video/package.json
  packages/video/src/index.ts
  packages/video/src/media-bundles.spec.ts
  packages/video/src/media-bundles/handlers/generic-image.ts
  packages/video/src/media-bundles/handlers/generic-video.ts
  packages/video/src/media-bundles/handlers/insta360.ts
  packages/video/src/media-bundles/index.ts
  packages/video/src/media-bundles/types.ts
  packages/video/src/media-bundles/utils.ts
  packages/video/vite.config.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(video): address media bundle review feedback
  ecosystem-manifest.json
  packages/images/AGENT.md
  packages/images/metadata.json
  packages/video/AGENT.md
  packages/video/metadata.json
  packages/video/src/index.ts
  packages/video/src/media-bundles.spec.ts
  packages/video/src/media-bundles/handlers/generic-image.ts
  packages/video/src/media-bundles/handlers/generic-video.ts
  packages/video/src/media-bundles/handlers/insta360.ts
  packages/video/src/media-bundles/utils.ts
Due: format, lint

fix(files): keep local writes under configured base path
  packages/files/src/filesystem.test.ts
  packages/files/src/node/local.ts
Due: format, lint

feat(weather): add standardized historical providers
  packages/weather/src/__tests__/historical-weather.spec.ts
  packages/weather/src/index.ts
  packages/weather/src/providers/environment-canada.ts
  packages/weather/src/providers/google-weather.ts
  packages/weather/src/providers/open-meteo.ts
  packages/weather/src/providers/openweathermap-onecall.ts
  packages/weather/src/providers/openweathermap.ts
  packages/weather/src/shared/historical.ts
  packages/weather/src/shared/types.ts
Due: format, lint

fix(weather): parse timezone-aware open-meteo history
  packages/weather/src/__tests__/historical-weather.spec.ts
  packages/weather/src/providers/open-meteo.ts
Due: format, lint

fix(weather): address historical provider review
  packages/weather/src/__tests__/historical-weather.spec.ts
  packages/weather/src/providers/environment-canada.ts
  packages/weather/src/providers/google-weather.ts
Due: format, lint

fix(weather): address remaining review threads
  packages/files/src/filesystem.test.ts
  packages/files/src/node/local.ts
  packages/files/src/shared/base.ts
  packages/files/src/shared/types.ts
  packages/weather/src/__tests__/historical-weather.spec.ts
  packages/weather/src/providers/environment-canada.ts
  packages/weather/src/providers/open-meteo.ts
  packages/weather/src/providers/openweathermap.ts
  packages/weather/src/shared/historical.ts
Due: format, lint

fix: address copilot review feedback
  packages/files/src/filesystem.test.ts
  packages/files/src/node/local.ts
  packages/weather/src/providers/environment-canada.ts
Due: format, lint

feat(social): add Garrula publishing primitives
  packages/social/README.md
  packages/social/package.json
  packages/social/src/adapters/bluesky.ts
  packages/social/src/adapters/facebook.ts
  packages/social/src/adapters/threads.ts
  packages/social/src/adapters/x.ts
  packages/social/src/adapters/youtube.ts
  packages/social/src/index.spec.ts
  packages/social/src/index.ts
  packages/social/src/live-smoke.optional.test.ts
  packages/social/src/safety.ts
  packages/social/src/types.ts
Due: format, lint, validate-package-json

fix(social): tighten publishing adapter edges
  packages/social/src/adapters/facebook.ts
  packages/social/src/adapters/x.ts
  packages/social/src/adapters/youtube.ts
  packages/social/src/index.spec.ts
Due: format, lint

fix(social): address publishing review feedback
  packages/social/src/adapters/bluesky.ts
  packages/social/src/adapters/facebook.ts
  packages/social/src/adapters/threads.ts
  packages/social/src/adapters/x.ts
  packages/social/src/adapters/youtube.ts
  packages/social/src/index.spec.ts
  packages/social/src/index.ts
  packages/social/src/live-smoke.optional.test.ts
  packages/social/src/media.ts
  packages/social/src/safety.ts
  packages/social/src/types.ts
Due: format, lint

fix(social): address copilot review feedback
  packages/social/src/adapters/threads.ts
  packages/social/src/index.spec.ts
  packages/social/src/media.ts
Due: format, lint

fix(video): extract animated webp frames individually
  packages/video/src/adapters/ffmpeg.ts
  packages/video/src/index.spec.ts
Due: format, lint

fix(sql): handle nullable upsert conflicts
  .changeset/null-aware-upsert.md
  docs/content/sql.md
  packages/sql/README.md
  packages/sql/src/duckdb.spec.ts
  packages/sql/src/duckdb.ts
  packages/sql/src/json-upsert.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres-vector.spec.ts
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

feat: add payments backend interface package
  tsconfig.json
Due: none

feat: add payments backend interface package
  packages/payments/package.json
Due: format, lint, validate-package-json

feat: add payments backend interface package
  packages/payments/tsconfig.json
Due: format, lint

feat: add payments backend interface package
  packages/payments/vite.config.ts
Due: format, lint

feat: add payments backend interface package
  packages/payments/src/index.ts
Due: format, lint

feat: add payments backend interface package
  packages/payments/src/types.ts
Due: format, lint

feat: add payments backend interface package
  packages/payments/src/conformance.ts
Due: format, lint

feat: add payments backend interface package
  packages/payments/src/index.test.ts
Due: format, lint

feat: add payments backend interface package
  packages/payments/README.md
Due: none

feat: add payments backend interface package
  packages/payments/metadata.json
Due: format, lint

fix: avoid time-bombed payment conformance input
  packages/payments/src/conformance.ts
Due: format, lint

docs: add .pr-review/extensions.md for /have:review-cycle reviews
  .pr-review/extensions.md
Due: none

fix(config): reconcile commitlint configs + tighten lefthook biome step
  .commitlintrc.json
  commitlint.config.js
  lefthook.yml
Due: none

docs: add root CLAUDE.md with agent tooling and convention pointers
  CLAUDE.md
Due: none

fix(ci): correct dtolnay/rust-action typo to rust-toolchain + SHA-pin
  .github/workflows/build-json-native.yml
Due: none
