Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

fix(secrets): keep pack json stdout clean
  packages/secrets/scripts/prepare-git-dependency.mjs
Due: format, lint

fix(secrets): close custody recovery gaps
  packages/secrets/README.md
  packages/secrets/src/__tests__/custody.test.ts
  packages/secrets/src/shared/custody.ts
Due: format, lint

fix(secrets): keep git preparation package-local
  packages/secrets/pnpm-workspace.yaml
  scripts/secrets-git-dependency.test.mjs
Due: format, lint

feat(secrets): add fail-closed credential custody (#1203)
  .changeset/quiet-pandas-guard.md
  packages/secrets/README.md
  packages/secrets/package.json
  packages/secrets/pnpm-workspace.yaml
  packages/secrets/scripts/prepare-git-dependency.mjs
  packages/secrets/src/__tests__/custody.test.ts
  packages/secrets/src/__tests__/database-store.test.ts
  packages/secrets/src/adapters/database.ts
  packages/secrets/src/index.ts
  packages/secrets/src/shared/custody.ts
  packages/secrets/src/shared/factory.ts
  scripts/secrets-git-dependency.test.mjs
Due: format, lint, validate-package-json

chore(ci): align SDK smoke workflow with gen24
  .github/workflows/agent-policy.yml
Due: none

chore(ci): align SDK smoke workflow with gen24 (#1206)
  .github/workflows/agent-policy.yml
Due: none

feat(sql): add secure SQLite acquisition
  ecosystem-manifest.json
  packages/sql/AGENT.md
  packages/sql/README.md
  packages/sql/metadata.json
  packages/sql/package.json
  packages/sql/src/index.ts
  packages/sql/src/secure-sqlite-client.ts
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/shared/sqlite-connection-cache.ts
  packages/sql/src/sqlite.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, validate-package-json

fix(sql): harden secure SQLite semantics
  packages/sql/README.md
  packages/sql/src/secure-sqlite-client.ts
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
  pnpm-lock.yaml
Due: format, lint

fix(sql): enforce trusted SQLite custody
  packages/sql/README.md
  packages/sql/src/secure-sqlite-client.ts
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): reject macOS ACL custody
  packages/sql/README.md
  packages/sql/src/secure-sqlite-client.ts
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): reserve secure SQLite transactions
  packages/sql/README.md
  packages/sql/package.json
  packages/sql/src/secure-sqlite-client.ts
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(sql): keep nullable upserts in reservation
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): use built-in secure SQLite backend
  ecosystem-manifest.json
  packages/sql/AGENT.md
  packages/sql/README.md
  packages/sql/metadata.json
  packages/sql/package.json
  packages/sql/src/secure-sqlite-client.ts
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, validate-package-json

chore(sql): prune retired sqlite3 lock graph
  pnpm-lock.yaml
Due: none

fix(sql): harden secure SQLite value and transaction paths
  packages/sql/README.md
  packages/sql/src/secure-sqlite-client.ts
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): seal secure SQLite transaction scopes
  packages/sql/README.md
  packages/sql/src/secure-sqlite-client.ts
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): reject prerelease secure SQLite runtimes
  packages/sql/src/secure-sqlite-client.ts
  packages/sql/src/secure-sqlite.spec.ts
Due: format, lint

chore(ci): refresh managed policy output
  AGENTS.md
Due: none

fix(sql): close secure SQLite concurrency gaps
  packages/sql/src/secure-sqlite-client.ts
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): propagate detached nested failures
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(ci): restore compatibility lifecycle context
  .agents/project.yaml
  .github/workflows/agent-policy.yml
Due: none

chore(ci): restore managed SDK policy output (#1211)
  .agents/project.yaml
  .github/workflows/agent-policy.yml
  AGENTS.md
Due: none

fix(sql): harden secure SQLite leaf creation
  packages/sql/README.md
  packages/sql/src/secure-sqlite-client.ts
  packages/sql/src/secure-sqlite.spec.ts
Due: format, lint

fix(sql): guard secure leaf cleanup identity
  packages/sql/src/secure-sqlite-client.ts
  packages/sql/src/secure-sqlite.spec.ts
Due: format, lint

ci: use GitHub-hosted Ubuntu runners
  .github/CI.md
  .github/actionlint.yaml
  .github/actions/setup-environment/select-pnpm-store.sh
  .github/workflows/build.yml
  .github/workflows/dependabot-automation.yml
  .github/workflows/node-runner-smoke.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/postgres-tests.yml
  .github/workflows/publish-dry-run.yml
  .github/workflows/publish.yml
  .github/workflows/shared-merge-orchestrator.yml
  .github/workflows/test.yml
  scripts/select-pnpm-store.test.mjs
  scripts/validate-workflow-runners.test.mjs
Due: format, lint

fix(sql): resolve secure sqlite final review findings
  packages/sql/README.md
  packages/sql/src/secure-sqlite-client.ts
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): preserve rethrown transaction failures
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): drain rejection handler chains
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): stop transaction deadline after acquisition
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

ci: use GitHub-hosted Ubuntu runners (#1214)
  .github/CI.md
  .github/actionlint.yaml
  .github/actions/setup-environment/select-pnpm-store.sh
  .github/workflows/build.yml
  .github/workflows/dependabot-automation.yml
  .github/workflows/node-runner-smoke.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/postgres-tests.yml
  .github/workflows/publish-dry-run.yml
  .github/workflows/publish.yml
  .github/workflows/shared-merge-orchestrator.yml
  .github/workflows/test.yml
  scripts/select-pnpm-store.test.mjs
  scripts/validate-workflow-runners.test.mjs
Due: format, lint

fix(sql): ignore table constraints during PostgreSQL schema sync
  .changeset/1207-postgres-sync-schema-constraints.md
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint

fix(sql): preserve columns during constraint sync
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint

fix(sql): close final secure sqlite review gaps
  ecosystem-manifest.json
  packages/sql/AGENT.md
  packages/sql/README.md
  packages/sql/package.json
  packages/sql/src/nested-transaction.spec.ts
  packages/sql/src/secure-sqlite-client.ts
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint, validate-package-json

fix(sql): prevent PostgreSQL syncSchema constraint misparse (#1209)
  .changeset/1207-postgres-sync-schema-constraints.md
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint

fix(sql): distinguish native promise resolvers
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): unify nullable upsert numeric locks
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): serialize nullable constraint upserts
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): canonicalize nullable upsert conflict locks
  packages/sql/src/secure-sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(release): wait for npm registry propagation
  scripts/publish-validated-artifacts.mjs
  scripts/publish-validated-artifacts.test.mjs
Due: format, lint

fix(release): wait for npm registry propagation (#1216)
  scripts/publish-validated-artifacts.mjs
  scripts/publish-validated-artifacts.test.mjs
Due: format, lint
