Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

ci: fix smrt sdk sync after public npm release
  .github/workflows/publish.yml
  scripts/update-smrt-sdk-version.js
Due: format, lint

fix(documents): publish package to npmjs
  .changeset/publish-documents.md
  packages/documents/README.md
  packages/documents/package.json
Due: format, lint, validate-package-json

fix(documents): publish package to npmjs (#1052)
  .changeset/publish-documents.md
  packages/documents/README.md
  packages/documents/package.json
Due: format, lint, validate-package-json

feat(sql): add aggregate query builder
  packages/sql/README.md
  packages/sql/src/aggregate.spec.ts
  packages/sql/src/aggregate.ts
  packages/sql/src/index.spec.ts
  packages/sql/src/index.ts
  packages/sql/src/shared/utils.ts
Due: format, lint

fix(sql): validate aggregate predicate fields
  packages/sql/src/aggregate.spec.ts
  packages/sql/src/aggregate.ts
Due: format, lint

fix(sql): reject unsafe where keys
  packages/sql/src/aggregate.ts
  packages/sql/src/index.spec.ts
  packages/sql/src/shared/utils.ts
Due: format, lint

fix(sql): address aggregate review feedback
  packages/sql/README.md
  packages/sql/src/aggregate.spec.ts
  packages/sql/src/aggregate.ts
  packages/sql/src/shared/utils.ts
Due: format, lint

feat(sql): add aggregate query builder (#1054)
  packages/sql/README.md
  packages/sql/src/aggregate.spec.ts
  packages/sql/src/aggregate.ts
  packages/sql/src/index.spec.ts
  packages/sql/src/index.ts
  packages/sql/src/shared/utils.ts
Due: format, lint

fix: verify public npm release installs
  .github/workflows/shared-direct-publish.yml
  packages/documents/README.md
  packages/documents/src/factory.ts
  packages/documents/src/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

test: cover crawlee scraper compatibility
  packages/documents/src/factory.test.ts
Due: format, lint

fix: verify public npm release installs (#1056)
  .github/workflows/shared-direct-publish.yml
  packages/documents/README.md
  packages/documents/src/factory.test.ts
  packages/documents/src/factory.ts
  packages/documents/src/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

ci: wait for npm registry propagation
  .github/workflows/shared-direct-publish.yml
Due: none

ci: force online npm propagation checks
  .github/workflows/shared-direct-publish.yml
Due: none

ci: wait for npm registry propagation (#1057)
  .github/workflows/shared-direct-publish.yml
Due: none

feat: add manual-capture card lifecycle to the Stripe payments adapter
  .changeset/payments-manual-capture-lifecycle.md
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
  packages/payments/src/types.ts
Due: format, lint

feat: add saved payment methods (card on file) to the Stripe payments adapter
  .changeset/payments-saved-payment-methods.md
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
  packages/payments/src/types.ts
Due: format, lint

fix(sql): cast nullable index attributes for PG18
  packages/sql/src/postgres.ts
Due: format, lint

fix: map PaymentIntent lifecycle webhooks to terminal statuses
  .changeset/payments-manual-capture-lifecycle.md
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
Due: format, lint

docs(config): clarify payments scope note
  commitlint.config.mjs
Due: none

fix: send currency and force customer creation for setup-mode Checkout
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
  packages/payments/src/types.ts
Due: format, lint

fix(config): keep historical scopes and align changeset review
  .pr-review/extensions.md
  commitlint.config.mjs
Due: none

fix(ci): minimize PR title commitlint setup
  .github/workflows/on-pull-request.yml
  commitlint.config.mjs
Due: none

fix(ci): install root commitlint deps for PR title
  .github/workflows/on-pull-request.yml
  commitlint.config.mjs
Due: none

chore(config): hygiene rollout — extensions, commitlint reconciliation, CLAUDE.md, dtolnay typo fix (#1034)
  .commitlintrc.json
  .github/workflows/build-json-native.yml
  .github/workflows/on-pull-request.yml
  .gitignore
  .pr-review/extensions.md
  AGENT.md
  commitlint.config.js
  commitlint.config.mjs
  lefthook.yml
  packages/comfyui/src/client.ts
  packages/comfyui/src/types.ts
  packages/sql/src/postgres.ts
Due: format, lint

fix: expose client_secret/next_action on authorize for SCA flows
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
  packages/payments/src/types.ts
Due: format, lint

fix: gate setup completion on the SetupIntent status
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
Due: format, lint

fix: address sub-agent review of the manual-capture lifecycle
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
  packages/payments/src/types.ts
Due: format, lint

fix: address sub-agent review of saved-payment-method setup
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
  packages/payments/src/types.ts
Due: format, lint

fix: round-2 review — complete webhook gate, finish naming symmetry
  .changeset/payments-manual-capture-lifecycle.md
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
  packages/payments/src/types.ts
Due: format, lint

fix: round-2 review — restrict setup to cards; add coverage
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
Due: format, lint

fix: round-3 review — off-session authorize + webhook payment-in scoping
  .changeset/payments-manual-capture-lifecycle.md
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
  packages/payments/src/types.ts
Due: format, lint

fix: round-3 review — tolerant customer read; de-tautologize tests
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
Due: format, lint

fix: round-4 review — session-only client_reference_id; off-session SCA docs
  packages/payments/README.md
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
  packages/payments/src/types.ts
Due: format, lint

docs: round-4 review — README save-card example
  packages/payments/README.md
Due: none

feat(payments): manual-capture card lifecycle (authorize/capture/void) for the Stripe adapter (#1058)
  .changeset/payments-manual-capture-lifecycle.md
  packages/payments/README.md
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
  packages/payments/src/types.ts
Due: format, lint

feat(payments): saved payment methods (card on file) for the Stripe adapter (#1059)
  .changeset/payments-saved-payment-methods.md
  packages/payments/README.md
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
  packages/payments/src/types.ts
Due: format, lint

fix(payments): read refunded amount back from the Stripe refund response
  .changeset/payments-refund-amount-readback.md
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
Due: format, lint
