Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

fix(documents): generate valid cache paths for URLs with query parameters
  packages/core/documents/src/document.ts
  packages/core/documents/src/index.test.ts
Due: format, lint

feat(utils): add support for underscore and dot date formats to dateInString
  packages/core/utils/src/index.spec.ts
  packages/core/utils/src/shared/universal.ts
Due: format, lint

feat(spider): add CivicWeb preview page detection to scrapeDocument
  packages/core/spider/src/scrapeDocument.test.ts
  packages/core/spider/src/scrapeDocument.ts
Due: format, lint

feat(spider): add DocuShare document page detection to scrapeDocument
  packages/core/spider/src/scrapeDocument.test.ts
  packages/core/spider/src/scrapeDocument.ts
Due: format, lint

feat(spider): add scraper and spider configuration options to scrapeDocument
  packages/core/spider/src/scrapeDocument.test.ts
  packages/core/spider/src/scrapeDocument.ts
Due: format, lint

chore(ci): refactor GitHub Actions workflows for better efficiency and reliability
  .commitlintrc.json
  .github/workflows/claude-code-review.yml
  .github/workflows/on-merge-main.yml
  .github/workflows/on-pr-main-dependabot.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/validate-commits.yml
Due: none

feat(ci): enhance Claude Code workflow with full PR creation capabilities
  .github/workflows/claude.yml
Due: none

feat(ci): auto-trigger Claude on blocker label for urgent issue resolution
  .github/workflows/claude.yml
Due: none

feat(content): add variant field for namespaced content classification
  packages/modules/content/src/content.ts
  packages/modules/content/src/contents.spec.ts
Due: format, lint

fix(ai): support all AI providers beyond OpenAI in AIClient.create()
  packages/core/ai/src/index.spec.ts
  packages/core/ai/src/shared/client.ts
Due: format, lint

fix(smrt): generate JavaScript files for vite-plugin, prebuild, and consumer-plugin entry points
  packages/core/smrt/src/class.ts
  packages/core/smrt/vite.config.ts
Due: format, lint

fix(smrt): suppress TypeScript errors for optional @have/notes imports
  packages/core/smrt/src/object.ts
Due: format, lint

feat(smrt): integrate note-taking system into core with system tables
  CLAUDE.md
  packages/core/smrt/src/class.ts
  packages/core/smrt/src/index.ts
  packages/core/smrt/src/manifest/static-manifest.json
  packages/core/smrt/src/manifest/static-manifest.ts
  packages/core/smrt/src/object.ts
  packages/core/smrt/src/registry.ts
  packages/core/smrt/src/system/index.ts
  packages/core/smrt/src/system/schema.ts
  packages/core/smrt/src/system/types.ts
  packages/core/smrt/vite.config.ts
  packages/modules/notes/package.json
  packages/modules/notes/src/index.ts
  packages/modules/notes/src/note.ts
  packages/modules/notes/src/notes.test.ts
  packages/modules/notes/src/notes.ts
  packages/modules/notes/src/types.ts
  packages/modules/notes/src/utils.ts
  packages/modules/notes/tsconfig.build.json
  packages/modules/notes/tsconfig.json
  tsconfig.json
  vite.config.ts
Due: format, lint, validate-package-json

fix(build): remove @have/notes from build order
  scripts/build-all-packages.js
Due: format, lint

fix(smrt): resolve entry point JavaScript file generation in build
  packages/core/smrt/package.json
  packages/core/smrt/vite.config.ts
Due: format, lint, validate-package-json

build: add workflow for shipping built artifacts with releases
  .github/workflows/test-suite.yml
  .gitignore
  .releaserc.json
Due: none

feat(registry): add convenience methods and comprehensive documentation
  packages/core/smrt/ARCHITECTURE.md
  packages/core/smrt/docs/diagrams/registry-flow.md
  packages/core/smrt/docs/guides/api-generator-patterns.md
  packages/core/smrt/docs/guides/decorator-config-consistency.md
  packages/core/smrt/docs/guides/generator-patterns.md
  packages/core/smrt/src/registry.test.ts
  packages/core/smrt/src/registry.ts
Due: format, lint

fix(smrt): migrate DatabaseInterface method calls to new API
  packages/core/smrt/package.json
  packages/core/smrt/src/class.ts
  packages/core/smrt/src/object.ts
  packages/core/smrt/src/registry.ts
Due: format, lint, validate-package-json

fix(smrt): add missing entry point files for package exports
  packages/core/smrt/src/consumer-plugin.ts
  packages/core/smrt/src/fields.ts
  packages/core/smrt/src/generators.ts
  packages/core/smrt/src/manifest.ts
  packages/core/smrt/src/prebuild.ts
  packages/core/smrt/src/runtime.ts
  packages/core/smrt/src/vite-plugin.ts
Due: format, lint
