Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

fix(payments): read refunded amount back from the Stripe refund response (#1060)
  .changeset/payments-refund-amount-readback.md
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
Due: format, lint

fix(payments): read refund currency back from the Stripe response
  .changeset/payments-stripe-refund-currency-readback.md
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
Due: format, lint

fix(payments): read refund currency back from the Stripe response (#1061)
  .changeset/payments-stripe-refund-currency-readback.md
  packages/payments/src/adapters/stripe.ts
  packages/payments/src/stripe.test.ts
Due: format, lint

chore: inherit weekly renovate strategy
  renovate.json
Due: none

chore: inherit weekly Renovate strategy (#1062)
  renovate.json
Due: none

feat(directory): add aws tenant account helpers
  packages/directory/package.json
  packages/directory/src/__tests__/aws.test.ts
  packages/directory/src/adapters/aws.ts
  packages/directory/src/index.ts
  packages/directory/src/shared/types.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(directory): address aws helper review feedback
  .changeset/aws-directory-tenant-helpers.md
  ecosystem-manifest.json
  packages/directory/AGENT.md
  packages/directory/metadata.json
  packages/directory/src/__tests__/aws.test.ts
  packages/directory/src/adapters/aws.ts
  packages/directory/src/shared/types.ts
Due: format, lint

feat(directory): add AWS Organizations and IAM tenant account helpers (#1065)
  .changeset/aws-directory-tenant-helpers.md
  ecosystem-manifest.json
  packages/directory/AGENT.md
  packages/directory/metadata.json
  packages/directory/package.json
  packages/directory/src/__tests__/aws.test.ts
  packages/directory/src/adapters/aws.ts
  packages/directory/src/index.ts
  packages/directory/src/shared/types.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(speech): address review feedback
  .changeset/soft-rocks-speak.md
  packages/speech/package.json
  packages/speech/src/__tests__/http-adapters.test.ts
  packages/speech/src/adapters/openai-compatible.ts
  packages/speech/src/adapters/studio-server.ts
  packages/speech/src/shared/factory.ts
  packages/speech/src/shared/http.ts
Due: format, lint, validate-package-json

fix(speech): align provider wire contracts
  packages/speech/AGENT.md
  packages/speech/README.md
  packages/speech/src/__tests__/http-adapters.test.ts
  packages/speech/src/adapters/openai-compatible.ts
  packages/speech/src/adapters/qwen3.ts
  packages/speech/src/adapters/studio-server.ts
  packages/speech/src/shared/factory.ts
  packages/speech/src/shared/http.ts
  packages/speech/src/shared/types.ts
Due: format, lint

ci: adopt optimized validation and release pipeline
  .github/CI.md
  .github/actionlint.yaml
  .github/actions/setup-environment/action.yml
  .github/workflow-templates/build-scaffold.yml
  .github/workflow-templates/publish-scaffold.yml
  .github/workflow-templates/test-scaffold.yml
  .github/workflows/build-json-native.yml
  .github/workflows/build.yml
  .github/workflows/node-runner-smoke.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/postgres-tests.yml
  .github/workflows/publish-dry-run.yml
  .github/workflows/publish.yml
  .github/workflows/shared-direct-publish.yml
  .github/workflows/shared-merge-orchestrator.yml
  .github/workflows/shared-project-sync.yml
  .github/workflows/test.yml
  .npmrc
  .nvmrc
  package.json
  packages/sql/package.json
  pnpm-workspace.yaml
  scripts/cleanup-ci-postgres.mjs
  scripts/cleanup-ci-postgres.test.mjs
  scripts/publish-artifacts-lib.mjs
  scripts/publish-artifacts-lib.test.mjs
  scripts/publish-validated-artifacts.mjs
  scripts/publish-validated-artifacts.test.mjs
  scripts/run-with-ci-postgres.mjs
  scripts/run-with-ci-postgres.test.mjs
  scripts/sync-agent-context.js
  scripts/validate-publish-packages.mjs
  scripts/verify-package-tarball.mjs
  scripts/verify-publish-artifacts.mjs
  turbo.json
Due: format, lint, validate-package-json

fix(ci): run open-source secret scanner
  .github/workflows/on-pull-request.yml
Due: none

fix(ci): isolate commit title validation
  .github/workflows/on-pull-request.yml
  commitlint.config.mjs
Due: none

fix(ci): write auth to active user config
  .github/actions/setup-environment/action.yml
Due: none

fix(release): rewrite package dependency protocols
  scripts/validate-publish-packages.mjs
  scripts/validate-publish-packages.test.mjs
Due: format, lint

fix(ci): isolate pnpm stores on fallback runners
  .github/CI.md
  .github/actions/setup-environment/action.yml
Due: none

fix(ci): preserve public package registry routing
  .github/actions/setup-environment/action.yml
Due: none

chore(deps): resolve OCR from public npm
  pnpm-lock.yaml
Due: none

fix(ci): default package auth to workflow token
  .github/actions/setup-environment/action.yml
Due: none

ci: preserve required test check name
  .github/workflows/test.yml
Due: none

ci: adopt optimized validation and release pipeline (#1072)
  .github/CI.md
  .github/actionlint.yaml
  .github/actions/setup-environment/action.yml
  .github/workflow-templates/build-scaffold.yml
  .github/workflow-templates/publish-scaffold.yml
  .github/workflow-templates/test-scaffold.yml
  .github/workflows/build-json-native.yml
  .github/workflows/build.yml
  .github/workflows/node-runner-smoke.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/postgres-tests.yml
  .github/workflows/publish-dry-run.yml
  .github/workflows/publish.yml
  .github/workflows/shared-direct-publish.yml
  .github/workflows/shared-merge-orchestrator.yml
  .github/workflows/shared-project-sync.yml
  .github/workflows/test.yml
  .npmrc
  .nvmrc
  commitlint.config.mjs
  package.json
  packages/sql/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/cleanup-ci-postgres.mjs
  scripts/cleanup-ci-postgres.test.mjs
  scripts/publish-artifacts-lib.mjs
  scripts/publish-artifacts-lib.test.mjs
  scripts/publish-validated-artifacts.mjs
  scripts/publish-validated-artifacts.test.mjs
  scripts/run-with-ci-postgres.mjs
  scripts/run-with-ci-postgres.test.mjs
  scripts/sync-agent-context.js
  scripts/validate-publish-packages.mjs
  scripts/validate-publish-packages.test.mjs
  scripts/verify-package-tarball.mjs
  scripts/verify-publish-artifacts.mjs
  turbo.json
Due: format, lint, validate-package-json

ci(ci): migrate SDK control plane
  .agents/project.yaml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/copilot-instructions.md
  .github/workflows/on-pull-request.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  scripts/sync-agent-context.js
Due: format, lint

fix(ci): preserve required validation on metadata events
  .github/workflows/on-pull-request.yml
Due: none

ci: require latest validation gate result
  .github/workflows/on-pull-request.yml
Due: none

ci: harden preserved gate selection
  .github/workflows/on-pull-request.yml
Due: none

ci: preserve lifecycle checks without cancellation
  .github/workflows/on-pull-request.yml
Due: none

ci: split validation and metadata gates
  .github/workflows/on-pull-request.yml
Due: none

ci: isolate cancelled metadata baselines
  .github/workflows/on-pull-request.yml
Due: none

ci: queue lifecycle metadata checks
  .github/workflows/on-pull-request.yml
Due: none

ci: isolate lifecycle concurrency keys
  .github/workflows/on-pull-request.yml
Due: none

ci: recheck baseline in required gate
  .github/workflows/on-pull-request.yml
Due: none

chore(ci): recover transient metadata validation
  .github/workflows/on-pull-request.yml
Due: none

chore(ci): serialize metadata rechecks
  .github/workflows/on-pull-request.yml
Due: none

chore(ci): isolate inactive validation checks
  .github/workflows/on-pull-request.yml
Due: none

chore(ci): render inactive validation name
  .github/workflows/on-pull-request.yml
Due: none

fix(ci): preserve title validation runs
  .github/workflows/on-pull-request.yml
Due: none

ci(ci): migrate SDK control plane (#1075)
  .agents/project.yaml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/copilot-instructions.md
  .github/workflows/on-pull-request.yml
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  scripts/sync-agent-context.js
Due: format, lint

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
