Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

chore: replace pnpm with bun across project
  .gitea/workflows/on-merge-master.yaml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  packages/ai/README.md
  packages/files/README.md
  packages/pdf/README.md
  packages/spider/README.md
  packages/sql/README.md
  packages/utils/README.md
  setup_dev.sh
Due: none

feat: flake.nix initial commit
  flake.nix
Due: none

fix: resolve critical PDF package browser compatibility issues
  packages/pdf/.gitignore
  packages/pdf/CLAUDE.md
  packages/pdf/bun.lock
  packages/pdf/package.json
  packages/pdf/scripts/ocr_worker.py
  packages/pdf/src/browser.ts
  packages/pdf/src/browser/combined.ts
  packages/pdf/src/browser/factory.ts
  packages/pdf/src/browser/pdfjs.ts
  packages/pdf/src/capabilities.test.ts
  packages/pdf/src/error-handling.test.ts
  packages/pdf/src/extraction.test.ts
  packages/pdf/src/factory.test.ts
  packages/pdf/src/index.d.ts.map
  packages/pdf/src/index.spec.ts
  packages/pdf/src/legacy.test.ts
  packages/pdf/src/metadata.test.ts
  packages/pdf/src/node.ts
  packages/pdf/src/node/combined.ts
  packages/pdf/src/node/unpdf.ts
  packages/pdf/src/ocr-integration.test.ts
  packages/pdf/src/shared/base.ts
  packages/pdf/src/shared/factory.ts
  packages/pdf/src/shared/types.ts
  packages/pdf/tsconfig.browser.json
  packages/pdf/tsconfig.json
  packages/pdf/tsconfig.node.json
  packages/pdf/vitest.config.ts
Due: format, lint, validate-package-json

feat: modernize infrastructure and build system
  CLAUDE.md
  bun.lock
  flake.lock
  flake.nix
  package.json
  repomix-output.xml
  tsconfig.json
  typedoc.json
  vitest.config.ts
Due: none

refactor: modernize SQL package with cross-platform architecture
  packages/sql/CLAUDE.md
  packages/sql/package.json
  packages/sql/src/browser.ts
  packages/sql/src/index.d.ts
  packages/sql/src/index.d.ts.map
  packages/sql/src/index.js
  packages/sql/src/index.spec.ts
  packages/sql/src/index.ts
  packages/sql/src/node.ts
  packages/sql/src/postgres.d.ts
  packages/sql/src/postgres.d.ts.map
  packages/sql/src/postgres.js
  packages/sql/src/postgres.spec.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/shared/utils.ts
  packages/sql/src/sqlite.d.ts
  packages/sql/src/sqlite.d.ts.map
  packages/sql/src/sqlite.js
  packages/sql/src/sqlite.spec.ts
  packages/sql/src/sqlite.ts
  packages/sql/src/types.d.ts
  packages/sql/src/types.d.ts.map
  packages/sql/src/types.js
  packages/sql/tsconfig.browser.json
  packages/sql/tsconfig.json
  packages/sql/tsconfig.node.json
  packages/sql/vitest.config.ts
Due: format, lint, validate-package-json

feat(utils): complete cross-platform restructuring with enhanced dependencies
  packages/utils/CLAUDE.md
  packages/utils/package.json
  packages/utils/src/browser.ts
  packages/utils/src/browser/path.ts
  packages/utils/src/index.spec.ts
  packages/utils/src/index.ts
  packages/utils/src/node.ts
  packages/utils/src/node/path.ts
  packages/utils/src/shared/logger.ts
  packages/utils/src/shared/types.ts
  packages/utils/src/shared/universal.ts
  packages/utils/tsconfig.browser.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.node.json
  packages/utils/vitest.config.ts
Due: format, lint, validate-package-json

fix(spider): remove incomplete Crawl4AI implementation and fix build config
  packages/spider/CLAUDE.md
  packages/spider/package.json
  packages/spider/src/crawl4ai.spec.ts
  packages/spider/src/crawl4ai.ts
  packages/spider/tsconfig.json
  packages/spider/vitest.config.ts
Due: format, lint, validate-package-json

wip(smrt): comprehensive package cleanup and enhancement
  packages/smrt/CLAUDE.md
  packages/smrt/README.md
  packages/smrt/package.json
  packages/smrt/src/class.spec.ts
  packages/smrt/src/document.spec.ts
  packages/smrt/src/document.ts
  packages/smrt/src/fields/index.ts
  packages/smrt/src/generators/cli.ts
  packages/smrt/src/generators/index.ts
  packages/smrt/src/generators/mcp.ts
  packages/smrt/src/generators/rest.ts
  packages/smrt/src/generators/swagger.ts
  packages/smrt/src/human.ts
  packages/smrt/src/index.ts
  packages/smrt/src/object.spec.ts
  packages/smrt/src/object.ts
  packages/smrt/src/registry.ts
  packages/smrt/src/runtime/client.ts
  packages/smrt/src/runtime/index.ts
  packages/smrt/src/runtime/mcp.ts
  packages/smrt/src/runtime/server.ts
  packages/smrt/src/runtime/types.ts
  packages/smrt/src/scanner/ast-scanner.ts
  packages/smrt/src/scanner/index.ts
  packages/smrt/src/scanner/manifest-generator.ts
  packages/smrt/src/scanner/scanner.test.ts
  packages/smrt/src/scanner/test-sample.ts
  packages/smrt/src/scanner/types.ts
  packages/smrt/src/vite-plugin/index.ts
  packages/smrt/src/vite-plugin/plugin.test.ts.skip
  packages/smrt/tsconfig.json
  packages/smrt/vitest.config.ts
Due: format, lint, validate-package-json

fix: resolve TypeScript build issues and clean up dependencies
  bun.lock
  packages/spider/tsconfig.json
  packages/utils/src/index.spec.ts
Due: format, lint

feat: add Claude Code configuration and MCP server setup
  .claude/agents/README.md
  .claude/agents/agent-architect.md
  .claude/agents/agent-reviewer.md
  .claude/agents/agent-trainer.md
  .claude/agents/ai.md
  .claude/agents/api.md
  .claude/agents/cli.md
  .claude/agents/component-testing.md
  .claude/agents/files.md
  .claude/agents/mcp-server-manager.md
  .claude/agents/mcp.md
  .claude/agents/pdf.md
  .claude/agents/registry.json
  .claude/agents/repo.md
  .claude/agents/smrt.md
  .claude/agents/spider.md
  .claude/agents/sql.md
  .claude/agents/svelte.md
  .claude/agents/template.md
  .claude/agents/utils.md
  .claude/settings.json
  .gitignore
Due: format, lint

feat: add Playwright configuration and MCP server integration
  playwright.config.ts
  scripts/mcp-servers/README.md
  scripts/mcp-servers/playwright.sh
  scripts/mcp-servers/shadcn-ui.sh
  test-mcp.js
  tests/example.spec.ts
Due: format, lint

fix: add .direnv/ and .venv/ to gitignore
  .gitignore
Due: none

feat(smrt/content): enable SMRT auto-generation with web interface
  smrt/content/CLAUDE.md
  smrt/content/index.html
  smrt/content/package.json
  smrt/content/src/app/App.svelte
  smrt/content/src/app/app.css
  smrt/content/src/app/main.ts
  smrt/content/src/content.ts
  smrt/content/src/contents.spec.ts
  smrt/content/src/contents.ts
  smrt/content/src/document.spec.ts
  smrt/content/src/document.ts
  smrt/content/src/index.ts
  smrt/content/src/mock-smrt-client.ts
  smrt/content/src/server.ts
  smrt/content/src/utils.ts
  smrt/content/tsconfig.json
  smrt/content/vite.config.ts
Due: format, lint, validate-package-json
