Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

Notes added by 'git notes add'
  fc5aad4d4238ac9da20e6169cc91fa3373fce294
Due: none

docs: fix broken image in @have/smrt README
  README.md
  packages/core/smrt/README.md
  packages/core/smrt/smrt-homer.png
Due: none

chore(release): 0.20.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  2fd2183eda67649d546f7701f674675d3e34fac9
Due: none

fix(smrt): replace TypeScript import with JSDoc in @smrt/cli virtual module
  packages/core/smrt/src/vite-plugin/index.ts
Due: format, lint

chore(release): 0.20.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  261d487a02ec3bcdb77fee99ef04d0b8f0a577cd
Due: none

fix(smrt): lazy-load gnode and generate commands in CLIGenerator
  packages/core/smrt/src/generators/cli.ts
Due: format, lint

fix(assets): replace deprecated objectClass with _itemClass
  packages/modules/assets/src/asset-metafields.ts
  packages/modules/assets/src/asset-statuses.ts
  packages/modules/assets/src/asset-types.ts
  packages/modules/assets/src/assets.ts
Due: format, lint

chore(release): 0.20.3 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  dcdbb1825aa464ad3c099b7a8acde57f2f0c0e0d
Due: none

chore(release): 0.20.4 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  e43048d5927acae9565a22fe2f03e76bdb59c6cf
Due: none

fix: CLI auto-generation improvements
  packages/core/smrt/src/generators/cli.ts
  packages/core/smrt/src/manifest/static-manifest.json
  packages/core/smrt/src/manifest/static-manifest.ts
  packages/core/smrt/src/vite-plugin/index.ts
Due: format, lint

chore(release): 0.20.5 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  aa83674cd3a369a24743dbfeebc8373e7d7703d0
Due: none

feat(notes): add hierarchical note-taking module for SMRT objects
  packages/core/smrt/src/object.ts
  packages/modules/notes/package.json
  packages/modules/notes/src/index.ts
  packages/modules/notes/src/note.ts
  packages/modules/notes/src/notes.test.ts
  packages/modules/notes/src/notes.ts
  packages/modules/notes/src/types.ts
  packages/modules/notes/src/utils.ts
  packages/modules/notes/tsconfig.build.json
  packages/modules/notes/tsconfig.json
  scripts/build-all-packages.js
  tsconfig.json
  vite.config.ts
Due: format, lint, validate-package-json

fix(notes): address code review comments
  packages/modules/notes/src/notes.test.ts
  packages/modules/notes/src/notes.ts
Due: format, lint

chore: update pnpm-lock.yaml for notes module
  pnpm-lock.yaml
Due: none

fix(smrt): use ID as fallback for slug generation when name is not provided
  packages/core/smrt/src/manifest/static-manifest.json
  packages/core/smrt/src/manifest/static-manifest.ts
  packages/core/smrt/src/persistence/sql-adapter.ts
  vite.config.ts
Due: format, lint

fix(smrt): strip hyphens from UUID-based slugs to avoid UUID regex matching
  packages/core/smrt/src/persistence/sql-adapter.ts
Due: format, lint

fix(notes): update tests to use static factory pattern for NoteCollection
  packages/modules/notes/src/notes.test.ts
Due: format, lint

fix(notes): pass collection options when creating Note instances in note() method
  packages/modules/notes/src/notes.ts
Due: format, lint
