Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

fix: synchronize all package versions to 0.4.1
  packages/ai/package.json
  packages/content/package.json
  packages/files/package.json
  packages/ocr/package.json
  packages/pdf/package.json
  packages/products/package.json
  packages/smrt/package.json
  packages/spider/package.json
  packages/sql/package.json
  packages/utils/package.json
Due: format, lint, validate-package-json

chore(release): 0.6.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  eec8342e83a8d11a17886ebafe16fc874677464b
Due: none

feat(smrt): enhance TypeScript introspection with pre-build declarations
  packages/products/package.json
  packages/products/scripts/generate-smrt-types.js
  packages/products/tsconfig.json
  packages/products/vite.config.ts
  packages/smrt/package.json
  packages/smrt/src/consumer-plugin/index.ts
  packages/smrt/src/manifest/static-manifest.json
  packages/smrt/src/manifest/static-manifest.ts
  packages/smrt/src/prebuild/cli.ts
  packages/smrt/src/prebuild/index.ts
  packages/smrt/src/scanner/ast-scanner.ts
  packages/smrt/vite.config.ts
Due: format, lint, validate-package-json

chore(release): 0.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c397f6c558896d9accebe3f6e07481f516bb7435
Due: none

docs: comprehensive documentation for smrtConsumer plugin
  README.md
  docs/docs/getting-started/consuming-packages.md
  docs/docs/getting-started/installation.md
  docs/docs/index.md
  docs/docs/smrt-framework/code-generators.md
  docs/docs/tutorials/triple-purpose-architecture.md
  packages/products/CLAUDE.md
  packages/smrt/CLAUDE.md
Due: none

chore(release): 0.7.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  db4e2d3ef807e26b87c162ec7ddc09352ae0eefc
Due: none

fix(smrt): resolve consumer plugin distribution issue
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/docs/getting-started/installation.md
  docs/docs/getting-started/your-first-agent.md
  packages/smrt/CLAUDE.md
  packages/smrt/package.json
  packages/smrt/src/manifest/static-manifest.json
  packages/smrt/src/manifest/static-manifest.ts
  packages/smrt/vite.config.ts
  packages/sql/CLAUDE.md
  packages/sql/src/sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint, validate-package-json

chore(release): 0.7.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ab454eafab9330008333945286ffd57233b804d6
Due: none

fix(sql): resolve LibSQL dynamic require issue completely
  packages/sql/src/sqlite.ts
  packages/sql/vite.config.ts
Due: format, lint

fix(sql): eliminate environment-specific behavior and dynamic require issues
  packages/sql/src/sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

chore(release): 0.7.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1865c9bbd4427a1fd4e4858b96572d40d43567e8
Due: none

chore: update content package configuration
  packages/content/package.json
  packages/content/vite.config.ts
Due: format, lint, validate-package-json

fix(sql): eliminate environment-specific behavior that breaks testing
  packages/sql/src/sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

chore(release): 0.7.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  abfef5883082161565d5d7f70c4dd67683a5066f
Due: none

fix(sql): implement smart database instance detection in getDatabase
  packages/sql/src/index.ts
Due: format, lint

chore(release): 0.7.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  918931b299aa4f3d420081a7dc5d2db5e463bea1
Due: none

fix(content): correct build output filename to match package.json exports
  packages/content/vite.config.ts
Due: format, lint
