Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

chore: add pnpm catalog for external deps, override transitive SDK versions
  package.json
  packages/documents/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, validate-package-json

fix(ci): add packages:read permission to changeset-check workflow
  .github/workflows/changeset-check.yml
Due: none

fix(sql): prevent postgres connection pool exhaustion on schema sync (#807)
  packages/sql/src/postgres.ts
Due: format, lint

chore: add pnpm catalog for external deps, fix transitive version duplication (#808)
  .github/workflows/changeset-check.yml
  package.json
  packages/documents/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, validate-package-json

fix(ci): handle multi-line commit bodies in auto-changeset
  scripts/auto-changeset.ts
Due: format, lint

fix(ci): handle multi-line commit bodies in auto-changeset (#809)
  scripts/auto-changeset.ts
Due: format, lint

chore(deps): bump external package catalog versions
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): bump external package catalog versions (#810)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(ci): resolve pnpm/action-setup version conflict with packageManager
  .github/workflows/build-json-native.yml
  .github/workflows/claude.yml
Due: none

fix(ci): resolve pnpm/action-setup version conflict with packageManager (#811)
  .github/workflows/build-json-native.yml
  .github/workflows/claude.yml
Due: none

fix(ci): add missing packages:read permission and fix script injection in label handler
  .github/workflows/on-label-changed.yml
  .github/workflows/shared-label-handler.yml
Due: none

fix(ci): add missing packages:read permission and fix script injection in label handler (#812)
  .github/workflows/on-label-changed.yml
  .github/workflows/shared-label-handler.yml
Due: none

fix(ci): filter all bot senders from Claude Code workflow
  .github/workflows/claude.yml
Due: none

fix(ci): filter all bot senders from Claude Code workflow (#813)
  .github/workflows/claude.yml
Due: none

fix(ci): use correct allowedTools format for Claude Code action
  .github/workflows/claude.yml
Due: none

fix(ci): use correct allowedTools format for Claude Code action (#814)
  .github/workflows/claude.yml
Due: none

fix(ci): add GitHub Packages auth and remove invalid input from Claude workflow
  .github/workflows/claude.yml
Due: none

fix(ci): add GitHub Packages auth and remove invalid input from Claude workflow (#815)
  .github/workflows/claude.yml
Due: none

feat(messages): add unified multi-channel messaging package
  packages/messages/CLAUDE.md
  packages/messages/package.json
  packages/messages/src/adapters/email-bridge.ts
  packages/messages/src/adapters/slack.ts
  packages/messages/src/adapters/twitter.ts
  packages/messages/src/index.ts
  packages/messages/src/shared/base.ts
  packages/messages/src/shared/errors.ts
  packages/messages/src/shared/factory.ts
  packages/messages/src/shared/types.ts
  packages/messages/test/index.spec.ts
  packages/messages/tsconfig.json
  packages/messages/vite.config.ts
  packages/messages/vitest.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

fix(messages): include query params in OAuth signature and preserve error cause
  packages/messages/src/adapters/email-bridge.ts
  packages/messages/src/adapters/twitter.ts
  packages/messages/src/shared/errors.ts
Due: format, lint

feat(messages): add unified multi-channel messaging package (#816)
  packages/messages/CLAUDE.md
  packages/messages/package.json
  packages/messages/src/adapters/email-bridge.ts
  packages/messages/src/adapters/slack.ts
  packages/messages/src/adapters/twitter.ts
  packages/messages/src/index.ts
  packages/messages/src/shared/base.ts
  packages/messages/src/shared/errors.ts
  packages/messages/src/shared/factory.ts
  packages/messages/src/shared/types.ts
  packages/messages/test/index.spec.ts
  packages/messages/tsconfig.json
  packages/messages/vite.config.ts
  packages/messages/vitest.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

feat(directory): add unified multi-service directory provisioning package (#818)
  .changeset/directory-package.md
  .commitlintrc.json
  biome.json
  packages/directory/.claude-meta.json
  packages/directory/CLAUDE.md
  packages/directory/package.json
  packages/directory/src/__tests__/aws.test.ts
  packages/directory/src/__tests__/kanidm.test.ts
  packages/directory/src/__tests__/postgres.test.ts
  packages/directory/src/__tests__/stalwart.test.ts
  packages/directory/src/adapters/aws.ts
  packages/directory/src/adapters/kanidm.ts
  packages/directory/src/adapters/postgres.ts
  packages/directory/src/adapters/stalwart.ts
  packages/directory/src/index.ts
  packages/directory/src/shared/errors.ts
  packages/directory/src/shared/factory.ts
  packages/directory/src/shared/types.ts
  packages/directory/tsconfig.json
  packages/directory/vite.config.ts
  packages/sdk-mcp/src/registry.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

fix(directory): safer email parsing and SSL config passthrough
  packages/directory/src/adapters/postgres.ts
  packages/directory/src/adapters/stalwart.ts
  packages/directory/src/shared/types.ts
Due: format, lint

fix(ci): add persist-credentials to workflow validation checkout
  .github/workflows/on-pull-request.yml
Due: none

feat(directory): add unified multi-service directory provisioning package (#819)
  .changeset/directory-package.md
  .commitlintrc.json
  .github/workflows/on-pull-request.yml
  biome.json
  packages/directory/.claude-meta.json
  packages/directory/CLAUDE.md
  packages/directory/package.json
  packages/directory/src/__tests__/aws.test.ts
  packages/directory/src/__tests__/kanidm.test.ts
  packages/directory/src/__tests__/postgres.test.ts
  packages/directory/src/__tests__/stalwart.test.ts
  packages/directory/src/adapters/aws.ts
  packages/directory/src/adapters/kanidm.ts
  packages/directory/src/adapters/postgres.ts
  packages/directory/src/adapters/stalwart.ts
  packages/directory/src/index.ts
  packages/directory/src/shared/errors.ts
  packages/directory/src/shared/factory.ts
  packages/directory/src/shared/types.ts
  packages/directory/tsconfig.json
  packages/directory/vite.config.ts
  packages/sdk-mcp/src/registry.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

feat(sql): add pgvector support to PostgreSQL adapter
  packages/sql/src/postgres-vector.spec.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
Due: format, lint

fix(ci): remove duplicate .turbo from build outputs cache
  .github/workflows/test.yml
Due: none

fix(sql): skip vector tests when pgvector extension unavailable
  packages/sql/src/postgres-vector.spec.ts
Due: format, lint

fix(sql): address review feedback on pgvector vector capabilities
  packages/sql/src/postgres-vector.spec.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
Due: format, lint

feat(sql): add pgvector support to PostgreSQL adapter (#820)
  .github/workflows/test.yml
  packages/sql/src/postgres-vector.spec.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
Due: format, lint

feat(logger): add Sentry/GlitchTip signal adapter
  packages/logger/package.json
  packages/logger/src/sentry-adapter.test.ts
  packages/logger/src/sentry-adapter.ts
  packages/logger/src/sentry.ts
  packages/logger/vite.config.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(logger): address review feedback on sentry adapter
  packages/logger/package.json
  packages/logger/src/sentry-adapter.test.ts
  packages/logger/src/sentry-adapter.ts
Due: format, lint, validate-package-json

feat(logger): add Sentry/GlitchTip signal adapter (#821)
  packages/logger/package.json
  packages/logger/src/sentry-adapter.test.ts
  packages/logger/src/sentry-adapter.ts
  packages/logger/src/sentry.ts
  packages/logger/vite.config.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(sql): batch postgres table existence checks in createTablesFromSchemas
  packages/sql/src/postgres.ts
Due: format, lint

feat(sql): add needsSchemaSync() to check if adapter needs schemas
  packages/sql/src/index.ts
Due: format, lint

feat(sql): lazy schemas option — adapters resolve only when needed
  packages/sql/src/duckdb.ts
  packages/sql/src/index.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite.ts
Due: format, lint

feat(sql): lazy schemas — adapters resolve only when needed (#828)
  packages/sql/src/duckdb.ts
  packages/sql/src/index.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite.ts
Due: format, lint

feat(directory): add API token auth and credential reset intents to Kanidm adapter
  packages/directory/src/__tests__/kanidm.test.ts
  packages/directory/src/adapters/kanidm.ts
  packages/directory/src/index.ts
  packages/directory/src/shared/types.ts
Due: format, lint

refactor(directory): use discriminated union for KanidmOptions
  packages/directory/src/__tests__/kanidm.test.ts
  packages/directory/src/shared/factory.ts
  packages/directory/src/shared/types.ts
Due: format, lint
