Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

chore(config): regenerate generation-38 managed AGENTS.md policy block (#1237)
  AGENTS.md
Due: none

fix(weather): align Google Weather health check with the fetch path and map API_KEY_INVALID (#1234)
  .changeset/1232-google-weather-health-check.md
  packages/weather/src/__tests__/google-weather.spec.ts
  packages/weather/src/providers/google-weather.ts
Due: format, lint

fix(ci): fall back to a pinned actionlint download on hosted runners
  .github/workflows/on-pull-request.yml
Due: none

fix(ci): pin scaffold workflow templates to Node 24 action releases
  .github/workflow-templates/build-scaffold.yml
  .github/workflow-templates/publish-scaffold.yml
  .github/workflow-templates/test-scaffold.yml
Due: none

fix(ci): verify the actionlint fallback download against a pinned checksum
  .github/workflows/on-pull-request.yml
Due: none

fix(ci): move pnpm to 11.13.1 so the Node 24 pnpm/action-setup can install it
  .devcontainer/Dockerfile
  .github/workflows/node-runner-smoke.yml
  package.json
Due: none

ci: migrate actions to Node 24 runtimes (#1198)
  .devcontainer/Dockerfile
  .github/actions/setup-environment/action.yml
  .github/workflow-templates/build-scaffold.yml
  .github/workflow-templates/publish-scaffold.yml
  .github/workflow-templates/test-scaffold.yml
  .github/workflows/build-json-native.yml
  .github/workflows/build.yml
  .github/workflows/dependabot-automation.yml
  .github/workflows/node-runner-smoke.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/postgres-tests.yml
  .github/workflows/publish-dry-run.yml
  .github/workflows/publish.yml
  .github/workflows/shared-direct-publish.yml
  .github/workflows/shared-project-sync.yml
  .github/workflows/test.yml
  package.json
Due: none

fix(ai): shape OpenAI chat requests for gpt-5 and o-series reasoning models
  .changeset/1242-openai-gpt5-request-shape.md
  packages/ai/src/providers.test.ts
  packages/ai/src/shared/providers/openai.ts
Due: format, lint

fix(ai): match vendor-prefixed gateway model ids in gpt-5/o-series predicate
  .changeset/1242-openai-gpt5-request-shape.md
  packages/ai/src/providers.test.ts
  packages/ai/src/shared/providers/openai.ts
Due: format, lint

fix(ai): apply gpt-5/o-series request shaping to the legacy OpenAIClient path
  .changeset/1242-openai-gpt5-request-shape.md
  packages/ai/src/providers.test.ts
  packages/ai/src/shared/client.ts
Due: format, lint

docs(ai): describe token-limit helpers as internal, not public API
  .changeset/1242-openai-gpt5-request-shape.md
  packages/ai/src/shared/providers/openai.ts
Due: format, lint

fix(ai): shape OpenAI chat requests for gpt-5 and o-series reasoning models (#1244)
  .changeset/1242-openai-gpt5-request-shape.md
  packages/ai/src/providers.test.ts
  packages/ai/src/shared/client.ts
  packages/ai/src/shared/providers/openai.ts
Due: format, lint

test(sql): prove native nullable upsert fast path
  packages/sql/README.md
  packages/sql/src/postgres.spec.ts
Due: format, lint

test(sql): prove native nullable upsert fast path (#1246)
  packages/sql/README.md
  packages/sql/src/postgres.spec.ts
Due: format, lint

fix(sql): honor PostgreSQL schema metadata
  packages/sql/package.json
  packages/sql/src/postgres-schema-metadata.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint, validate-package-json

docs(sql): clarify PostgreSQL schema context
  packages/sql/README.md
Due: none

fix(sql): honor PostgreSQL schema metadata (#1248)
  packages/sql/README.md
  packages/sql/package.json
  packages/sql/src/postgres-schema-metadata.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint, validate-package-json

perf(utils): import date-fns by subpath instead of the barrel
  .changeset/cold-start-date-fns-googleapis.md
  packages/utils/src/shared/universal.ts
  packages/utils/vite.config.ts
Due: format, lint

perf(email): load googleapis on first Gmail connect, not at module scope
  packages/email/src/adapters/gmail.ts
Due: format, lint

chore(documents): replace uuid with crypto.randomUUID()
  .changeset/documents-drop-uuid.md
  ecosystem-manifest.json
  packages/documents/AGENT.md
  packages/documents/metadata.json
  packages/documents/package.json
  packages/documents/src/processors/pdf.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

perf(utils,email): cut cold-start import cost (date-fns subpaths, lazy googleapis) (#1255)
  .changeset/cold-start-date-fns-googleapis.md
  packages/email/src/adapters/gmail.ts
  packages/utils/src/shared/universal.ts
  packages/utils/vite.config.ts
Due: format, lint

fix(messages): externalize @slack/web-api so the ESM build no longer requires node:os
  .changeset/messages-esm-require.md
  packages/messages/test/dist-import.test.ts
  packages/messages/vite.config.ts
Due: format, lint

chore(documents): replace uuid with crypto.randomUUID() (#1256)
  .changeset/documents-drop-uuid.md
  ecosystem-manifest.json
  packages/documents/AGENT.md
  packages/documents/metadata.json
  packages/documents/package.json
  packages/documents/src/processors/pdf.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(messages): externalize @slack/web-api so the ESM build no longer requires node:os (#1257)
  .changeset/messages-esm-require.md
  packages/messages/test/dist-import.test.ts
  packages/messages/vite.config.ts
Due: format, lint

chore(release): add changeset so 0.89.11 publishes #1256 and #1257
  .changeset/republish-cold-start-fixes.md
Due: none

chore(release): add changeset so 0.89.11 publishes #1256 and #1257 (#1259)
  .changeset/republish-cold-start-fixes.md
Due: none

fix(release): fail publish when the version already exists on npm with different content
  scripts/publish-validated-artifacts.mjs
  scripts/publish-validated-artifacts.test.mjs
Due: format, lint

fix(release): fail publish when the version already exists on npm with different content (#1261)
  scripts/publish-validated-artifacts.mjs
  scripts/publish-validated-artifacts.test.mjs
Due: format, lint

chore: retire agent-policy lifecycle artifacts
  .agents/project.yaml
  .github/workflows/agent-policy.yml
  AGENTS.md
Due: none

chore: retire agent-policy lifecycle artifacts (#1263)
  .agents/project.yaml
  .github/workflows/agent-policy.yml
  AGENTS.md
Due: none

feat(accounting): add replay-safe Stripe billing
  .changeset/stripe-replay-safe-billing.md
  packages/accounting/README.md
  packages/accounting/src/index.test.ts
  packages/accounting/src/providers/stripe/index.ts
  packages/accounting/src/types.ts
Due: format, lint

feat(accounting): add replay-safe Stripe billing (#1265)
  .changeset/stripe-replay-safe-billing.md
  packages/accounting/README.md
  packages/accounting/src/index.test.ts
  packages/accounting/src/providers/stripe/index.ts
  packages/accounting/src/types.ts
Due: format, lint

ci(release): publish to npm.happyvertical.com first, mirror npmjs best-effort
  .github/workflows/on-merge-main.yml
  .github/workflows/publish.yml
  .github/workflows/shared-merge-orchestrator.yml
  README.md
  docs/WORKFLOW_SETUP.md
  scripts/mirror-release-to-npmjs.mjs
  scripts/mirror-release-to-npmjs.test.mjs
  scripts/publish-validated-artifacts.mjs
  scripts/publish-validated-artifacts.test.mjs
  scripts/release-registry.mjs
  scripts/release-registry.test.mjs
Due: format, lint

ci(release): report a permanently refused newest version as not mirrored; update install docs
  README.md
  docs/content/files.md
  packages/files/README.md
  packages/sdk-mcp/README.md
  scripts/mirror-release-to-npmjs.mjs
  scripts/mirror-release-to-npmjs.test.mjs
Due: format, lint

ci(release): publish to npm.happyvertical.com first, mirror npmjs best-effort (#1267)
  .github/workflows/on-merge-main.yml
  .github/workflows/publish.yml
  .github/workflows/shared-merge-orchestrator.yml
  README.md
  docs/WORKFLOW_SETUP.md
  docs/content/files.md
  packages/files/README.md
  packages/sdk-mcp/README.md
  scripts/mirror-release-to-npmjs.mjs
  scripts/mirror-release-to-npmjs.test.mjs
  scripts/publish-validated-artifacts.mjs
  scripts/publish-validated-artifacts.test.mjs
  scripts/release-registry.mjs
  scripts/release-registry.test.mjs
Due: format, lint

fix(release): report the npm error line when an npmjs mirror publish fails
  scripts/mirror-release-to-npmjs.mjs
  scripts/mirror-release-to-npmjs.test.mjs
Due: format, lint

feat(payments): add BTCPay Greenfield client for billing integrations
  .changeset/btcpay-greenfield-client.md
  packages/payments/README.md
  packages/payments/package.json
  packages/payments/src/adapters/btcpay.ts
  packages/payments/src/btcpay.test.ts
  packages/payments/src/index.ts
  packages/payments/vite.config.ts
Due: format, lint, validate-package-json

fix(payments): never mark an ambiguous BTCPay invoice creation retryable
  packages/payments/README.md
  packages/payments/src/adapters/btcpay.ts
  packages/payments/src/btcpay.test.ts
Due: format, lint

fix(accounting): honour maxRetries: 0 in the Stripe provider
  packages/accounting/src/providers/stripe/index.ts
Due: format, lint

feat(accounting): send invoice line service periods to Stripe
  packages/accounting/README.md
  packages/accounting/src/providers/stripe/index.ts
  packages/accounting/src/providers/stripe/invoice-lines.test.ts
  packages/accounting/src/types.ts
  packages/accounting/test/fake-stripe.ts
Due: format, lint

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
