Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

fix(accounts): correct tsconfig.json extends path for modules directory
  packages/modules/accounts/tsconfig.json
Due: format, lint

chore(release): 0.16.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  aca55d4ada32c1fccd6db2c346e62ae83e3a3ebd
Due: none

chore: update pnpm-lock.yaml for accounts module
  pnpm-lock.yaml
Due: none

chore(release): 0.17.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  9b16be8332f9c6b6b062a735c84633dd5e66e779
Due: none

feat(config): add @have/config package for centralized configuration
  packages/core/config/package.json
  packages/core/config/src/index.test.ts
  packages/core/config/src/index.ts
  packages/core/config/src/loader.ts
  packages/core/config/src/merge.ts
  packages/core/config/src/types.ts
  packages/core/config/tsconfig.build.json
  packages/core/config/tsconfig.json
  packages/modules/agents/SPEC.md
  pnpm-lock.yaml
  scripts/build-all-packages.js
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: format, lint, validate-package-json

fix(config): add @types/node dependency for Node.js globals
  packages/core/config/package.json
  pnpm-lock.yaml
Due: format, lint, validate-package-json

test(config): skip tests requiring Node.js module cache manipulation
  packages/core/config/src/index.test.ts
Due: format, lint

chore(release): 0.18.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  91a95fb90a73df335a0856db643c3756830c9545
Due: none

feat(agents): simplify Agent base class to minimal feature set
  packages/modules/agents/SPEC.md
  packages/modules/agents/package.json
  packages/modules/agents/src/agent.test.ts
  packages/modules/agents/src/agent.ts
  packages/modules/agents/src/index.ts
  packages/modules/agents/src/types.ts
  packages/modules/agents/tsconfig.build.json
  packages/modules/agents/tsconfig.json
Due: format, lint, validate-package-json

build(agents): integrate agents package into build system and update lockfile
  pnpm-lock.yaml
  scripts/build-all-packages.js
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: format, lint

chore(release): 0.19.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  cbd2827d0b5c8b55bfce8592f35d33c876e043ad
Due: none

fix: lint fix
  vite.config.ts
Due: none

fix(smrt): resolve foreign key circular dependencies with lazy string references
  packages/core/smrt/src/fields/__tests__/lazy-references.test.ts
  packages/core/smrt/src/fields/index.ts
  packages/modules/profiles/src/models/Profile.ts
  packages/modules/profiles/src/models/ProfileMetadata.ts
  packages/modules/profiles/src/models/ProfileRelationship.ts
  packages/modules/profiles/src/models/ProfileRelationshipTerm.ts
  packages/modules/profiles/src/models/__tests__/circular-dependency.test.ts
Due: format, lint

chore(release): 0.19.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  5913ee641c8bdf988046885a6671f2bbef980f8d
Due: none

fix(smrt): prevent duplicate timestamp columns in schema generation
  packages/core/smrt/src/__tests__/issue-144-integration.test.ts
  packages/core/smrt/src/__tests__/schema-generation.test.ts
  packages/core/smrt/src/manifest/static-manifest.json
  packages/core/smrt/src/manifest/static-manifest.ts
  packages/core/smrt/src/utils.ts
Due: format, lint

chore(release): 0.19.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  051f0e48c13195efec1638a1ad08598d1aeab18b
Due: none

feat(smrt): add @smrt/cli virtual module for auto-generated CLI
  packages/core/smrt/src/vite-plugin/cli-module.test.ts
  packages/core/smrt/src/vite-plugin/index.ts
Due: format, lint

chore(release): 0.20.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json
