Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

feat(graphql,repos,projects): add shared GraphQL client and enhance repos package
  .commitlintrc.json
  packages/graphql/package.json
  packages/graphql/src/client.ts
  packages/graphql/src/errors.ts
  packages/graphql/src/factory.ts
  packages/graphql/src/index.ts
  packages/graphql/src/types.ts
  packages/graphql/tsconfig.build.json
  packages/graphql/tsconfig.json
  packages/graphql/vite.config.ts
  packages/projects/package.json
  packages/projects/src/github/index.ts
  packages/repos/src/github/graphql.ts
  packages/repos/src/github/index.ts
  packages/repos/src/index.ts
  packages/repos/src/parsing.ts
  packages/repos/src/types.ts
  packages/repos/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

feat(messages): split into @happyvertical/email package
  packages/email/CLAUDE.md
  packages/email/package.json
  packages/email/src/adapters/gmail.ts
  packages/email/src/adapters/imap.ts
  packages/email/src/adapters/pop3.ts
  packages/email/src/adapters/smtp.ts
  packages/email/src/index.ts
  packages/email/src/shared/base.ts
  packages/email/src/shared/errors.ts
  packages/email/src/shared/factory.ts
  packages/email/src/shared/types.ts
  packages/email/tsconfig.json
  packages/email/vite.config.ts
  packages/messages/BRAINSTORM.md
  packages/messages/CHANGELOG.md
  packages/messages/CLAUDE.md
  packages/messages/README.md
  packages/messages/scripts/get-gmail-token.js
  packages/messages/src/encryption/index.ts
  packages/messages/src/encryption/types.ts
  packages/messages/src/index.ts
  packages/messages/src/shared/base.ts
  packages/messages/src/shared/factory.ts
  packages/messages/src/shared/schema.ts
  packages/messages/test/integration/encryption.test.ts
  packages/messages/test/integration/gmail-send-receive.test.ts
  packages/messages/test/integration/gmail.test.ts
  packages/messages/test/integration/smtp-imap.test.ts
  packages/messages/test/integration/sync.test.ts
  packages/messages/test/unit/base.test.ts
  packages/messages/test/unit/errors.test.ts
  packages/messages/test/unit/factory.test.ts
  packages/messages/test/unit/gmail.test.ts
  packages/messages/test/unit/imap.test.ts
  packages/messages/test/unit/pop3.test.ts
  packages/messages/test/unit/smtp.test.ts
  packages/messages/test/unit/sync.test.ts
  packages/sdk-mcp/src/registry.ts
  tsconfig.json
Due: format, lint, validate-package-json

chore: update pnpm-lock.yaml after merge
  pnpm-lock.yaml
Due: none

chore: add changeset for email, graphql, and repos packages
  .changeset/split-messages-and-graphql.md
Due: none

fix(messages): add vitest config with passWithNoTests for email package
  biome.json
  packages/email/vitest.config.ts
Due: format, lint

feat(ai): add message() method to AIInterface for simpler single-turn interactions
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/claude-cli.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/types.ts
Due: format, lint

feat(ai): add message() method to AIInterface for simpler single-turn interactions (#532)
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/claude-cli.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/types.ts
Due: format, lint

feat(repos): add GitHub API template fetching
  packages/repos/src/github/index.ts
  packages/repos/src/index.ts
  packages/repos/src/parsing.ts
  packages/repos/src/types.ts
Due: format, lint

feat(ai,repos): add message() method and GitHub template fetching (#534)
  packages/repos/src/github/index.ts
  packages/repos/src/index.ts
  packages/repos/src/parsing.ts
  packages/repos/src/types.ts
Due: format, lint

chore: update @happyvertical dependencies
  pnpm-lock.yaml
Due: none

chore: update @happyvertical dependencies (#533)
  pnpm-lock.yaml
Due: none

feat(sql): add 2D array support for OR/AND compound filters
  packages/sql/CLAUDE.md
  packages/sql/src/index.spec.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/shared/utils.ts
Due: format, lint

feat(sql): add 2D array support for OR/AND compound filters (#537)
  packages/sql/CLAUDE.md
  packages/sql/src/index.spec.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/shared/utils.ts
Due: format, lint

feat: add dependency graph generation with SKILL_TREE.md
  .dependency-cruiser.cjs
  SKILL_TREE.md
  docs/package.json
  package.json
  packages/ai/SKILL_TREE.md
  packages/cache/SKILL_TREE.md
  packages/documents/SKILL_TREE.md
  packages/email/SKILL_TREE.md
  packages/encryption/SKILL_TREE.md
  packages/files/SKILL_TREE.md
  packages/geo/SKILL_TREE.md
  packages/github-actions/SKILL_TREE.md
  packages/graphql/SKILL_TREE.md
  packages/logger/SKILL_TREE.md
  packages/ocr/SKILL_TREE.md
  packages/pdf/SKILL_TREE.md
  packages/projects/SKILL_TREE.md
  packages/repos/SKILL_TREE.md
  packages/sdk-mcp/SKILL_TREE.md
  packages/spider/SKILL_TREE.md
  packages/sql/SKILL_TREE.md
  packages/translator/SKILL_TREE.md
  packages/utils/SKILL_TREE.md
  packages/weather/SKILL_TREE.md
  pnpm-lock.yaml
Due: format, lint, validate-package-json

feat: add dependency graph generation with SKILL_TREE.md (#538)
  .dependency-cruiser.cjs
  SKILL_TREE.md
  docs/package.json
  package.json
  packages/ai/SKILL_TREE.md
  packages/cache/SKILL_TREE.md
  packages/documents/SKILL_TREE.md
  packages/email/SKILL_TREE.md
  packages/encryption/SKILL_TREE.md
  packages/files/SKILL_TREE.md
  packages/geo/SKILL_TREE.md
  packages/github-actions/SKILL_TREE.md
  packages/graphql/SKILL_TREE.md
  packages/logger/SKILL_TREE.md
  packages/ocr/SKILL_TREE.md
  packages/pdf/SKILL_TREE.md
  packages/projects/SKILL_TREE.md
  packages/repos/SKILL_TREE.md
  packages/sdk-mcp/SKILL_TREE.md
  packages/spider/SKILL_TREE.md
  packages/sql/SKILL_TREE.md
  packages/translator/SKILL_TREE.md
  packages/utils/SKILL_TREE.md
  packages/weather/SKILL_TREE.md
  pnpm-lock.yaml
Due: format, lint, validate-package-json

chore: update @happyvertical dependencies
  SKILL_TREE.md
  pnpm-lock.yaml
Due: none

chore: update @happyvertical dependencies (#539)
  SKILL_TREE.md
  pnpm-lock.yaml
Due: none

fix(sql): enable cross-table queries in JSON adapter with eager loading
  packages/sql/src/json-cross-table.spec.ts
  packages/sql/src/json.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/types.ts
Due: format, lint

fix(sql): enable cross-table queries in JSON adapter with eager loading (#540)
  packages/sql/src/json-cross-table.spec.ts
  packages/sql/src/json.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/types.ts
Due: format, lint

chore: update @happyvertical dependencies (#541)
  SKILL_TREE.md
  pnpm-lock.yaml
Due: none

fix(ci): resolve workflow failures and warnings
  .github/actions/cascade-handler/action.yml
  .github/workflows/changeset-check.yml
  .github/workflows/shared-direct-publish.yml
  .github/workflows/test.yml
Due: none

feat(weather): add Google Weather API provider
  .changeset/google-weather-provider.md
  packages/weather/CLAUDE.md
  packages/weather/src/__tests__/google-weather.spec.ts
  packages/weather/src/index.ts
  packages/weather/src/providers/google-weather.ts
  packages/weather/src/shared/types.ts
Due: format, lint

fix(weather): add pagination support for Google Weather forecasts
  packages/weather/CLAUDE.md
  packages/weather/src/__tests__/google-weather.spec.ts
  packages/weather/src/providers/google-weather.ts
Due: format, lint

feat(weather): add Google Weather API provider (#542)
  .changeset/google-weather-provider.md
  packages/weather/CLAUDE.md
  packages/weather/src/__tests__/google-weather.spec.ts
  packages/weather/src/index.ts
  packages/weather/src/providers/google-weather.ts
  packages/weather/src/shared/types.ts
Due: format, lint

chore: add Renovate configuration
  .github/dependabot.yml
  renovate.json
Due: none

chore: add Renovate configuration (#545)
  .github/dependabot.yml
  renovate.json
Due: none

chore: migrate from dependency cascade to Renovate CE
  .github/CASCADE.md
  .github/CASCADE_MIGRATION_GUIDE.md
  .github/actions/cascade-handler/action.yml
  .github/cascade-config.json
  .github/workflows/cascade-handler-template.yml
  .github/workflows/cascade-trigger.yml
  .github/workflows/changeset-check.yml
  .github/workflows/publish.yml
  .github/workflows/shared-merge-orchestrator.yml
  CLAUDE.md
  packages/utils/src/index.ts
Due: format, lint

chore: migrate from dependency cascade to Renovate CE (#547)
  .github/CASCADE.md
  .github/CASCADE_MIGRATION_GUIDE.md
  .github/actions/cascade-handler/action.yml
  .github/cascade-config.json
  .github/workflows/cascade-handler-template.yml
  .github/workflows/cascade-trigger.yml
  .github/workflows/changeset-check.yml
  .github/workflows/publish.yml
  .github/workflows/shared-merge-orchestrator.yml
  CLAUDE.md
  packages/utils/src/index.ts
Due: format, lint

fix(sql): prevent DuckDB :memory: databases from leaking to disk
  .changeset/fix-duckdb-memory-leak.md
  packages/sql/src/duckdb.spec.ts
  packages/sql/src/duckdb.ts
Due: format, lint

test(weather): skip flaky timeout test
  packages/weather/src/__tests__/openweathermap.spec.ts
Due: format, lint

fix(sql): prevent DuckDB :memory: databases from leaking to disk (#593)
  .changeset/fix-duckdb-memory-leak.md
  packages/sql/src/duckdb.spec.ts
  packages/sql/src/duckdb.ts
  packages/weather/src/__tests__/openweathermap.spec.ts
Due: format, lint

fix(ci): remove undeclared GH_TOKEN from on-merge-main workflow
  .github/workflows/on-merge-main.yml
Due: none

fix(ci): add auth token config for GitHub Packages in .npmrc
  .npmrc
Due: none

fix(ci): add packages:read permission to test workflow
  .github/workflows/test.yml
Due: none

fix(ci): add NODE_AUTH_TOKEN to setup-environment action
  .github/actions/setup-environment/action.yml
Due: none

chore: remove Playwright from SDK
  .devcontainer/devcontainer.json
  .github/actions/setup-environment/action.yml
  flake.nix
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/mcp-servers/README.md
  scripts/mcp-servers/playwright.sh
Due: format, lint
