Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

fix(smrt): add missing entry point files for package exports
  packages/core/smrt/src/consumer-plugin.ts
  packages/core/smrt/src/fields.ts
  packages/core/smrt/src/generators.ts
  packages/core/smrt/src/manifest.ts
  packages/core/smrt/src/prebuild.ts
  packages/core/smrt/src/runtime.ts
  packages/core/smrt/src/vite-plugin.ts
Due: format, lint

fix(sql): correct client.execute() API usage for LibSQL
  packages/core/smrt/src/class.ts
  packages/core/sql/src/sqlite.ts
Due: format, lint

feat(smrt): complete MCP server generation with runtime bootstrap and stdio transport
  packages/core/smrt/dist/chunks/collection-CuDSwVK-.js
  packages/core/smrt/dist/chunks/collection-CuDSwVK-.js.map
  packages/core/smrt/dist/chunks/collection-fcVk8Wh3.js.map
  packages/core/smrt/dist/chunks/index-C817Echr.js.map
  packages/core/smrt/dist/chunks/index-CBwtE8XY.js.map
  packages/core/smrt/dist/chunks/index-CEGpQ-x1.js.map
  packages/core/smrt/dist/chunks/index-CoRmHlvP.js
  packages/core/smrt/dist/chunks/index-CoRmHlvP.js.map
  packages/core/smrt/dist/chunks/index-Cx2MeuP_.js.map
  packages/core/smrt/dist/chunks/registry-CZx11Old.js
  packages/core/smrt/dist/chunks/registry-CZx11Old.js.map
  packages/core/smrt/dist/chunks/registry-DirJKcgN.js.map
  packages/core/smrt/dist/chunks/static-manifest-C9XjwjJV.js.map
  packages/core/smrt/dist/chunks/static-manifest-CMPc36rs.js
  packages/core/smrt/dist/chunks/static-manifest-CMPc36rs.js.map
  packages/core/smrt/dist/class.d.ts.map
  packages/core/smrt/dist/generators/cli.js
  packages/core/smrt/dist/generators/mcp-runtime-template.d.ts
  packages/core/smrt/dist/generators/mcp-runtime-template.d.ts.map
  packages/core/smrt/dist/generators/mcp.d.ts
  packages/core/smrt/dist/generators/mcp.d.ts.map
  packages/core/smrt/dist/generators/mcp.js
  packages/core/smrt/dist/generators/mcp.js.map
  packages/core/smrt/dist/generators/rest.js
  packages/core/smrt/dist/generators/swagger.js
  packages/core/smrt/dist/index.js
  packages/core/smrt/dist/manifest.js
  packages/core/smrt/dist/utils.js
  packages/core/smrt/dist/vite-plugin.js
  packages/core/smrt/package.json
  packages/core/smrt/src/generators/mcp-runtime-template.ts
  packages/core/smrt/src/generators/mcp.ts
  packages/core/smrt/src/manifest/static-manifest.json
  packages/core/smrt/src/manifest/static-manifest.ts
  packages/core/smrt/src/persistence/rest-adapter.spec.ts
  packages/modules/products/package.json
  packages/modules/products/src/mcp.ts
  pnpm-lock.yaml
  vite.config.ts
  vitest.config.ts
Due: format, lint, validate-package-json

style: format vite.config.ts with biome
  vite.config.ts
Due: none

docs: add git branching strategy and feature branch workflow
  CLAUDE.md
Due: none

Notes added by 'git notes add'
  11df8a8592a9d14bd60747de3c608052bb0fd7ee
Due: none

fix(smrt): use pnpm exec tsx for MCP advisor server to avoid global dependency
  scripts/mcp-servers/smrt-dev-server.sh
Due: none

chore: add commit-msg hook with commitlint validation
  .commitlintrc.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: none

fix(smrt): run MCP advisor directly via pnpm exec tsx without bridge script
  .mcp.json
Due: none

docs(smrt): add SMRT Advisor MCP server section to README
  packages/core/smrt/README.md
Due: none

Notes added by 'git notes add'
  a1f976973ddcb4d6107934ab33ca45d36721341d
Due: none

docs(smrt): add direct SQL access section to README
  packages/core/smrt/README.md
Due: none

fix(agents): use url instead of filename for database config
  packages/modules/agents/src/agent.test.ts
Due: format, lint

fix(agents): use in-memory database for tests
  packages/modules/agents/src/agent.test.ts
Due: format, lint

Notes added by 'git notes add'
  7627f0d96977111a5694c112baf2637e5ab6fbd3
Due: none

feat(utils): add web utility functions for URL handling
  packages/core/utils/dist/index.d.ts
  packages/core/utils/dist/index.d.ts.map
  packages/core/utils/dist/index.js
  packages/core/utils/dist/index.js.map
  packages/core/utils/dist/index9.js
  packages/core/utils/dist/index9.js.map
  packages/core/utils/dist/web.d.ts
  packages/core/utils/dist/web.d.ts.map
  packages/core/utils/src/index.ts
  packages/core/utils/src/web.ts
Due: format, lint

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
