Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

feat(images): add @happyvertical/images package for image processing
  commitlint.config.js
  packages/images/CLAUDE.md
  packages/images/package.json
  packages/images/src/adapters.test.ts
  packages/images/src/adapters/imgproxy.ts
  packages/images/src/adapters/jimp.ts
  packages/images/src/adapters/sharp.ts
  packages/images/src/index.test.ts
  packages/images/src/index.ts
  packages/images/src/shared/errors.ts
  packages/images/src/shared/factory.ts
  packages/images/src/shared/types.ts
  packages/images/tsconfig.json
  packages/images/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

chore(ci): add 'images' scope to commitlint json config
  .commitlintrc.json
Due: none

feat(images,geo): add headline card and static map generation
  packages/geo/src/index.ts
  packages/geo/src/static-maps.ts
  packages/images/package.json
  packages/images/src/headline-card.ts
  packages/images/src/index.ts
  pnpm-lock.yaml
  vite.config.base.ts
Due: format, lint, validate-package-json

feat(images): add imgproxy integration tests and URL signing helpers
  packages/images/src/adapters/imgproxy.integration.test.ts
  packages/images/src/adapters/imgproxy.ts
  packages/images/src/index.ts
Due: format, lint

feat(images): add @happyvertical/images package for image processing (#703)
  .commitlintrc.json
  commitlint.config.js
  packages/geo/src/index.ts
  packages/geo/src/static-maps.ts
  packages/images/CLAUDE.md
  packages/images/package.json
  packages/images/src/adapters.test.ts
  packages/images/src/adapters/imgproxy.integration.test.ts
  packages/images/src/adapters/imgproxy.ts
  packages/images/src/adapters/jimp.ts
  packages/images/src/adapters/sharp.ts
  packages/images/src/headline-card.ts
  packages/images/src/index.test.ts
  packages/images/src/index.ts
  packages/images/src/shared/errors.ts
  packages/images/src/shared/factory.ts
  packages/images/src/shared/types.ts
  packages/images/tsconfig.json
  packages/images/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
  vite.config.base.ts
Due: format, lint, validate-package-json

fix(images): use WOFF format for Google Fonts (Satori compatibility)
  packages/images/src/headline-card.ts
Due: format, lint

fix(images): use flex instead of inline-flex for Satori compatibility
  packages/images/src/headline-card.ts
Due: format, lint

feat(auth): add authentication package with Keycloak provider
  commitlint.config.js
  packages/auth/CLAUDE.md
  packages/auth/KEYCLOAK_SETUP.md
  packages/auth/README.md
  packages/auth/package.json
  packages/auth/src/factory.spec.ts
  packages/auth/src/index.ts
  packages/auth/src/keycloak.integration.spec.ts
  packages/auth/src/shared/errors.ts
  packages/auth/src/shared/factory.ts
  packages/auth/src/shared/providers/cognito.ts
  packages/auth/src/shared/providers/keycloak.ts
  packages/auth/src/shared/providers/nostr/index.ts
  packages/auth/src/shared/types.ts
  packages/auth/tsconfig.json
  packages/auth/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

chore(ci): add auth scope to commitlint and changeset
  .changeset/auth-package-initial.md
  .commitlintrc.json
Due: none

feat(auth): add authentication package with Keycloak provider (#704)
  .changeset/auth-package-initial.md
  .commitlintrc.json
  commitlint.config.js
  packages/auth/CLAUDE.md
  packages/auth/KEYCLOAK_SETUP.md
  packages/auth/README.md
  packages/auth/package.json
  packages/auth/src/factory.spec.ts
  packages/auth/src/index.ts
  packages/auth/src/keycloak.integration.spec.ts
  packages/auth/src/shared/errors.ts
  packages/auth/src/shared/factory.ts
  packages/auth/src/shared/providers/cognito.ts
  packages/auth/src/shared/providers/keycloak.ts
  packages/auth/src/shared/providers/nostr/index.ts
  packages/auth/src/shared/types.ts
  packages/auth/tsconfig.json
  packages/auth/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

feat(utils): add number type support to OptionConfig
  .changeset/number-type-option.md
  packages/utils/src/cli/parse-args.test.ts
  packages/utils/src/cli/parse-args.ts
Due: format, lint

feat(utils): add number type support to OptionConfig (#707)
  .changeset/number-type-option.md
  packages/utils/src/cli/parse-args.test.ts
  packages/utils/src/cli/parse-args.ts
Due: format, lint

feat(accounting): add multi-provider accounting integration package
  .changeset/fair-adults-build.md
  .commitlintrc.json
  commitlint.config.js
  packages/accounting/CLAUDE.md
  packages/accounting/package.json
  packages/accounting/src/index.ts
  packages/accounting/src/intuit-oauth.d.ts
  packages/accounting/src/providers/quickbooks/index.ts
  packages/accounting/src/providers/stripe/index.ts
  packages/accounting/src/types.ts
  packages/accounting/tsconfig.json
  packages/accounting/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

test(accounting): add basic tests for provider factory
  packages/accounting/src/index.test.ts
Due: format, lint

fix(accounting): address PR review feedback
  packages/accounting/CLAUDE.md
  packages/accounting/package.json
  packages/accounting/src/providers/quickbooks/index.ts
Due: format, lint, validate-package-json

chore(accounting): update lockfile for version changes
  pnpm-lock.yaml
Due: none

feat(accounting): add multi-provider accounting integration package (#709)
  .changeset/fair-adults-build.md
  .commitlintrc.json
  commitlint.config.js
  packages/accounting/CLAUDE.md
  packages/accounting/package.json
  packages/accounting/src/index.test.ts
  packages/accounting/src/index.ts
  packages/accounting/src/intuit-oauth.d.ts
  packages/accounting/src/providers/quickbooks/index.ts
  packages/accounting/src/providers/stripe/index.ts
  packages/accounting/src/types.ts
  packages/accounting/tsconfig.json
  packages/accounting/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

feat(auth): add Kanidm authentication provider
  .changeset/kanidm-provider.md
  biome.json
  packages/auth/CLAUDE.md
  packages/auth/src/index.ts
  packages/auth/src/kanidm.integration.spec.ts
  packages/auth/src/shared/factory.ts
  packages/auth/src/shared/providers/kanidm.ts
  packages/auth/src/shared/types.ts
Due: format, lint

feat(auth): add Kanidm authentication provider (#712)
  .changeset/kanidm-provider.md
  biome.json
  packages/auth/CLAUDE.md
  packages/auth/src/index.ts
  packages/auth/src/kanidm.integration.spec.ts
  packages/auth/src/shared/factory.ts
  packages/auth/src/shared/providers/kanidm.ts
  packages/auth/src/shared/types.ts
Due: format, lint

ci: use self-hosted arc-happyvertical runners
  .github/.yamllint.yml
  .github/actionlint.yaml
  .github/workflows/build.yml
  .github/workflows/changeset-check.yml
  .github/workflows/claude.yml
  .github/workflows/on-pr-main-dependabot.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/planning.yml
  .github/workflows/publish.yml
  .github/workflows/shared-agent-orchestrator.yml
  .github/workflows/shared-direct-publish.yml
  .github/workflows/shared-issue-closer.yml
  .github/workflows/shared-label-handler.yml
  .github/workflows/shared-merge-orchestrator.yml
  .github/workflows/shared-pr-handler.yml
  .github/workflows/shared-triage.yml
  .github/workflows/test.yml
Due: none

ci: use self-hosted arc-happyvertical runners (#715)
  .github/.yamllint.yml
  .github/actionlint.yaml
  .github/workflows/build.yml
  .github/workflows/changeset-check.yml
  .github/workflows/claude.yml
  .github/workflows/on-pr-main-dependabot.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/planning.yml
  .github/workflows/publish.yml
  .github/workflows/shared-agent-orchestrator.yml
  .github/workflows/shared-direct-publish.yml
  .github/workflows/shared-issue-closer.yml
  .github/workflows/shared-label-handler.yml
  .github/workflows/shared-merge-orchestrator.yml
  .github/workflows/shared-pr-handler.yml
  .github/workflows/shared-triage.yml
  .github/workflows/test.yml
Due: none

feat(auth): add Google and GitHub OAuth providers
  packages/auth/src/index.ts
  packages/auth/src/shared/factory.ts
  packages/auth/src/shared/providers/github.ts
  packages/auth/src/shared/providers/google.ts
  packages/auth/src/shared/types.ts
Due: format, lint

feat(auth): add Google and GitHub OAuth providers (#717)
  packages/auth/src/index.ts
  packages/auth/src/shared/factory.ts
  packages/auth/src/shared/providers/github.ts
  packages/auth/src/shared/providers/google.ts
  packages/auth/src/shared/types.ts
Due: format, lint

chore(ci): add analytics scope to commitlint
  commitlint.config.js
Due: none

feat(analytics): add unified analytics package with GA4 and Plausible providers
  packages/analytics/CLAUDE.md
  packages/analytics/package.json
  packages/analytics/src/index.ts
  packages/analytics/src/shared/factory.ts
  packages/analytics/src/shared/providers/ga4.ts
  packages/analytics/src/shared/providers/plausible.ts
  packages/analytics/src/shared/types.ts
  packages/analytics/tsconfig.json
  packages/analytics/vite.config.ts
  packages/sdk-mcp/src/registry.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

chore(ci): fix commitlint scope and add changeset for analytics
  .changeset/sweet-news-occur.md
  .commitlintrc.json
Due: none

test(analytics): add unit tests for error classes
  packages/analytics/src/types.test.ts
Due: format, lint

feat(analytics): add unified analytics package (#719)
  .changeset/sweet-news-occur.md
  .commitlintrc.json
  commitlint.config.js
  packages/analytics/CLAUDE.md
  packages/analytics/package.json
  packages/analytics/src/index.ts
  packages/analytics/src/shared/factory.ts
  packages/analytics/src/shared/providers/ga4.ts
  packages/analytics/src/shared/providers/plausible.ts
  packages/analytics/src/shared/types.ts
  packages/analytics/src/types.test.ts
  packages/analytics/tsconfig.json
  packages/analytics/vite.config.ts
  packages/sdk-mcp/src/registry.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

feat(sql): add beginTransaction() for manual transaction control
  packages/sql/src/duckdb.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite.ts
  packages/sql/src/transaction-handle.spec.ts
Due: format, lint

feat(sql): add beginTransaction() for manual transaction control (#722)
  packages/sql/src/duckdb.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite.ts
  packages/sql/src/transaction-handle.spec.ts
Due: format, lint

feat: integrate Claude Code Action via org workflows
  .github/workflows/on-ci-failure.yml
  .github/workflows/on-issue-opened.yml
  .github/workflows/on-label-changed.yml
  .github/workflows/on-test-failure.yml
Due: none

feat: integrate Claude Code Action via org workflows (#733)
  .github/workflows/on-ci-failure.yml
  .github/workflows/on-issue-opened.yml
  .github/workflows/on-label-changed.yml
  .github/workflows/on-test-failure.yml
Due: none

feat: add status_planning_id for autopilot preparation phase
  .github/workflows/on-label-changed.yml
Due: none

feat(ci): add issue checkup caller workflow
  .github/workflows/on-issue-checkup.yml
Due: none

fix(ci): remove unused status_planning_id from autopilot caller
  .github/workflows/on-label-changed.yml
Due: none

feat(ci): add issue checkup workflow
  .github/workflows/on-issue-checkup.yml
Due: none

feat(ci): add issue checkup workflow (#734)
  .github/workflows/on-issue-checkup.yml
Due: none

fix(sql): include original error in postgres table creation error message
  packages/sql/src/postgres.ts
Due: format, lint

fix(sql): capture pg error details (code, detail, hint, severity)
  packages/sql/src/postgres.ts
Due: format, lint

feat(utils): add browser-safe entry point
  packages/utils/package.json
  packages/utils/src/browser.ts
  packages/utils/vite.config.ts
Due: format, lint, validate-package-json
