Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

fix(notes): save Note instances to database in note() method
  packages/modules/notes/src/notes.ts
Due: format, lint

fix(notes): properly pass options to create() instead of instance
  packages/core/smrt/CLAUDE.md
  packages/modules/notes/src/notes.ts
Due: format, lint

fix(notes): rename lastUsed to lastUsedAt for proper DATETIME support
  packages/modules/notes/src/note.ts
  packages/modules/notes/src/notes.test.ts
  packages/modules/notes/src/notes.ts
Due: format, lint

fix(notes): enable integration test by using direct imports
  packages/modules/notes/src/notes.test.ts
Due: format, lint

chore(release): 0.21.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/notes/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  cc4f6366bc4d3f4f8ee13197cea428c5f0eaf1a2
Due: none

feat(ai): add tool use and structured output support to all providers
  packages/core/ai/src/shared/providers/anthropic.ts
  packages/core/ai/src/shared/providers/gemini.ts
Due: format, lint

docs(ai): update documentation for tool use and structured output
  packages/core/ai/CLAUDE.md
Due: none

fix(ai): improve type safety and error handling in AI providers
  packages/core/ai/src/integration.test.ts
  packages/core/ai/src/shared/providers/anthropic.ts
  packages/core/ai/src/shared/providers/gemini.ts
Due: format, lint

fix(ai): update Gemini provider for @google/genai SDK compatibility
  packages/core/ai/src/integration.test.ts
  packages/core/ai/src/shared/providers/gemini.ts
Due: format, lint

docs(ai): update documentation for tool use and structured output
  packages/core/ai/src/integration.test.ts
Due: format, lint

chore(release): 0.22.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/notes/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  4e1747c69fd1ccadc025a648782c14eadab67bda
Due: none

feat(utils): add code extraction and safe execution utilities
  packages/core/utils/src/shared/code/code.test.ts
  packages/core/utils/src/shared/code/extraction.ts
  packages/core/utils/src/shared/code/index.ts
  packages/core/utils/src/shared/code/sandbox.ts
  packages/core/utils/src/shared/code/validation.ts
  packages/core/utils/src/shared/index.ts
Due: format, lint

refactor(utils): address code review feedback
  packages/core/utils/src/shared/code/code.test.ts
  packages/core/utils/src/shared/code/extraction.ts
  packages/core/utils/src/shared/code/sandbox.ts
  packages/core/utils/src/shared/code/validation.ts
Due: format, lint

chore(release): 0.23.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/notes/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  5861071efcf3207c628f907bad10e7e2af9f04cf
Due: none

fix(smrt): integrate getAI factory for multi-provider support
  packages/core/smrt/src/class.ts
  packages/core/spider/package.json
  pnpm-lock.yaml
Due: format, lint, validate-package-json

chore(release): 0.23.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/notes/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  d9f31b45e82fac1138b3d61195a4efe3ad66dc7f
Due: none

feat(documents): add @have/documents package for multi-part document processing
  packages/core/documents/package.json
  packages/core/documents/src/document.ts
  packages/core/documents/src/factory.ts
  packages/core/documents/src/index.test.ts
  packages/core/documents/src/index.ts
  packages/core/documents/src/processors/pdf.ts
  packages/core/documents/src/types.ts
  packages/core/documents/testdata/Agenda-Package-September-9-2025-Regular-Council-Meeting.pdf
  packages/core/documents/testdata/Agenda-Package-September-9-2025-Regular-Council-Meeting.pdf.processed_pdf
  packages/core/documents/testdata/Signed Minutes - September 9, 2025 Regular Meeting.pdf
  packages/core/documents/testdata/Signed Minutes - September 9, 2025 Regular Meeting.pdf.processed_pdf
  packages/core/documents/testdata/Signed%20Minutes%20-%20September%209,%202025%20Regular%20Meeting.pdf.processed_pdf
  packages/core/documents/tsconfig.json
  packages/core/documents/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

refactor(content): migrate to @have/documents package
  packages/modules/content/package.json
  packages/modules/content/src/contents.ts
  packages/modules/content/src/document.spec.ts
  packages/modules/content/src/document.ts
  packages/modules/content/src/index.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
