Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

fix(ocr): add PNG/JPEG decoding support to ONNX provider
  packages/ocr/src/node/onnx-gutenye.ts
Due: format, lint

feat(lefthook): exclude docs/ from package.json validation
  lefthook.yml
Due: none

feat(readme): modernize and focus on SMRT framework capabilities
  README.md
Due: none

chore: comprehensive cleanup of obsolete files and build artifacts
  .gitea/workflows/agents/claude/on-assigned-issue.yaml
  .gitea/workflows/agents/claude/on-assigned-pr.yaml
  .gitea/workflows/agents/claude/test-issue-trigger.yaml
  .gitea/workflows/on-merge-master.yaml
  .gitignore
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  CHEATSHEET.md
  FLAKE_OCR_SETUP.md
  PERFORMANCE_RECOMMENDATIONS.md
  SVELTEKIT_MIGRATION_PLAN.md
  SVELTE_ECOSYSTEM_ROADMAP.md
  packages/ai/docs/README.md
  packages/files/docs/@have/namespaces/default.md
  packages/files/docs/README.md
  packages/ocr/docs/README.md
  packages/pdf/docs/@have/namespaces/default.md
  packages/pdf/docs/README.md
  packages/smrt/docs/README.md
  packages/spider/docs/README.md
  packages/sql/docs/README.md
  packages/utils/docs/README.md
  repomix-output.xml
  test-mcp.js
Due: none

fix(sql): prepare PostgreSQL adapter for public consumption
  packages/sql/package.json
  packages/sql/src/index.spec.ts
  packages/sql/src/index.ts
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/shared/utils.ts
  packages/sql/src/sqlite.ts
Due: format, lint, validate-package-json

feat(devcontainer): add PostgreSQL support and development tools
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/docker-compose.yml
  .devcontainer/init-scripts/01-create-test-db.sql
  .devcontainer/scripts/run-sql-tests.sh
  .devcontainer/scripts/setup-claude-container.sh
  .devcontainer/scripts/setup-claude-host.sh
  .devcontainer/scripts/test-postgres-connection.sh
  .github/workflows/on-pr-main-dependabot.yml
  .github/workflows/test.yml
  bun.lock
  lefthook.yml
Due: none

fix(devcontainer): resolve git hooks validation blocking commits
  .devcontainer/devcontainer.json
  biome.json
  package.json
  scripts/validate-package-json.js
Due: format, lint

fix(ci): resolve workflow dependency installation failures
  .github/workflows/test.yml
  package.json
Due: none

fix(products): make prepare script conditional on smrt build
  smrt/products/package.json
Due: format, lint, validate-package-json

fix(ci): add tsconfig.docs.json for documentation generation
  .gitignore
  tsconfig.docs.json
Due: none

feat(devcontainer): add Act integration for local CI testing
  .actrc
  .devcontainer/ACT_INTEGRATION.md
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/scripts/debug-ci.sh
  .devcontainer/scripts/investigate-ci.sh
  .devcontainer/scripts/rebuild-devcontainer.sh
  .devcontainer/scripts/test-exports.sh
  .devcontainer/scripts/validate-act-setup.sh
  .env.act
  .gitignore
  package.json
Due: none
