Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

test(sql): register the connection lifecycle suite for postgres CI
  packages/sql/package.json
Due: format, lint, validate-package-json

fix(sql): stop nested transaction() destroying the enclosing transaction
  .changeset/nested-transaction-semantics.md
  packages/sql/src/duckdb.ts
  packages/sql/src/json.ts
  packages/sql/src/nested-transaction.spec.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite.ts
Due: format, lint

test(sql): narrow optional transaction methods instead of asserting
  packages/sql/src/nested-transaction.spec.ts
Due: format, lint

fix(sql): re-enter postgres transactions via savepoint instead of a new connection
  .changeset/postgres-savepoint-nesting.md
  packages/sql/package.json
  packages/sql/src/postgres-nested-transaction.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint, validate-package-json

fix(sql): apply savepoint nesting to the native sqlite path too
  .changeset/nested-transaction-semantics.md
  packages/sql/src/nested-transaction.spec.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite-native.ts
Due: format, lint

fix(sql): stop postgres pool crashes and transaction connection leaks (#1116)
  .changeset/postgres-connection-lifecycle-hardening.md
  packages/sql/package.json
  packages/sql/src/postgres-connection-lifecycle.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint, validate-package-json

fix(ci): stop setup-environment failing on non-Debian runners
  .github/actions/setup-environment/action.yml
Due: none

chore(config): refresh the managed kernel block for generation 7
  AGENTS.md
Due: none

chore(config): refresh the managed kernel block for generation 7 (#1122)
  AGENTS.md
Due: none

fix(sql): stop nested transaction() destroying the enclosing transaction (#1117)
  .changeset/nested-transaction-semantics.md
  packages/sql/src/duckdb.ts
  packages/sql/src/json.ts
  packages/sql/src/nested-transaction.spec.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite-native.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(ci): stop setup-environment failing on non-Debian runners (#1120)
  .github/actions/setup-environment/action.yml
Due: none

fix(sql): re-enter postgres transactions via savepoint instead of a new connection (#1118)
  .changeset/postgres-savepoint-nesting.md
  packages/sql/package.json
  packages/sql/src/postgres-nested-transaction.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint, validate-package-json

fix(sql): wrap transaction-scoped postgres errors in DatabaseError
  .changeset/postgres-transaction-error-contract.md
  packages/sql/package.json
  packages/sql/src/postgres-transaction-errors.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint, validate-package-json

fix(sql): run tx.tableExists() and tx.syncSchema() inside the transaction
  .changeset/postgres-transaction-schema-scope.md
  packages/sql/package.json
  packages/sql/src/postgres.ts
  packages/sql/src/transaction-schema-scope.spec.ts
Due: format, lint, validate-package-json

fix(sql): serialize transactions on the single-connection adapters
  .changeset/serialize-single-connection-transactions.md
  packages/sql/src/concurrent-transaction.spec.ts
  packages/sql/src/duckdb.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/transaction-lock.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite-native.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): validate table and column identifiers in every CRUD method
  .changeset/validate-crud-identifiers.md
  packages/sql/package.json
  packages/sql/src/duckdb.ts
  packages/sql/src/identifier-injection.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/alter-utils.ts
  packages/sql/src/sqlite-native.ts
  packages/sql/src/sqlite.ts
Due: format, lint, validate-package-json

fix(sql): close the identifier and transaction defects review turned up
  .changeset/postgres-transaction-error-contract.md
  .changeset/serialize-single-connection-transactions.md
  .changeset/validate-crud-identifiers.md
  packages/sql/README.md
  packages/sql/src/duckdb.ts
  packages/sql/src/identifier-injection.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres-transaction-errors.spec.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/alter-utils.ts
  packages/sql/src/shared/transaction-lock.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite-native.ts
  packages/sql/src/sqlite.ts
  packages/sql/src/transaction-schema-scope.spec.ts
Due: format, lint

fix(sql): allowlist the vector metric and stop restricting conflict columns
  packages/sql/src/duckdb.ts
  packages/sql/src/identifier-injection.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
Due: format, lint

fix(jobs): validate both halves of ORDER BY against an allowlist
  .changeset/jobs-order-direction-validation.md
  packages/jobs/src/base-store.ts
  packages/jobs/src/index.test.ts
  packages/jobs/src/types.ts
Due: format, lint

fix(sql): land the four remaining transaction and identifier defects (#1125)
  .changeset/postgres-transaction-error-contract.md
  .changeset/postgres-transaction-schema-scope.md
  .changeset/serialize-single-connection-transactions.md
  .changeset/validate-crud-identifiers.md
  packages/sql/README.md
  packages/sql/package.json
  packages/sql/src/concurrent-transaction.spec.ts
  packages/sql/src/duckdb.ts
  packages/sql/src/identifier-injection.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres-transaction-errors.spec.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/alter-utils.ts
  packages/sql/src/shared/transaction-lock.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite-native.ts
  packages/sql/src/sqlite.ts
  packages/sql/src/transaction-schema-scope.spec.ts
Due: format, lint, validate-package-json

fix(sql): bind batch insert values by column, not record key order
  .changeset/insert-column-binding.md
  packages/sql/README.md
  packages/sql/package.json
  packages/sql/src/duckdb.ts
  packages/sql/src/insert-column-binding.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres-insert-column-binding.spec.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/insert-columns.spec.ts
  packages/sql/src/shared/utils.ts
  packages/sql/src/sqlite-native.ts
  packages/sql/src/sqlite.ts
Due: format, lint, validate-package-json

fix(sql)!: require raw() marker for buildWhere expression keys (#1127)
  .changeset/buildwhere-raw-expression-keys.md
  docs/content/sql.md
  packages/sql/README.md
  packages/sql/src/aggregate.spec.ts
  packages/sql/src/aggregate.ts
  packages/sql/src/index.spec.ts
  packages/sql/src/index.ts
  packages/sql/src/shared/utils.ts
Due: format, lint

chore(ci): migrate to the channel-aware agent-policy consumer workflow
  .agents/project.yaml
  .github/workflows/agent-policy.yml
Due: none

chore(ci): migrate to the channel-aware agent-policy consumer workflow (#1137)
  .agents/project.yaml
  .github/workflows/agent-policy.yml
Due: none

fix(sql): run pgvector suite in CI and stop binding the vector table name as a param
  .changeset/pgvector-suite-ci-and-spec.md
  .github/workflows/postgres-tests.yml
  packages/sql/src/postgres-vector.spec.ts
Due: format, lint

fix(sql): bind batch insert values by column, not record key order (#1136)
  .changeset/insert-column-binding.md
  packages/sql/README.md
  packages/sql/package.json
  packages/sql/src/duckdb.ts
  packages/sql/src/insert-column-binding.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres-insert-column-binding.spec.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/insert-columns.spec.ts
  packages/sql/src/shared/utils.ts
  packages/sql/src/sqlite-native.ts
  packages/sql/src/sqlite.ts
Due: format, lint, validate-package-json

fix(jobs): stop update() resolving caller keys via the prototype chain
  .changeset/jobs-update-column-injection.md
  packages/jobs/src/adapters/postgres.ts
  packages/jobs/src/adapters/sqlite.ts
  packages/jobs/src/index.test.ts
Due: format, lint

fix(jobs): validate both halves of ORDER BY against an allowlist (#1135)
  .changeset/jobs-order-direction-validation.md
  packages/jobs/src/base-store.ts
  packages/jobs/src/index.test.ts
  packages/jobs/src/types.ts
Due: format, lint

fix(sql): stop count() binding the table name as a parameter on sqlite
  .changeset/count-all-rows-sqlite.md
  packages/sql/package.json
  packages/sql/src/count.spec.ts
  packages/sql/src/postgres-count.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint, validate-package-json

fix(sql): load JSON data files whose records have different key sets
  .changeset/json-ragged-data-files.md
  packages/sql/src/json-ragged-records.spec.ts
  packages/sql/src/json.ts
Due: format, lint

fix(sql): resolve JSON table columns case-insensitively
  packages/sql/src/json-ragged-records.spec.ts
  packages/sql/src/json.ts
Due: format, lint

fix(sql): load JSON data files whose records have different key sets (#1140)
  .changeset/json-ragged-data-files.md
  packages/sql/src/json-ragged-records.spec.ts
  packages/sql/src/json.ts
Due: format, lint

fix(sql): stop count() binding the table name as a parameter on sqlite (#1134)
  .changeset/count-all-rows-sqlite.md
  packages/sql/package.json
  packages/sql/src/count.spec.ts
  packages/sql/src/postgres-count.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint, validate-package-json

fix(sql): run pgvector suite in CI and stop binding the vector table name as a param (#1142)
  .changeset/pgvector-suite-ci-and-spec.md
  .github/workflows/postgres-tests.yml
  packages/sql/src/postgres-vector.spec.ts
Due: format, lint

fix(jobs): stop update() resolving caller keys via the prototype chain (#1143)
  .changeset/jobs-update-column-injection.md
  packages/jobs/src/adapters/postgres.ts
  packages/jobs/src/adapters/sqlite.ts
  packages/jobs/src/index.test.ts
Due: format, lint

fix(sql)!: require raw() marker for buildWhere expression keys (#1127) (#1138)
  .changeset/buildwhere-raw-expression-keys.md
  docs/content/sql.md
  packages/sql/README.md
  packages/sql/src/aggregate.spec.ts
  packages/sql/src/aggregate.ts
  packages/sql/src/index.spec.ts
  packages/sql/src/index.ts
  packages/sql/src/shared/utils.ts
Due: format, lint

feat(sql): make JSON data-file load failures observable to calling code
  .changeset/json-observable-load-errors.md
  packages/sql/src/json-load-errors.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/types.ts
Due: format, lint

fix(sql)!: reject non-string identifiers and snapshot upsert columns once
  .changeset/sql-identifier-single-coercion.md
  packages/sql/README.md
  packages/sql/src/aggregate.ts
  packages/sql/src/duckdb.ts
  packages/sql/src/identifier-injection.spec.ts
  packages/sql/src/index.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/alter-utils.ts
  packages/sql/src/sqlite-native.ts
  packages/sql/src/sqlite.ts
Due: format, lint

feat(sql): make JSON data-file load failures observable to calling code (#1144)
  .changeset/json-observable-load-errors.md
  packages/sql/src/json-load-errors.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/types.ts
Due: format, lint

fix(sql): coerce duckdb/json conflict columns and escapes to primitives
  packages/sql/src/duckdb.ts
  packages/sql/src/identifier-injection.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/alter-utils.ts
Due: format, lint

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
