Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

fix(ci): round 2 — point wagoid at commitlint.config.js + drop premature payments scope
  .github/workflows/on-pull-request.yml
  CLAUDE.md
  commitlint.config.js
Due: none

fix(ci): round 3 — pin dtolnay master SHA + clarify CLAUDE.md cross-repo ref
  .github/workflows/build-json-native.yml
  CLAUDE.md
Due: none

fix(ci): round 3 — rename to .mjs (wagoid) + restore external scopes + scrub paths
  .github/workflows/on-pull-request.yml
  .pr-review/extensions.md
  CLAUDE.md
  commitlint.config.mjs
Due: none

fix(ci): round 4 — escape PR title from shell + validate against commitlint
  .github/workflows/on-pull-request.yml
Due: none

fix(ci): round 5 — install deps before commitlint + 3 doc-drift cleanups
  .github/workflows/on-pull-request.yml
  CLAUDE.md
  commitlint.config.mjs
  lefthook.yml
Due: none

fix(config): drop `languages` from scope-enum — placeholder, not real package
  commitlint.config.mjs
Due: none

fix(comfyui): narrow WSMessage.data type to fix pre-existing typecheck (11 errors)
  packages/comfyui/src/client.ts
Due: format, lint

fix(comfyui): keep null in WSMessage.data.node + gitignore docs build output
  .gitignore
  packages/comfyui/src/client.ts
  packages/comfyui/src/types.ts
Due: format, lint

ci: remove agentic workflows
  .github/SECURITY.md
  .github/actions/issue-triage/action.yml
  .github/scripts/triage-issue.js
  .github/workflow-templates/on-issue-closed-template.yml
  .github/workflow-templates/on-label-changed-template.yml
  .github/workflow-templates/on-pr-opened-template.yml
  .github/workflows/claude.yml
  .github/workflows/on-ci-failure.yml
  .github/workflows/on-issue-checkup.yml
  .github/workflows/on-issue-closed.yml
  .github/workflows/on-issue-opened.yml
  .github/workflows/on-label-changed.yml
  .github/workflows/on-test-failure.yml
  .github/workflows/planning.yml
  .github/workflows/shared-agent-orchestrator.yml
  .github/workflows/shared-issue-closer.yml
  .github/workflows/shared-label-handler.yml
  .github/workflows/shared-pr-handler.yml
  .github/workflows/shared-project-sync.yml
  .github/workflows/shared-triage.yml
  docs/WORKFLOW_SETUP.md
  notes/workflow/AI_TRIAGE.md
  notes/workflow/KANBAN.md
  packages/github-actions/src/shared/labels.ts
  scripts/apply-labels.ts
  scripts/rename-packages.js
  scripts/standardize-repo.ts
Due: format, lint

ci: address project sync review
  .github/SECURITY.md
  .github/workflow-templates/on-issue-closed-template.yml
  .github/workflow-templates/on-issue-opened-template.yml
  .github/workflows/on-issue-closed.yml
  .github/workflows/on-issue-opened.yml
  .github/workflows/shared-project-sync.yml
  docs/WORKFLOW_SETUP.md
  notes/workflow/KANBAN.md
  scripts/standardize-repo.ts
Due: format, lint

feat(sql): add optional SQLite native capabilities
  README.md
  docs/content/sql.md
  ecosystem-manifest.json
  packages/jobs/src/adapters/sqlite.ts
  packages/jobs/src/types.ts
  packages/jobs/src/worker.ts
  packages/sql/AGENT.md
  packages/sql/README.md
  packages/sql/metadata.json
  packages/sql/package.json
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite-capabilities.spec.ts
  packages/sql/src/sqlite-native.ts
  packages/sql/src/sqlite.ts
  pnpm-lock.yaml
  vite.config.base.ts
Due: format, lint, validate-package-json

feat(sql,files,utils): db ops tooling primitives
  packages/files/src/index.ts
  packages/files/src/redact.test.ts
  packages/files/src/redact.ts
  packages/sql/package.json
  packages/sql/src/backup/index.ts
  packages/sql/src/backup/manifest.spec.ts
  packages/sql/src/backup/manifest.ts
  packages/sql/src/doctor.spec.ts
  packages/sql/src/doctor.ts
  packages/sql/src/index.ts
  packages/sql/src/postgres-cli.spec.ts
  packages/sql/src/postgres-cli.ts
  packages/sql/vite.config.ts
  packages/utils/src/cli/index.ts
  packages/utils/src/cli/parse-flags.test.ts
  packages/utils/src/cli/parse-flags.ts
Due: format, lint, validate-package-json

fix(sql,utils): harden db ops tooling
  packages/sql/src/backup/index.ts
  packages/sql/src/backup/manifest.ts
  packages/sql/src/postgres-cli.spec.ts
  packages/sql/src/postgres-cli.ts
  packages/utils/src/cli/parse-flags.test.ts
  packages/utils/src/cli/parse-flags.ts
Due: format, lint

fix(sql): close 3 P1 safety gaps + 3 hardening fixes on db-ops tooling
  packages/sql/src/backup/index.ts
  packages/sql/src/doctor.spec.ts
  packages/sql/src/doctor.ts
  packages/sql/src/postgres-cli.spec.ts
  packages/sql/src/postgres-cli.ts
Due: format, lint

fix(sql): harden backup dir race and doctor count handling
  packages/sql/src/backup/index.ts
  packages/sql/src/doctor.spec.ts
  packages/sql/src/doctor.ts
Due: format, lint

fix(sql,files,utils): regression + 6 fixes from round-4 multi-agent review
  packages/files/src/redact.test.ts
  packages/files/src/redact.ts
  packages/sql/src/backup/index.ts
  packages/sql/src/postgres-cli.spec.ts
  packages/sql/src/postgres-cli.ts
  packages/utils/src/cli/parse-flags.test.ts
  packages/utils/src/cli/parse-flags.ts
Due: format, lint

fix(sql): preserve inherited libpq auth env
  packages/sql/src/postgres-cli.spec.ts
  packages/sql/src/postgres-cli.ts
Due: format, lint

fix(sql,files): round-5 IPv6 PGHOST + redact DAG-share handling
  packages/files/src/redact.test.ts
  packages/files/src/redact.ts
  packages/sql/src/postgres-cli.spec.ts
  packages/sql/src/postgres-cli.ts
Due: format, lint

fix(utils): preserve empty flag values
  packages/utils/src/cli/parse-flags.test.ts
  packages/utils/src/cli/parse-flags.ts
Due: format, lint

docs(sql): document PGPASSWORD inheritance trade-off in postgres-cli
  packages/sql/src/postgres-cli.ts
Due: format, lint

fix(sql): codex round-6 — gate onRestore on files.exported + un-scrub PGUSER
  packages/sql/src/backup/index.ts
  packages/sql/src/postgres-cli.spec.ts
  packages/sql/src/postgres-cli.ts
Due: format, lint

fix(sql): redact full URL in doctor non-postgres guard
  packages/sql/src/doctor.spec.ts
  packages/sql/src/doctor.ts
Due: format, lint

fix(ci): move root CLAUDE.md content into AGENT.md legacy-notes section
  AGENT.md
  CLAUDE.md
Due: none

fix(config): add payments scope + 3 round-8 doc-drift cleanups
  .gitignore
  .pr-review/extensions.md
  commitlint.config.mjs
Due: none

fix(config): correct per-package AGENT.md trailing-notes rule in extensions.md
  .pr-review/extensions.md
Due: none

feat(accounting): implement stripe provider
  packages/accounting/src/index.test.ts
  packages/accounting/src/providers/stripe/index.ts
  packages/accounting/src/types.ts
Due: format, lint

feat(sql): add acquireSession() for pinned-connection session locks
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/types.ts
Due: format, lint

fix(sql): roll back before unlock in session release; pin test cleanup
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint

fix(analytics): bind MatomoAdmin methods so detached capability calls keep their instance
  packages/analytics/src/shared/providers/matomo-admin.test.ts
  packages/analytics/src/shared/providers/matomo-admin.ts
Due: format, lint

docs(analytics): require AnalyticsAdminInterface implementations to be detachment-safe
  packages/analytics/src/shared/types.ts
Due: format, lint

fix(analytics): bind MatomoAdmin capability methods so detached calls keep their instance (#1044)
  packages/analytics/src/shared/providers/matomo-admin.test.ts
  packages/analytics/src/shared/providers/matomo-admin.ts
  packages/analytics/src/shared/types.ts
Due: format, lint

feat(analytics): add updateSite admin capability for partial site updates
  packages/analytics/src/index.ts
  packages/analytics/src/shared/providers/matomo-admin.test.ts
  packages/analytics/src/shared/providers/matomo-admin.ts
  packages/analytics/src/shared/types.ts
Due: format, lint

feat(analytics): add updateSite admin capability for partial site updates (#1045)
  packages/analytics/src/index.ts
  packages/analytics/src/shared/providers/matomo-admin.test.ts
  packages/analytics/src/shared/providers/matomo-admin.ts
  packages/analytics/src/shared/types.ts
Due: format, lint

ci: pass release secrets through merge orchestrator
  .github/workflows/shared-merge-orchestrator.yml
Due: none

ci: recover untagged npm release publishing
  .github/workflows/publish.yml
  .github/workflows/shared-direct-publish.yml
Due: none

ci: recover untagged npm release publishing (#1049)
  .github/workflows/publish.yml
  .github/workflows/shared-direct-publish.yml
Due: none

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
