Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

fix(profiles): remove skipLibCheck and fix Field/slug type incompatibilities
  packages/profiles/src/models/ProfileMetafield.ts
  packages/profiles/src/models/ProfileRelationshipTerm.ts
  packages/profiles/src/models/ProfileRelationshipType.ts
  packages/profiles/src/models/ProfileType.ts
  tsconfig.json
Due: format, lint

fix(smrt): use InstanceType<T> for proper collection type inference
  packages/smrt/src/collection.ts
Due: format, lint

fix(smrt): remove unused type aliases to fix linter warnings
  packages/smrt/src/collection.ts
Due: format, lint

fix(tsconfig): resolve composite project conflicts by removing source includes
  tsconfig.json
Due: none

fix(tsconfig): remove types config from root tsconfig
  tsconfig.json
Due: none

fix(assets): replace any types with unknown for type safety
  packages/assets/src/asset-metafield.ts
  packages/assets/src/asset-metafields.ts
  packages/assets/src/asset.ts
Due: format, lint

chore(release): 0.15.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/ai/package.json
  packages/assets/package.json
  packages/cache/package.json
  packages/content/package.json
  packages/events/package.json
  packages/files/package.json
  packages/geo/package.json
  packages/gnode/package.json
  packages/logger/package.json
  packages/ocr/package.json
  packages/pdf/package.json
  packages/places/package.json
  packages/products/package.json
  packages/profiles/package.json
  packages/smrt/package.json
  packages/spider/package.json
  packages/sql/package.json
  packages/tags/package.json
  packages/translator/package.json
  packages/types/package.json
  packages/utils/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  41443096c7fd28fdab79dd0a0e9ed75f25b03344
Due: none

style: apply biome formatting to vite.config.ts
  vite.config.ts
Due: none

fix(workflow): update release workflow for core/modules structure
  .releaserc.json
  scripts/sync-versions.js
Due: format, lint

fix(refactor): update all config files for core/modules structure
  .github/dependabot.yml
  docs/typedoc.tsconfig.json
  package.json
  tsconfig.docs.json
  tsconfig.json
  vitest.config.ts
Due: format, lint

fix(build): add missing gnode package to build configuration
  scripts/build-all-packages.js
  vite.config.ts
  vitest.config.ts
Due: format, lint

fix(gnode): add missing tsconfig.build.json
  packages/modules/gnode/tsconfig.build.json
Due: format, lint

fix(spider): increase timeout for network-dependent tests
  packages/core/spider/src/index.spec.ts
Due: format, lint

fix(spider): replace httpbin.org with example.com in tests
  packages/core/spider/src/index.spec.ts
Due: format, lint

fix(spider): handle gzip/deflate decompression correctly
  packages/core/spider/src/adapters/dom.ts
  packages/core/spider/src/adapters/simple.ts
  packages/core/spider/src/index.spec.ts
Due: format, lint

feat(accounts): add flexible accounting ledger module
  packages/modules/accounts/BRAINSTORM.md
  packages/modules/accounts/SPEC.md
  packages/modules/accounts/package.json
  packages/modules/accounts/src/collections/AccountCollection.ts
  packages/modules/accounts/src/collections/AccountTransactionCollection.ts
  packages/modules/accounts/src/collections/AccountTransactionEntryCollection.ts
  packages/modules/accounts/src/index.ts
  packages/modules/accounts/src/models/Account.ts
  packages/modules/accounts/src/models/AccountTransaction.ts
  packages/modules/accounts/src/models/AccountTransactionEntry.ts
  packages/modules/accounts/src/types.ts
  packages/modules/accounts/tsconfig.build.json
  packages/modules/accounts/tsconfig.json
  packages/modules/accounts/vite.config.ts
  tsconfig.json
  vite.config.ts
Due: format, lint, validate-package-json

fix(accounts): update build configuration for new directory structure
  scripts/build-all-packages.js
  vitest.config.ts
Due: format, lint

fix(accounts): correct tsconfig.json extends path for modules directory
  packages/modules/accounts/tsconfig.json
Due: format, lint

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
