Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

feat: modernize monorepo to Node.js-only with enhanced docs tooling
  .gitignore
  .mcp.json
  CLAUDE.md
  README.md
  bun.lock
  package.json
  repomix-output.xml
  scripts/generate-docs.js
  scripts/mcp-servers/playwright-mcp-server.pid
  scripts/mcp-servers/playwright.sh
  scripts/mcp-servers/shadcn-ui-mcp-server.pid
  scripts/serve-docs.js
  tsconfig.json
  typedoc.json
Due: format, lint

refactor(utils): modernize to Node.js-only architecture
  packages/utils/CLAUDE.md
  packages/utils/docs/README.md
  packages/utils/package.json
  packages/utils/src/browser.ts
  packages/utils/src/browser/path.ts
  packages/utils/src/index.spec.ts
  packages/utils/src/index.ts
  packages/utils/src/node.ts
  packages/utils/src/node/path.ts
  packages/utils/src/shared/index.ts
  packages/utils/src/shared/universal.ts
  packages/utils/tsconfig.browser.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.node.json
Due: format, lint, validate-package-json

refactor(spider): modernize to Node.js-only architecture
  packages/spider/CLAUDE.md
  packages/spider/docs/README.md
  packages/spider/package.json
  packages/spider/tsconfig.json
Due: format, lint, validate-package-json

refactor(sql): modernize to Node.js-only architecture
  packages/sql/CLAUDE.md
  packages/sql/docs/README.md
  packages/sql/package.json
  packages/sql/src/browser.ts
  packages/sql/src/index.d.ts
  packages/sql/src/index.d.ts.map
  packages/sql/src/index.js
  packages/sql/src/index.ts
  packages/sql/src/node.ts
  packages/sql/src/postgres.d.ts
  packages/sql/src/postgres.d.ts.map
  packages/sql/src/postgres.js
  packages/sql/src/sqlite.d.ts
  packages/sql/src/sqlite.d.ts.map
  packages/sql/src/sqlite.js
  packages/sql/src/types.d.ts
  packages/sql/src/types.d.ts.map
  packages/sql/src/types.js
  packages/sql/tsconfig.browser.json
  packages/sql/tsconfig.json
  packages/sql/tsconfig.node.json
Due: format, lint, validate-package-json

refactor(ocr): modernize to Node.js-only architecture
  packages/ocr/CLAUDE.md
  packages/ocr/docs/README.md
  packages/ocr/package.json
  packages/ocr/src/browser.ts
  packages/ocr/src/node.ts
  packages/ocr/tsconfig.browser.json
  packages/ocr/tsconfig.json
  packages/ocr/tsconfig.node.json
Due: format, lint, validate-package-json

refactor(pdf): modernize to Node.js-only architecture
  packages/pdf/CLAUDE.md
  packages/pdf/docs/@have/namespaces/default.md
  packages/pdf/docs/README.md
  packages/pdf/package.json
  packages/pdf/src/browser.ts
  packages/pdf/src/capabilities.test.ts
  packages/pdf/src/index.d.ts.map
  packages/pdf/src/modules.d.ts
  packages/pdf/src/node.ts
  packages/pdf/tsconfig.browser.json
  packages/pdf/tsconfig.json
  packages/pdf/tsconfig.node.json
Due: format, lint, validate-package-json

refactor(smrt): modernize core framework to Node.js-only architecture
  packages/smrt/docs/README.md
  packages/smrt/src/errors.spec.ts
  packages/smrt/src/errors.ts
  packages/smrt/src/generators/cli.spec.ts
  packages/smrt/src/performance.spec.ts
Due: format, lint

chore: update gitignore to exclude compiled root-level artifacts
  .gitignore
Due: none

fix: remove large .tgz files and add to gitignore
  .gitignore
Due: none

feat(docs): create comprehensive Docusaurus documentation site with GitHub Pages deployment
  .github/workflows/deploy-docs.yml
  package.json
  packages/docs/.gitignore
  packages/docs/blog/2024-01-01-welcome.md
  packages/docs/bun.lock
  packages/docs/docs/getting-started/installation.md
  packages/docs/docs/getting-started/quick-wins.md
  packages/docs/docs/getting-started/your-first-agent.md
  packages/docs/docs/index.md
  packages/docs/docs/smrt-framework/code-generators.md
  packages/docs/docs/smrt-framework/overview.md
  packages/docs/docs/smrt-framework/persistence-collections.md
  packages/docs/docs/smrt-framework/smart-objects.md
  packages/docs/docs/smrt-framework/the-agent.md
  packages/docs/docs/smrt-framework/tools-capabilities.md
  packages/docs/docs/supporting-libraries/ai.md
  packages/docs/docs/supporting-libraries/content.md
  packages/docs/docs/supporting-libraries/files.md
  packages/docs/docs/supporting-libraries/pdf.md
  packages/docs/docs/supporting-libraries/spider.md
  packages/docs/docs/supporting-libraries/sql.md
  packages/docs/docs/supporting-libraries/utils.md
  packages/docs/docs/tutorials/build-research-agent.md
  packages/docs/docs/tutorials/module-federation-guide.md
  packages/docs/docs/tutorials/triple-purpose-architecture.md
  packages/docs/docusaurus.config.ts
  packages/docs/package.json
  packages/docs/sidebars.ts
  packages/docs/src/components/HomepageFeatures/index.tsx
  packages/docs/src/components/HomepageFeatures/styles.module.css
  packages/docs/src/css/custom.css
  packages/docs/src/pages/index.module.css
  packages/docs/src/pages/index.tsx
  packages/docs/static/img/favicon.ico
  packages/docs/static/img/memory.svg
  packages/docs/static/img/perception.svg
  packages/docs/static/img/structure.svg
  packages/docs/tsconfig.json
  packages/docs/typedoc.tsconfig.json
Due: format, lint, validate-package-json

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
