Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

chore(release): 0.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  40c09a598a040567485da4d344369aa4bbf6774c
Due: none

style: apply biome code formatting to vite.config.ts
  vite.config.ts
Due: none

fix: re-enable TypeScript declaration generation for all packages
  packages/ai/tsconfig.build.json
  packages/content/tsconfig.build.json
  packages/files/tsconfig.build.json
  packages/ocr/tsconfig.build.json
  packages/pdf/tsconfig.build.json
  packages/products/tsconfig.build.json
  packages/smrt/tsconfig.build.json
  packages/spider/tsconfig.build.json
  packages/sql/tsconfig.build.json
  packages/utils/tsconfig.build.json
  vite.config.ts
Due: format, lint

style: apply biome formatting to vite.config.ts
  vite.config.ts
Due: none

fix: improve TypeScript declaration generation for CI compatibility
  packages/content/tsconfig.build.json
  packages/files/tsconfig.build.json
  packages/ocr/tsconfig.build.json
  packages/products/tsconfig.build.json
  packages/smrt/tsconfig.build.json
  vite.config.ts
Due: format, lint

fix: disable API Extractor rollup to support virtual modules
  packages/products/tsconfig.build.json
  packages/smrt/tsconfig.build.json
  vite.config.ts
Due: format, lint

chore(release): 0.3.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  cbaf7a3c39b461eaa44c5f642f5d87ced1ba023b
Due: none

feat(smrt): add custom action support to @smrt decorator configuration
  packages/smrt/src/generators/mcp.test.ts
  packages/smrt/src/generators/mcp.ts
  packages/smrt/src/registry.ts
  packages/smrt/src/scanner/test-sample.ts
Due: format, lint

feat(smrt): implement custom action support and resolve build issues
  bun.lock
  bunfig.toml
  packages/content/package.json
  packages/products/tsconfig.json
  packages/smrt/CLAUDE.md
  packages/smrt/src/generators/mcp.test.ts
  packages/smrt/src/generators/mcp.ts
  packages/smrt/src/scanner/scanner.test.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

chore(release): 0.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  459911cbda7209f17f5361f00297c089c7348fc6
Due: none

fix: resolve TypeScript compilation errors in @have/sdk packages
  packages/files/src/legacy.ts
  packages/files/src/node/local.ts
  packages/smrt/src/generators/rest.ts
  packages/smrt/src/runtime/server.ts
Due: format, lint

chore(release): 0.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  58ef325c68bd1eb93e53f513c579b66db20405b8
Due: none

fix(smrt): implement multi-entry build for subpath exports tree-shaking
  bun.lock
  packages/smrt/package.json
  packages/smrt/vite.config.ts
Due: format, lint, validate-package-json

feat(smrt): eliminate bundled TypeScript compiler from runtime
  packages/smrt/package.json
  packages/smrt/scripts/generate-manifest.js
  packages/smrt/src/index.ts
  packages/smrt/src/manifest/index.ts
  packages/smrt/src/manifest/static-manifest.json
  packages/smrt/src/manifest/static-manifest.ts
  packages/smrt/src/scanner/scanner.test.ts
  packages/smrt/src/vite-plugin/index.ts
  packages/smrt/test-direct-imports.js
  packages/smrt/vite.config.ts
Due: format, lint, validate-package-json

fix: update pnpm-lock.yaml for tsx dependency
  pnpm-lock.yaml
Due: none

chore(release): 0.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  413a94159bf550faa8c02efce3f1ccc612e348f7
Due: none

feat: standardize build strategy across all packages
  packages/ai/package.json
  packages/ai/src/shared/client.ts
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/types.ts
  packages/ai/vite.config.ts
  packages/files/package.json
  packages/files/vite.config.ts
  packages/ocr/package.json
  packages/ocr/src/index.spec.ts
  packages/ocr/vite.config.ts
  packages/pdf/package.json
  packages/pdf/vite.config.ts
  packages/smrt/src/manifest/static-manifest.json
  packages/smrt/src/manifest/static-manifest.ts
  packages/spider/package.json
  packages/spider/vite.config.ts
  packages/sql/package.json
  packages/sql/vite.config.ts
  packages/utils/package.json
  packages/utils/vite.config.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

chore(release): 0.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2225a50ae3396cee35167e39b9f7a305ea05160a
Due: none
