Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

fix(build): add @have/documents to build order
  scripts/build-all-packages.js
Due: format, lint

fix(content): remove custom create() method from Contents class
  packages/modules/content/src/contents.ts
Due: format, lint

fix(build): add @have/documents to vite configuration
  packages/core/documents/tsconfig.build.json
  vite.config.ts
Due: format, lint

refactor(documents): address review comments
  packages/core/documents/src/document.ts
  packages/core/documents/src/index.ts
  packages/core/documents/src/processors/pdf.ts
  packages/core/documents/src/utils.ts
Due: format, lint

chore(release): 0.24.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/documents/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/notes/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  127a2a5a1725691024d522840ae5ff1fbd52dd08
Due: none

chore: add *.processed_pdf to .gitignore
  .gitignore
Due: none

chore: remove tracked .processed_pdf cache files
  packages/core/documents/testdata/Agenda-Package-September-9-2025-Regular-Council-Meeting.pdf.processed_pdf
  packages/core/documents/testdata/Signed Minutes - September 9, 2025 Regular Meeting.pdf.processed_pdf
Due: none

chore: remove tracked .processed_pdf cache files and add to .gitignore
  .gitignore
  packages/core/documents/testdata/Agenda-Package-September-9-2025-Regular-Council-Meeting.pdf.processed_pdf
  packages/core/documents/testdata/Signed Minutes - September 9, 2025 Regular Meeting.pdf.processed_pdf
  packages/core/documents/testdata/Signed%20Minutes%20-%20September%209,%202025%20Regular%20Meeting.pdf.processed_pdf
Due: none

fix(content): correct build entry point and remove fetchDocument re-export
  packages/modules/content/src/index.ts
  vite.config.ts
Due: format, lint

fix(spider): correct cheerio ESM import with interop setting
  packages/core/spider/vite.config.ts
Due: format, lint

chore(release): 0.24.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/documents/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/notes/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  5f5a383cdc37fd170bdd1f2d6725298d22c40d3a
Due: none

chore(release): 0.24.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/documents/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/notes/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  dd4944fe7e4d4805621b9526b5a637e094153c9e
Due: none

refactor(spider): extract navigation expansion logic into separate extractLinks method
  packages/core/spider/src/adapters/crawlee.ts
Due: format, lint

feat(spider): add comprehensive link metadata extraction
  packages/core/spider/src/adapters/crawlee.ts
  packages/core/spider/src/adapters/dom.ts
  packages/core/spider/src/adapters/simple.ts
  packages/core/spider/src/crawlee.integration.test.ts
  packages/core/spider/src/index.spec.ts
  packages/core/spider/src/shared/types.ts
Due: format, lint

chore(release): 0.25.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/documents/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/notes/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  13d5b6750cd8030f898c4b5d1926c70bf3147dd2
Due: none

chore(release): 0.26.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/documents/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/notes/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  7b74f5a3ac10defeb0217e9e3bf67240fa8d48c5
Due: none

feat(spider): add harvester architecture for content extraction strategies
  packages/core/spider/src/harvesters/accordion.ts
  packages/core/spider/src/harvesters/basic.ts
  packages/core/spider/src/harvesters/harvesters.spec.ts
  packages/core/spider/src/index.ts
  packages/core/spider/src/shared/harvester-factory.ts
  packages/core/spider/src/shared/types.ts
  vite.config.ts
Due: format, lint

feat(spider): add integration tests and improve AccordionHarvester for hierarchical structures
  packages/core/spider/src/harvesters/accordion.ts
  packages/core/spider/src/harvesters/directory-accordion.diagnostic.test.ts
  packages/core/spider/src/harvesters/harvesters.integration.test.ts
Due: format, lint

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
