Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

fix(ai): declare history tools on Anthropic's final tool-less round
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/tool-round-trip.test.ts
Due: format, lint

fix(ai): keep Bedrock toolConfig on a tool loop's final round
  packages/ai/README.md
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/tool-round-trip.test.ts
Due: format, lint

fix(ai): replay only answered Gemini calls and placeholder-sign Gemini 3
  packages/ai/README.md
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/tool-round-trip.test.ts
Due: format, lint

fix(ai): continue Ollama complete() on the output limit
  .changeset/ai-continue-on-length.md
  packages/ai/README.md
  packages/ai/src/continuation.test.ts
  packages/ai/src/shared/providers/ollama.ts
Due: format, lint

feat(ai): opt-in continuation of replies that stop on the output limit
  .changeset/ai-continue-on-length.md
  packages/ai/README.md
  packages/ai/src/continuation.test.ts
  packages/ai/src/shared/continuation.ts
  packages/ai/src/shared/factory.ts
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/claude-cli.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/ollama.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/types.ts
Due: format, lint

fix(ai): stop capping explicit maxTokens at 4096 by default
  .changeset/ai-default-output-ceiling.md
  packages/ai/README.md
  packages/ai/src/safety.test.ts
  packages/ai/src/shared/safety.ts
  packages/ai/src/shared/types.ts
Due: format, lint

fix(ai): return truncated instead of continuing from an empty first part
  .changeset/ai-continue-on-length.md
  packages/ai/README.md
  packages/ai/src/continuation.test.ts
  packages/ai/src/shared/continuation.ts
Due: format, lint

fix(ai): declare Anthropic stream tools only when history needs them
  packages/ai/README.md
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/tool-round-trip.test.ts
Due: format, lint

fix(ai): pace and retry each continuation part on its own
  .changeset/ai-continue-on-length.md
  packages/ai/README.md
  packages/ai/src/continuation.test.ts
  packages/ai/src/shared/continuation.ts
  packages/ai/src/shared/factory.ts
Due: format, lint

fix(ai): restore the space between sentences at a continuation seam
  .changeset/ai-continue-on-length.md
  packages/ai/README.md
  packages/ai/src/continuation.test.ts
  packages/ai/src/shared/continuation.ts
Due: format, lint

feat(ai): mark rate limits that reset far away as not retryable soon
  .changeset/ai-rate-limit-far-reset.md
  packages/ai/README.md
  packages/ai/src/rate-limit.test.ts
  packages/ai/src/shared/rate-limit.ts
  packages/ai/src/shared/types.ts
Due: format, lint

fix(ai): stop a continuation chain once aborted; cover part failure, Bedrock and Ollama
  .changeset/ai-continue-on-length.md
  packages/ai/README.md
  packages/ai/src/continuation.test.ts
  packages/ai/src/shared/continuation.ts
Due: format, lint

chore(ai): Add the tool-loop changeset and reword the ceiling note
  .changeset/ai-default-output-ceiling.md
  .changeset/ai-tool-loop-fixes.md
Due: none

fix(ai): report a continued stream's finish reason once
  .changeset/ai-continue-on-length.md
  packages/ai/README.md
  packages/ai/src/continuation.test.ts
  packages/ai/src/shared/continuation.ts
Due: format, lint

feat(ai): keep the provider's reason and reset hints on RateLimitError
  .changeset/ai-rate-limit-reason.md
  packages/ai/README.md
  packages/ai/src/rate-limit.test.ts
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/byteplus-modelark.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/ollama.ts
  packages/ai/src/shared/providers/openai-compat-video.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/providers/seevio.ts
  packages/ai/src/shared/providers/typesafe.ts
  packages/ai/src/shared/rate-limit.ts
  packages/ai/src/shared/types.ts
Due: format, lint

fix(ai): make the request timeout cover rate-limit queue and pacing waits
  .changeset/ai-timeout-covers-queue.md
  packages/ai/README.md
  packages/ai/src/rate-limit.test.ts
  packages/ai/src/shared/rate-limit.ts
  packages/ai/src/shared/types.ts
Due: format, lint

build: move pnpm to 11.25.0 (#1315)
  .devcontainer/Dockerfile
  .github/workflows/node-runner-smoke.yml
  package.json
Due: none

feat(geo): Fill Location.timezone from coordinates (#1316)
  .changeset/geo-timezone.md
  ecosystem-manifest.json
  packages/geo/AGENT.md
  packages/geo/README.md
  packages/geo/metadata.json
  packages/geo/package.json
  packages/geo/src/index.ts
  packages/geo/src/providers/google.ts
  packages/geo/src/providers/openstreetmap.ts
  packages/geo/src/shared/timezone-mode.ts
  packages/geo/src/shared/timezone.ts
  packages/geo/src/shared/types.ts
  packages/geo/src/timezone.test.ts
  pnpm-lock.yaml
  vite.config.base.ts
Due: format, lint, validate-package-json

fix(ai): Fix tool loops, rate-limit errors, timeouts and output limits (#1317)
  .changeset/ai-continue-on-length.md
  .changeset/ai-default-output-ceiling.md
  .changeset/ai-rate-limit-far-reset.md
  .changeset/ai-rate-limit-reason.md
  .changeset/ai-timeout-covers-queue.md
  .changeset/ai-tool-loop-fixes.md
  packages/ai/README.md
  packages/ai/src/continuation.test.ts
  packages/ai/src/rate-limit.test.ts
  packages/ai/src/safety.test.ts
  packages/ai/src/shared/continuation.ts
  packages/ai/src/shared/factory.ts
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/byteplus-modelark.ts
  packages/ai/src/shared/providers/claude-cli.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/ollama.ts
  packages/ai/src/shared/providers/openai-compat-video.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/providers/seevio.ts
  packages/ai/src/shared/providers/typesafe.ts
  packages/ai/src/shared/rate-limit.ts
  packages/ai/src/shared/safety.ts
  packages/ai/src/shared/tool-messages.ts
  packages/ai/src/shared/types.ts
  packages/ai/src/tool-round-trip.test.ts
Due: format, lint

chore(release): Record the published v0.97.0 package versions
  docs/package.json
  packages/accounting/package.json
  packages/ai/package.json
  packages/analytics/package.json
  packages/auth/package.json
  packages/cache/package.json
  packages/comfyui/package.json
  packages/directory/package.json
  packages/documents/package.json
  packages/email/package.json
  packages/encryption/package.json
  packages/files/package.json
  packages/geo/package.json
  packages/github-actions/package.json
  packages/graphql/package.json
  packages/images/package.json
  packages/jobs/package.json
  packages/json/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/payments/package.json
  packages/projects/package.json
  packages/repos/package.json
  packages/sdk-mcp/package.json
  packages/secrets/package.json
  packages/signatures/package.json
  packages/social/package.json
  packages/speech/package.json
  packages/sql/package.json
  packages/translator/package.json
  packages/utils/package.json
  packages/video/package.json
  packages/weather/package.json
Due: format, lint, validate-package-json

chore(release): Record v0.97.0 in the root package
  package.json
Due: none

chore(release): Record the published v0.97.0 package versions (#1319)
  docs/package.json
  package.json
  packages/accounting/package.json
  packages/ai/package.json
  packages/analytics/package.json
  packages/auth/package.json
  packages/cache/package.json
  packages/comfyui/package.json
  packages/directory/package.json
  packages/documents/package.json
  packages/email/package.json
  packages/encryption/package.json
  packages/files/package.json
  packages/geo/package.json
  packages/github-actions/package.json
  packages/graphql/package.json
  packages/images/package.json
  packages/jobs/package.json
  packages/json/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/payments/package.json
  packages/projects/package.json
  packages/repos/package.json
  packages/sdk-mcp/package.json
  packages/secrets/package.json
  packages/signatures/package.json
  packages/social/package.json
  packages/speech/package.json
  packages/sql/package.json
  packages/translator/package.json
  packages/utils/package.json
  packages/video/package.json
  packages/weather/package.json
Due: format, lint, validate-package-json

feat(speech): add OpenAI realtime conversation sessions
  .changeset/happy-conversational-voice.md
  ecosystem-manifest.json
  packages/speech/AGENT.md
  packages/speech/README.md
  packages/speech/metadata.json
  packages/speech/package.json
  packages/speech/src/__tests__/conversation.test.ts
  packages/speech/src/conversation-server.ts
  packages/speech/src/conversation.ts
  packages/speech/src/conversation/openai-webrtc.ts
  packages/speech/src/conversation/types.ts
  packages/speech/vite.config.ts
Due: format, lint, validate-package-json

fix(speech): retain failed call recovery and commit manual audio turns
  packages/speech/README.md
  packages/speech/src/__tests__/conversation.test.ts
  packages/speech/src/conversation-server.ts
  packages/speech/src/conversation/openai-webrtc.ts
  packages/speech/src/conversation/types.ts
Due: format, lint

fix(speech): terminate conversations when microphone input ends
  packages/speech/README.md
  packages/speech/src/__tests__/conversation.test.ts
  packages/speech/src/conversation/openai-webrtc.ts
Due: format, lint

fix(speech): separate tool outputs and surface incomplete voice turns
  packages/speech/README.md
  packages/speech/src/__tests__/conversation.test.ts
  packages/speech/src/conversation/openai-webrtc.ts
  packages/speech/src/conversation/types.ts
Due: format, lint

feat(speech): add OpenAI Realtime conversation sessions (#1323)
  .changeset/happy-conversational-voice.md
  ecosystem-manifest.json
  packages/speech/AGENT.md
  packages/speech/README.md
  packages/speech/metadata.json
  packages/speech/package.json
  packages/speech/src/__tests__/conversation.test.ts
  packages/speech/src/conversation-server.ts
  packages/speech/src/conversation.ts
  packages/speech/src/conversation/openai-webrtc.ts
  packages/speech/src/conversation/types.ts
  packages/speech/vite.config.ts
Due: format, lint, validate-package-json

fix(accounting): bind QuickBooks invoice retries to stable request identities
  packages/accounting/README.md
  packages/accounting/src/errors.ts
  packages/accounting/src/index.ts
  packages/accounting/src/providers/quickbooks/index.ts
  packages/accounting/src/providers/quickbooks/invoice-request.test.ts
  packages/accounting/src/providers/quickbooks/invoice-request.ts
  packages/accounting/src/types.ts
Due: format, lint

fix(accounting): preserve uncertainty for malformed write responses
  packages/accounting/README.md
  packages/accounting/src/providers/quickbooks/index.ts
  packages/accounting/src/providers/quickbooks/invoice-request.test.ts
Due: format, lint

fix(accounting): preserve keyed uncertainty across restarted workers
  packages/accounting/README.md
  packages/accounting/src/providers/quickbooks/index.ts
  packages/accounting/src/providers/quickbooks/invoice-request.test.ts
Due: format, lint

fix(accounting): make QuickBooks invoice retries request-ID safe (#1324)
  packages/accounting/README.md
  packages/accounting/src/errors.ts
  packages/accounting/src/index.ts
  packages/accounting/src/providers/quickbooks/index.ts
  packages/accounting/src/providers/quickbooks/invoice-request.test.ts
  packages/accounting/src/providers/quickbooks/invoice-request.ts
  packages/accounting/src/types.ts
Due: format, lint

fix(directory): support paginated Stalwart principals
  packages/directory/src/__tests__/stalwart.test.ts
  packages/directory/src/adapters/stalwart.ts
Due: format, lint

fix(directory): retry address lookup after mailbox conflict
  packages/directory/src/__tests__/stalwart.test.ts
  packages/directory/src/adapters/stalwart.ts
Due: format, lint

feat(directory): reconcile Stalwart mailboxes by email address
  .changeset/tidy-contact-mailboxes.md
  packages/directory/src/__tests__/stalwart.test.ts
  packages/directory/src/adapters/stalwart.ts
  packages/directory/src/index.ts
  packages/directory/src/shared/types.ts
Due: format, lint

fix(directory): reject incomplete Stalwart principal pages
  packages/directory/src/__tests__/stalwart.test.ts
  packages/directory/src/adapters/stalwart.ts
Due: format, lint

fix(directory): report mailbox creation provenance
  .changeset/tidy-contact-mailboxes.md
  packages/directory/src/__tests__/stalwart.test.ts
  packages/directory/src/adapters/stalwart.ts
  packages/directory/src/index.ts
  packages/directory/src/shared/types.ts
Due: format, lint

feat(directory): reconcile Stalwart mailboxes by email address (#1326)
  .changeset/tidy-contact-mailboxes.md
  packages/directory/src/__tests__/stalwart.test.ts
  packages/directory/src/adapters/stalwart.ts
  packages/directory/src/index.ts
  packages/directory/src/shared/types.ts
Due: format, lint

fix(directory): map Stalwart error envelopes
  packages/directory/src/__tests__/stalwart.test.ts
  packages/directory/src/adapters/stalwart.ts
Due: format, lint

fix(directory): map Stalwart error envelopes (#1329)
  packages/directory/src/__tests__/stalwart.test.ts
  packages/directory/src/adapters/stalwart.ts
Due: format, lint
