Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

fix(ci): validate changeset:auto during PR check instead of just checking commits
  .github/workflows/changeset-check.yml
Due: none

chore: update @happyvertical dependencies
  pnpm-lock.yaml
Due: none

chore: update @happyvertical dependencies (#506)
  pnpm-lock.yaml
Due: none

fix(ci): validate changeset:auto during PR check instead of just checking commits (#505)
  .github/workflows/changeset-check.yml
Due: none

chore: update @happyvertical dependencies (#507)
  pnpm-lock.yaml
Due: none

chore: update @happyvertical dependencies (#508)
  pnpm-lock.yaml
Due: none

fix(sql): quote table names consistently in JSON adapter operations
  packages/sql/src/json-identifier-quoting.spec.ts
  packages/sql/src/json.ts
Due: format, lint

fix(sql): quote table names consistently in JSON adapter operations (#510)
  packages/sql/src/json-identifier-quoting.spec.ts
  packages/sql/src/json.ts
Due: format, lint

fix(ci): correct workflow name in cascade trigger
  .changeset/cascade-trigger-fix.md
  .github/workflows/cascade-trigger.yml
  packages/sql/src/index.ts
Due: format, lint

fix(ci): correct workflow name in cascade trigger (#511)
  .changeset/cascade-trigger-fix.md
  .github/workflows/cascade-trigger.yml
  packages/sql/src/index.ts
Due: format, lint

chore: update @happyvertical dependencies (#513)
  pnpm-lock.yaml
Due: none

fix(sql): use schema.columns for STI field validation in JSON adapter
  packages/sql/src/json.ts
Due: format, lint

fix(sql): use schema.columns for STI field validation in JSON adapter (#517)
  packages/sql/src/json.ts
Due: format, lint

fix(sql): trigger schema generation for external packages in JSON adapter
  packages/sql/src/json.ts
Due: format, lint

refactor(sql): remove SMRT coupling from JSON adapter
  packages/sql/src/json-sti-columns.spec.ts
  packages/sql/src/json.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/types.ts
Due: format, lint

chore: update @happyvertical dependencies (#514)
  pnpm-lock.yaml
Due: none

chore: update @happyvertical dependencies (#519)
  pnpm-lock.yaml
Due: none

feat(sql): add deferred JSON loading for schema-first tables
  packages/sql/src/json.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): use schema.fields for STI column validation in JSON adapter (#520)
  packages/sql/src/json-sti-columns.spec.ts
  packages/sql/src/json.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/types.ts
  packages/sql/src/sqlite.ts
Due: format, lint

chore: update @happyvertical dependencies (#521)
  pnpm-lock.yaml
Due: none

fix(sql): remove automatic schema inference from JSON files
  packages/sql/src/json.spec.ts
  packages/sql/src/json.ts
Due: format, lint

fix(sql): remove automatic schema inference from JSON files (#523)
  packages/sql/src/json.spec.ts
  packages/sql/src/json.ts
Due: format, lint

chore: update @happyvertical dependencies (#524)
  pnpm-lock.yaml
Due: none

chore: update @happyvertical dependencies (#525)
  pnpm-lock.yaml
Due: none

feat(cache,spider): add S3 cache provider for CI persistence
  packages/cache/package.json
  packages/cache/src/index.ts
  packages/cache/src/providers/s3.ts
  packages/cache/src/shared/types.ts
  packages/spider/src/adapters/crawlee.ts
  packages/spider/src/adapters/dom.ts
  packages/spider/src/adapters/simple.ts
  packages/spider/src/scrapers/tree.ts
  packages/spider/src/shared/types.ts
Due: format, lint, validate-package-json

chore: update lockfile with AWS SDK dependencies
  pnpm-lock.yaml
Due: none

fix(cache): fix Buffer type for gzip compression
  packages/cache/src/providers/s3.ts
Due: format, lint

feat(cache,spider): add S3 cache provider for CI persistence (#526)
  packages/cache/package.json
  packages/cache/src/index.ts
  packages/cache/src/providers/s3.ts
  packages/cache/src/shared/types.ts
  packages/spider/src/adapters/crawlee.ts
  packages/spider/src/adapters/dom.ts
  packages/spider/src/adapters/simple.ts
  packages/spider/src/scrapers/tree.ts
  packages/spider/src/shared/types.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

chore: update @happyvertical dependencies (#527)
  pnpm-lock.yaml
Due: none

chore: update @happyvertical dependencies
  packages/sql/test-json-data/contents.json
  pnpm-lock.yaml
Due: format, lint

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
