Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

feat(sql): add per-adapter upsert() method to fix DuckDB compatibility
  packages/core/smrt/src/object.ts
  packages/core/sql/CLAUDE.md
  packages/core/sql/dist/chunks/json-De9Nj7Kj.js
  packages/core/sql/dist/chunks/json-De9Nj7Kj.js.map
  packages/core/sql/dist/index.d.ts
  packages/core/sql/dist/index.d.ts.map
  packages/core/sql/dist/index.js
  packages/core/sql/dist/index.js.map
  packages/core/sql/dist/json.d.ts
  packages/core/sql/dist/json.d.ts.map
  packages/core/sql/dist/shared/types.d.ts
  packages/core/sql/dist/shared/types.d.ts.map
  packages/core/sql/src/duckdb.spec.ts
  packages/core/sql/src/duckdb.ts
  packages/core/sql/src/json.ts
  packages/core/sql/src/postgres.ts
  packages/core/sql/src/shared/types.ts
  packages/core/sql/src/sqlite.spec.ts
  packages/core/sql/src/sqlite.ts
Due: format, lint

Notes added by 'git notes add'
  6c1733552548637accad832974c659a861206d38
Due: none

feat(sql): integrate JSON adapter with SMRT ObjectRegistry for proper type inference
  packages/core/email/BRAINSTORM.md
  packages/core/smrt/dist/chunks/index-C817Echr.js.map
  packages/core/smrt/dist/chunks/index-CEGpQ-x1.js.map
  packages/core/smrt/dist/chunks/index-Cx2MeuP_.js.map
  packages/core/smrt/dist/index.js
  packages/core/smrt/dist/index.js.map
  packages/core/smrt/dist/object.d.ts
  packages/core/smrt/dist/object.d.ts.map
  packages/core/smrt/dist/vite-plugin/templates/default-ui.js
  packages/core/smrt/dist/vite-plugin/templates/default-ui.ts
  packages/core/smrt/dist/vite-plugin/templates/default.html
  packages/core/smrt/src/object.ts
  packages/core/sql/CLAUDE.md
  packages/core/sql/dist/chunks/duckdb-BiknJljG.js.map
  packages/core/sql/dist/chunks/duckdb-C5s83PXT.js
  packages/core/sql/dist/chunks/duckdb-C5s83PXT.js.map
  packages/core/sql/dist/chunks/json-0b-0y9HI.js
  packages/core/sql/dist/chunks/json-0b-0y9HI.js.map
  packages/core/sql/dist/chunks/json-De9Nj7Kj.js.map
  packages/core/sql/dist/chunks/postgres-B7IAgBFj.js
  packages/core/sql/dist/chunks/postgres-B7IAgBFj.js.map
  packages/core/sql/dist/chunks/postgres-C9DnNIn1.js.map
  packages/core/sql/dist/chunks/sqlite-BJQU7fQj.js
  packages/core/sql/dist/chunks/sqlite-BJQU7fQj.js.map
  packages/core/sql/dist/chunks/sqlite-Chw5R1WG.js.map
  packages/core/sql/dist/duckdb.d.ts.map
  packages/core/sql/dist/index.js
  packages/core/sql/dist/json.d.ts.map
  packages/core/sql/dist/postgres.d.ts.map
  packages/core/sql/dist/shared/types.d.ts
  packages/core/sql/dist/shared/types.d.ts.map
  packages/core/sql/dist/sqlite.d.ts.map
  packages/core/sql/src/json.spec.ts
  packages/core/sql/src/json.ts
  packages/core/sql/src/shared/types.ts
Due: format, lint

chore(release): 0.37.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/documents/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/dist/chunks/index-C817Echr.js.map
  packages/core/smrt/dist/chunks/index-CEGpQ-x1.js.map
  packages/core/smrt/dist/chunks/index-Cx2MeuP_.js.map
  packages/core/smrt/dist/vite-plugin/templates/default-ui.js
  packages/core/smrt/dist/vite-plugin/templates/default-ui.ts
  packages/core/smrt/dist/vite-plugin/templates/default.html
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  0bbd3a6a565ee100e5bb4179a7e4bc4ca68021d1
Due: none

fix(sql): explicitly cast DEFAULT values in SMRT schemas to prevent DuckDB ANY type inference
  packages/core/sql/CLAUDE.md
  packages/core/sql/src/json.spec.ts
  packages/core/sql/src/json.ts
Due: format, lint

fix(smrt): add explicit CAST to DEFAULT values for DuckDB type inference
  packages/core/smrt/src/fields/index.ts
  packages/core/smrt/src/utils.ts
Due: format, lint

chore(smrt): rebuild dist with DEFAULT CAST fix
  packages/core/smrt/dist/chunks/collection-CIP8-yZ4.js
  packages/core/smrt/dist/chunks/collection-CIP8-yZ4.js.map
  packages/core/smrt/dist/chunks/collection-DOxCGb3L.js.map
  packages/core/smrt/dist/chunks/index-C817Echr.js.map
  packages/core/smrt/dist/chunks/index-CEGpQ-x1.js.map
  packages/core/smrt/dist/chunks/index-Cx2MeuP_.js.map
  packages/core/smrt/dist/chunks/registry-BgJdzGGH.js.map
  packages/core/smrt/dist/chunks/registry-BlPeW6ad.js
  packages/core/smrt/dist/chunks/registry-BlPeW6ad.js.map
  packages/core/smrt/dist/fields.js
  packages/core/smrt/dist/fields.js.map
  packages/core/smrt/dist/fields/index.d.ts.map
  packages/core/smrt/dist/generators/cli.js
  packages/core/smrt/dist/generators/mcp.js
  packages/core/smrt/dist/generators/rest.js
  packages/core/smrt/dist/generators/swagger.js
  packages/core/smrt/dist/index.js
  packages/core/smrt/dist/utils.js
  packages/core/smrt/dist/vite-plugin/templates/default-ui.js
  packages/core/smrt/dist/vite-plugin/templates/default-ui.ts
  packages/core/smrt/dist/vite-plugin/templates/default.html
Due: format, lint

chore(sql): rebuild dist artifacts
  packages/core/sql/dist/chunks/collection-BQJISjdQ.js.map
  packages/core/sql/dist/chunks/collection-hMRJdcXq.js
  packages/core/sql/dist/chunks/collection-hMRJdcXq.js.map
  packages/core/sql/dist/chunks/json-BHdzDGjq.js.map
  packages/core/sql/dist/chunks/json-D_Lnl-tq.js
  packages/core/sql/dist/chunks/json-D_Lnl-tq.js.map
  packages/core/sql/dist/chunks/registry-B3GUIyDa.js.map
  packages/core/sql/dist/chunks/registry-BLel7Dtz.js
  packages/core/sql/dist/chunks/registry-BLel7Dtz.js.map
  packages/core/sql/dist/index.js
  packages/core/sql/dist/json.d.ts.map
Due: format, lint

chore(release): 0.37.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/documents/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/dist/chunks/json-BHdzDGjq.js.map
  packages/core/sql/dist/chunks/json-D5BRqPQR.js
  packages/core/sql/dist/chunks/json-D5BRqPQR.js.map
  packages/core/sql/dist/index.js
  packages/core/sql/dist/json.d.ts.map
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  00e8e38b91f54cafad12582ed5ff1013fcd0ceec
Due: none

fix(smrt): add CAST to DEFAULT values in runtime-manager schema generation
  packages/core/smrt/dist/schema/runtime-manager.d.ts.map
  packages/core/smrt/src/fields/fields.spec.ts
  packages/core/smrt/src/schema/runtime-manager.spec.ts
  packages/core/smrt/src/schema/runtime-manager.ts
Due: format, lint

fix(sql): cast empty string parameters in json adapter insert/upsert
  packages/core/sql/dist/chunks/json-BHAdwz6C.js
  packages/core/sql/dist/chunks/json-BHAdwz6C.js.map
  packages/core/sql/dist/chunks/json-D_Lnl-tq.js.map
  packages/core/sql/dist/index.js
  packages/core/sql/dist/json.d.ts.map
  packages/core/sql/src/json.spec.ts
  packages/core/sql/src/json.ts
Due: format, lint

fix(sql): prevent DuckDB type re-inference during JSON data loading
  packages/core/sql/src/json.ts
Due: format, lint

fix(deps): remove @have/types dependency from logger and config packages
  packages/config/package.json
  packages/logger/package.json
Due: format, lint, validate-package-json

fix(workspace): update pnpm workspace and lockfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(ci): remove SMRT package verification step
  .github/workflows/test-suite.yml
Due: none

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
