Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

docs: implement single source of truth for package documentation
  docs/content/ai.md
  docs/content/cache.md
  docs/content/config.md
  docs/content/documents.md
  docs/content/files.md
  docs/content/geo.md
  docs/content/index.md
  docs/content/logger.md
  docs/content/ocr.md
  docs/content/pdf.md
  docs/content/spider.md
  docs/content/sql.md
  docs/content/translator.md
  docs/content/utils.md
  docs/docs/index.md
  docs/docs/supporting-libraries/ai.md
  docs/docs/supporting-libraries/content.md
  docs/docs/supporting-libraries/files.md
  docs/docs/supporting-libraries/pdf.md
  docs/docs/supporting-libraries/spider.md
  docs/docs/supporting-libraries/sql.md
  docs/docs/supporting-libraries/utils.md
  docs/docusaurus.config.ts
  docs/package.json
  docs/scripts/copy-readmes.js
  docs/sidebars.ts
  docs/src/pages/index.d.ts.map
  docs/src/pages/index.js
  docs/src/pages/index.js.map
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
Due: format, lint, validate-package-json

docs: fix API documentation MDX compilation and navigation
  docs/content/contributing.md
  docs/content/license.md
  docs/docusaurus.config.ts
  docs/scripts/generate-api-docs.js
  docs/scripts/generate-sidebar.js
  docs/sidebars.ts
Due: format, lint

fix(ci): remove invalid markdown.hooks configuration from Docusaurus
  docs/docusaurus.config.ts
Due: format, lint

fix(ci): remove unsupported regex pattern from Biome naming convention
  biome.json
Due: none

chore(release): 0.42.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1b4e283154a4a34b4c7da18f32bb45887af20345
Due: none

feat(sql): add dbid parameter for memory database connection sharing
  packages/sql/CLAUDE.md
  packages/sql/dist/chunks/sqlite-D6ufNJSW.js
  packages/sql/dist/chunks/sqlite-D6ufNJSW.js.map
  packages/sql/dist/chunks/sqlite-DleqToJ2.js
  packages/sql/dist/chunks/sqlite-DleqToJ2.js.map
  packages/sql/dist/index.js
  packages/sql/dist/sqlite.d.ts
  packages/sql/dist/sqlite.d.ts.map
  packages/sql/src/sqlite.spec.ts
  packages/sql/src/sqlite.ts
Due: format, lint

chore(release): 0.43.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  92dbe1a42333ecf92ae9603a8c947b97a6a2ff82
Due: none

chore(sql): add debug logging to diagnose dbid caching behavior
  packages/sql/dist/chunks/sqlite-D6ufNJSW.js.map
  packages/sql/dist/chunks/sqlite-ZH4xgi12.js
  packages/sql/dist/chunks/sqlite-ZH4xgi12.js.map
  packages/sql/dist/index.js
  packages/sql/dist/sqlite.d.ts.map
  packages/sql/src/sqlite.ts
Due: format, lint

chore(sql): remove debug logging from dbid caching
  packages/sql/dist/chunks/sqlite-D8DaQzf6.js
  packages/sql/dist/chunks/sqlite-D8DaQzf6.js.map
  packages/sql/dist/chunks/sqlite-ZH4xgi12.js.map
  packages/sql/dist/index.js
  packages/sql/dist/sqlite.d.ts.map
  packages/sql/src/sqlite.ts
Due: format, lint

chore: fix docs references to config package
  docs/content/index.md
  docs/sidebars.ts
  packages/geo/src/providers/google.ts
  packages/sql/dist/chunks/sqlite-CPRkORuA.js
  packages/sql/dist/chunks/sqlite-CPRkORuA.js.map
  packages/sql/dist/chunks/sqlite-D4yxMRv0.js
  packages/sql/dist/chunks/sqlite-D4yxMRv0.js.map
  packages/sql/dist/chunks/sqlite-D8DaQzf6.js.map
  packages/sql/dist/index.js
  packages/sql/dist/sqlite.d.ts.map
  packages/sql/src/sqlite.ts
Due: format, lint

chore: comprehensive cleanup and fixes
  docs/package.json
  docs/scripts/copy-readmes.js
  packages/spider/src/scrapers/scrapers.spec.ts
Due: format, lint, validate-package-json

chore: revert type: module from docs package.json
  docs/package.json
Due: format, lint, validate-package-json

chore(ci): remove duplicate Claude workflow file
  .github/workflows/claude.yaml
Due: none

fix(sql): skip undefined values in serializeRecord
  packages/sql/dist/chunks/sqlite-CPRkORuA.js.map
  packages/sql/dist/chunks/sqlite-DDGMi05V.js
  packages/sql/dist/chunks/sqlite-DDGMi05V.js.map
  packages/sql/dist/index.js
  packages/sql/dist/sqlite.d.ts.map
  packages/sql/src/sqlite.ts
Due: format, lint

test(spider): skip flaky external network tests in CI
  packages/spider/src/index.spec.ts
Due: format, lint

fix(ci): use OAuth token for auto-fix workflow
  .github/workflows/on-pr-fail.yml
Due: none

chore(git): add typecheck and format to pre-push hook
  lefthook.yml
  packages/spider/src/index.spec.ts
Due: format, lint

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
