Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

fix: TypeScript errors in analytics and utils packages (#774)
  .changeset/fix-typescript-errors.md
  packages/analytics/src/shared/providers/ga4.ts
  packages/sql/src/postgres.ts
  packages/utils/src/cli/parse-args.ts
Due: format, lint

chore(ci): optimize workflows for arc-runner pre-installed tools
  .github/workflows/on-pull-request.yml
  .github/workflows/test-suite.yml
Due: none

chore(ci): optimize workflows for arc-runner pre-installed tools (#783)
  .github/workflows/on-pull-request.yml
  .github/workflows/test-suite.yml
Due: none

chore(deps): update @happyvertical/pdf to ^0.61.0 for kreuzberg support
  .changeset/pdf-kreuzberg-support.md
  packages/documents/package.json
Due: format, lint, validate-package-json

fix: update lockfile for documents pdf@0.61.0
  pnpm-lock.yaml
Due: none

feat: add TTS support and new packages for video production
  packages/ai/SKILL_TREE.md
  packages/ai/src/integration.test.ts
  packages/ai/src/providers.test.ts
  packages/ai/src/shared/factory.ts
  packages/ai/src/shared/providers/anthropic.ts
  packages/ai/src/shared/providers/bedrock.ts
  packages/ai/src/shared/providers/claude-cli.ts
  packages/ai/src/shared/providers/gemini.ts
  packages/ai/src/shared/providers/huggingface.ts
  packages/ai/src/shared/providers/openai.ts
  packages/ai/src/shared/providers/qwen-tts.ts
  packages/ai/src/shared/types.ts
  packages/comfyui/package.json
  packages/comfyui/src/client.ts
  packages/comfyui/src/index.ts
  packages/comfyui/src/types.ts
  packages/comfyui/tsconfig.json
  packages/comfyui/vite.config.ts
  packages/social/package.json
  packages/social/src/adapters/bluesky.ts
  packages/social/src/adapters/threads.ts
  packages/social/src/adapters/x.ts
  packages/social/src/adapters/youtube.ts
  packages/social/src/index.ts
  packages/social/src/types.ts
  packages/social/tsconfig.json
  packages/social/vite.config.ts
  packages/video/package.json
  packages/video/src/adapters/ffmpeg.ts
  packages/video/src/index.ts
  packages/video/src/types.ts
  packages/video/tsconfig.json
  packages/video/vite.config.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(social): add missing logger declarations and fix PKCE implementation
  packages/social/src/adapters/bluesky.ts
  packages/social/src/adapters/threads.ts
  packages/social/src/adapters/x.ts
  packages/social/src/adapters/youtube.ts
Due: format, lint

docs: add README files for new packages
  packages/comfyui/README.md
  packages/social/README.md
  packages/video/README.md
Due: none

fix: address code quality issues in video, social, and ai packages
  packages/ai/src/shared/providers/qwen-tts.ts
  packages/social/src/adapters/threads.ts
  packages/social/src/adapters/youtube.ts
  packages/video/src/adapters/ffmpeg.ts
Due: format, lint

fix(social): resolve type errors in X adapter
  packages/social/src/adapters/x.ts
Due: format, lint

ci: add new package scopes and test files for CI validation
  .commitlintrc.json
  packages/comfyui/src/index.spec.ts
  packages/social/src/index.spec.ts
  packages/video/src/index.spec.ts
Due: format, lint

fix(sql): handle quoted identifiers in PostgreSQL syncSchema
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint

fix(sql): use raw client.query for DDL in tests
  packages/sql/src/postgres.spec.ts
Due: format, lint

fix(sql): handle quoted identifiers in PostgreSQL syncSchema (#792)
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint

fix(sql): execute CREATE INDEX statements in PostgreSQL syncSchema
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint

fix(sql): execute CREATE INDEX statements in PostgreSQL syncSchema (#794)
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint

feat(comfyui): add basic auth support to client
  packages/comfyui/src/client.ts
  packages/comfyui/src/index.spec.ts
  packages/comfyui/src/types.ts
Due: format, lint

feat(comfyui): add basic auth support to client (#796)
  packages/comfyui/src/client.ts
  packages/comfyui/src/index.spec.ts
  packages/comfyui/src/types.ts
Due: format, lint

feat(files): add Google Drive provider
  .changeset/google-drive-provider.md
  packages/files/package.json
  packages/files/src/filesystem.test.ts
  packages/files/src/index.ts
  packages/files/src/providers/gdrive.spec.ts
  packages/files/src/providers/gdrive.ts
  packages/files/src/shared/factory.ts
  packages/files/src/shared/types.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(files): address review feedback on GoogleDriveProvider
  packages/files/src/providers/gdrive.spec.ts
  packages/files/src/providers/gdrive.ts
Due: format, lint

feat(files): add Google Drive provider (#797)
  .changeset/google-drive-provider.md
  packages/files/package.json
  packages/files/src/filesystem.test.ts
  packages/files/src/index.ts
  packages/files/src/providers/gdrive.spec.ts
  packages/files/src/providers/gdrive.ts
  packages/files/src/shared/factory.ts
  packages/files/src/shared/types.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

perf(sql): batch index existence checks in PostgreSQL syncSchema
  .changeset/batch-index-checks.md
  packages/sql/src/postgres.ts
Due: format, lint

perf(sql): batch index existence checks in PostgreSQL syncSchema (#799)
  .changeset/batch-index-checks.md
  packages/sql/src/postgres.ts
Due: format, lint

docs(sql): explain template literal cross-adapter translation in README
  packages/sql/README.md
Due: none

docs(sql): explain template literal cross-adapter translation in README (#800)
  packages/sql/README.md
Due: none

feat(video): add convertWebpToMp4 to VideoProcessor
  packages/video/package.json
  packages/video/src/adapters/ffmpeg.ts
  packages/video/src/index.ts
  packages/video/src/types.ts
  packages/video/vite.config.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(sql): add connection caching to PostgreSQL adapter
  packages/sql/src/postgres.ts
Due: format, lint

fix(video): address review comments on convertWebpToMp4
  packages/video/src/adapters/ffmpeg.ts
  packages/video/src/types.ts
Due: format, lint

feat(video): add convertWebpToMp4 to VideoProcessor (#802)
  packages/video/package.json
  packages/video/src/adapters/ffmpeg.ts
  packages/video/src/index.ts
  packages/video/src/types.ts
  packages/video/vite.config.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(sql): address review comments on PostgreSQL connection caching
  packages/sql/src/index.ts
  packages/sql/src/postgres.ts
Due: format, lint

fix(sql): add connection caching to PostgreSQL adapter (#803)
  packages/sql/src/index.ts
  packages/sql/src/postgres.ts
Due: format, lint

fix(ci): fix Claude Code workflow triggers and self-cancellation
  .github/workflows/claude.yml
  .github/workflows/on-label-changed.yml
Due: none

fix(ci): fix Claude Code workflow triggers and self-cancellation (#804)
  .github/workflows/claude.yml
  .github/workflows/on-label-changed.yml
Due: none

fix(ci): remove explicit pnpm version from claude.yml
  .github/workflows/claude.yml
Due: none

fix(ci): remove explicit pnpm version from claude.yml (#805)
  .github/workflows/claude.yml
Due: none

fix(sql): make buildWhere TIMESTAMP CAST adapter-aware
  packages/sql/src/duckdb.ts
  packages/sql/src/index.spec.ts
  packages/sql/src/index.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/utils.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): address PR review feedback
  packages/sql/src/postgres.ts
  packages/sql/src/shared/utils.ts
Due: format, lint

fix(sql): make buildWhere TIMESTAMP CAST adapter-aware (#806)
  packages/sql/src/duckdb.ts
  packages/sql/src/index.spec.ts
  packages/sql/src/index.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/utils.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): prevent postgres connection pool exhaustion on schema sync
  packages/sql/src/postgres.ts
Due: format, lint
