Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

Notes added by 'git notes add'
  84e27310df6748ca43a99c8eba0148d5b7a7a12d
Due: none

refactor(smrt): rename notes system to context memory system
  CLAUDE.md
  packages/core/smrt/README.md
  packages/core/smrt/src/class.ts
  packages/core/smrt/src/collection.ts
  packages/core/smrt/src/object.ts
  packages/core/smrt/src/system/schema.ts
Due: format, lint

fix(build): eliminate numbered intermediate dist files
  vite.config.ts
Due: none

Notes added by 'git notes add'
  4470a0b20b20e56ea103448bb0e8c5c062b1d46a
Due: none

fix(smrt): use item class instead of collection class for table name
  packages/core/smrt/src/collection.ts
Due: format, lint

chore(release): 0.32.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/documents/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/dist/chunks/collection-CsqQw3k7.js
  packages/core/smrt/dist/chunks/collection-CsqQw3k7.js.map
  packages/core/smrt/dist/chunks/collection-zd453FnA.js.map
  packages/core/smrt/dist/chunks/registry-DkbGSTJN.js
  packages/core/smrt/dist/chunks/registry-DkbGSTJN.js.map
  packages/core/smrt/dist/chunks/registry-DlqK03oe.js.map
  packages/core/smrt/dist/generators/cli.js
  packages/core/smrt/dist/generators/mcp.js
  packages/core/smrt/dist/generators/rest.js
  packages/core/smrt/dist/generators/swagger.js
  packages/core/smrt/dist/index.js
  packages/core/smrt/dist/utils.js
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  030950a99b0155da9c6ffad21127dbb61be9758e
Due: none

docs: comprehensive documentation updates for SDK packages
  packages/core/cache/README.md
  packages/core/logger/README.md
  packages/core/smrt/README.md
Due: none

chore(release): 0.32.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/core/ai/package.json
  packages/core/cache/package.json
  packages/core/config/package.json
  packages/core/documents/package.json
  packages/core/files/package.json
  packages/core/geo/package.json
  packages/core/logger/package.json
  packages/core/ocr/package.json
  packages/core/pdf/package.json
  packages/core/smrt/package.json
  packages/core/spider/package.json
  packages/core/sql/package.json
  packages/core/translator/package.json
  packages/core/types/package.json
  packages/core/utils/package.json
  packages/modules/accounts/package.json
  packages/modules/agents/package.json
  packages/modules/assets/package.json
  packages/modules/content/package.json
  packages/modules/events/package.json
  packages/modules/gnode/package.json
  packages/modules/places/package.json
  packages/modules/products/package.json
  packages/modules/profiles/package.json
  packages/modules/tags/package.json
Due: format, lint, validate-package-json

Notes added by 'git notes add'
  6076d4f9dbfbdfdc6dba8bc913da717ac9b63c9c
Due: none

feat(sql): add DuckDB adapter with JSON file support
  packages/core/sql/package.json
  packages/core/sql/src/duckdb.spec.ts
  packages/core/sql/src/duckdb.ts
  packages/core/sql/src/index.ts
  packages/core/sql/src/shared/types.ts
  packages/core/sql/test/fixtures/data/products.json
  packages/core/sql/test/fixtures/data/users.json
  pnpm-lock.yaml
Due: format, lint, validate-package-json

docs(sql): add DuckDB adapter documentation to README
  packages/core/sql/README.md
Due: none

fix(smrt): use UUID-based primary keys for database-agnostic system tables
  CLAUDE.md
  packages/core/smrt/dist/chunks/collection-CBZZu_c7.js
  packages/core/smrt/dist/chunks/collection-CBZZu_c7.js.map
  packages/core/smrt/dist/chunks/collection-CsqQw3k7.js.map
  packages/core/smrt/dist/chunks/index-C817Echr.js.map
  packages/core/smrt/dist/chunks/index-CEGpQ-x1.js.map
  packages/core/smrt/dist/chunks/index-Cx2MeuP_.js.map
  packages/core/smrt/dist/chunks/registry-DkbGSTJN.js.map
  packages/core/smrt/dist/chunks/registry-oaHyPj_D.js
  packages/core/smrt/dist/chunks/registry-oaHyPj_D.js.map
  packages/core/smrt/dist/class.d.ts.map
  packages/core/smrt/dist/generators/cli.js
  packages/core/smrt/dist/generators/mcp.js
  packages/core/smrt/dist/generators/rest.js
  packages/core/smrt/dist/generators/swagger.js
  packages/core/smrt/dist/index.js
  packages/core/smrt/dist/system/schema.d.ts
  packages/core/smrt/dist/system/schema.d.ts.map
  packages/core/smrt/dist/utils.js
  packages/core/smrt/dist/vite-plugin/templates/default-ui.js
  packages/core/smrt/dist/vite-plugin/templates/default-ui.ts
  packages/core/smrt/dist/vite-plugin/templates/default.html
  packages/core/smrt/src/class.ts
  packages/core/smrt/src/system/schema.ts
Due: format, lint

Notes added by 'git notes add'
  f7d5a01be3e5916d5c1eb25262b64fe2d084b5e9
Due: none

refactor(smrt): remove database triggers for database-agnostic timestamp management
  packages/core/smrt/CLAUDE.md
  packages/core/smrt/src/collection.ts
  packages/core/smrt/src/registry.ts
  packages/core/smrt/src/schema/runtime-manager.ts
  packages/core/smrt/src/utils.ts
Due: format, lint

Notes added by 'git notes add'
  434e413e8584ef9968f0a20b97e78966867a8f5c
Due: none

feat(sql): add JSON adapter with in-memory DuckDB engine
  packages/core/smrt/dist/chunks/collection-CBZZu_c7.js.map
  packages/core/smrt/dist/chunks/collection-DOxCGb3L.js
  packages/core/smrt/dist/chunks/collection-DOxCGb3L.js.map
  packages/core/smrt/dist/chunks/index-C817Echr.js.map
  packages/core/smrt/dist/chunks/index-CEGpQ-x1.js.map
  packages/core/smrt/dist/chunks/index-Cx2MeuP_.js.map
  packages/core/smrt/dist/chunks/registry-BgJdzGGH.js
  packages/core/smrt/dist/chunks/registry-BgJdzGGH.js.map
  packages/core/smrt/dist/chunks/registry-oaHyPj_D.js.map
  packages/core/smrt/dist/collection.d.ts
  packages/core/smrt/dist/collection.d.ts.map
  packages/core/smrt/dist/generators/cli.js
  packages/core/smrt/dist/generators/mcp.js
  packages/core/smrt/dist/generators/rest.js
  packages/core/smrt/dist/generators/swagger.js
  packages/core/smrt/dist/index.js
  packages/core/smrt/dist/registry.d.ts.map
  packages/core/smrt/dist/schema/runtime-manager.d.ts
  packages/core/smrt/dist/schema/runtime-manager.d.ts.map
  packages/core/smrt/dist/utils.d.ts
  packages/core/smrt/dist/utils.d.ts.map
  packages/core/smrt/dist/utils.js
  packages/core/smrt/dist/vite-plugin/templates/default-ui.js
  packages/core/smrt/dist/vite-plugin/templates/default-ui.ts
  packages/core/smrt/dist/vite-plugin/templates/default.html
  packages/core/sql/CLAUDE.md
  packages/core/sql/src/index.ts
  packages/core/sql/src/json.spec.ts
  packages/core/sql/src/json.ts
  packages/core/sql/src/shared/types.ts
Due: format, lint

Notes added by 'git notes add'
  b84b393a2f43ba01d853ed87575d7f458435610d
Due: none

feat(sql): add per-adapter upsert() method to fix DuckDB compatibility
  packages/core/smrt/src/object.ts
  packages/core/sql/CLAUDE.md
  packages/core/sql/dist/chunks/json-De9Nj7Kj.js
  packages/core/sql/dist/chunks/json-De9Nj7Kj.js.map
  packages/core/sql/dist/index.d.ts
  packages/core/sql/dist/index.d.ts.map
  packages/core/sql/dist/index.js
  packages/core/sql/dist/index.js.map
  packages/core/sql/dist/json.d.ts
  packages/core/sql/dist/json.d.ts.map
  packages/core/sql/dist/shared/types.d.ts
  packages/core/sql/dist/shared/types.d.ts.map
  packages/core/sql/src/duckdb.spec.ts
  packages/core/sql/src/duckdb.ts
  packages/core/sql/src/json.ts
  packages/core/sql/src/postgres.ts
  packages/core/sql/src/shared/types.ts
  packages/core/sql/src/sqlite.spec.ts
  packages/core/sql/src/sqlite.ts
Due: format, lint

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
