Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

feat(messages): implement database synchronization
  packages/messages/src/adapters/smtp.ts
  packages/messages/src/shared/base.ts
  packages/messages/src/shared/schema.ts
  pnpm-lock.yaml
Due: format, lint

fix(messages): update database operations to use correct SQL API
  packages/messages/src/shared/base.ts
  packages/messages/test/integration/sync.test.ts
  packages/messages/test/unit/sync.test.ts
Due: format, lint

fix(messages): resolve linter warnings in test files
  packages/messages/test/integration/encryption.test.ts
  packages/messages/test/integration/sync.test.ts
  packages/messages/test/unit/base.test.ts
  packages/messages/test/unit/errors.test.ts
  packages/messages/test/unit/factory.test.ts
  packages/messages/test/unit/gmail.test.ts
  packages/messages/test/unit/imap.test.ts
  packages/messages/test/unit/pop3.test.ts
  packages/messages/test/unit/smtp.test.ts
  packages/messages/test/unit/sync.test.ts
Due: format, lint

feat(messages): add Gmail OAuth2 integration and tests
  packages/messages/scripts/get-gmail-token.js
  packages/messages/src/adapters/gmail.ts
  packages/messages/test/integration/gmail.test.ts
Due: format, lint

chore(messages): add changeset for Gmail integration
  .changeset/gmail-integration-tests.md
Due: none

feat(messages): add Gmail send/receive integration test
  packages/messages/test/integration/gmail-send-receive.test.ts
Due: format, lint

fix(messages): implement attachment support in Gmail adapter
  packages/messages/src/adapters/gmail.ts
Due: format, lint

chore(messages): add changeset for Gmail attachment fix
  .changeset/witty-items-lick.md
Due: none

test(messages): skip Gmail integration tests in CI
  packages/messages/test/integration/gmail-send-receive.test.ts
Due: format, lint

fix(messages): update Database to DatabaseInterface imports
  packages/messages/package.json
  packages/messages/src/adapters/gmail.ts
  packages/messages/src/shared/base.ts
  packages/messages/src/shared/schema.ts
  packages/messages/src/shared/types.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(messages): resolve all Gmail adapter TypeScript errors
  packages/messages/src/adapters/gmail.ts
Due: format, lint

fix(messages): resolve all IMAP adapter TypeScript errors
  packages/messages/src/adapters/imap.ts
Due: format, lint

fix(messages): resolve all POP3 adapter TypeScript errors
  packages/messages/src/adapters/pop3.ts
Due: format, lint

fix(messages): resolve SMTP adapter TypeScript errors
  packages/messages/src/adapters/smtp.ts
Due: format, lint

fix(messages): resolve shared module and encryption TypeScript errors
  packages/messages/src/encryption/index.ts
  packages/messages/src/encryption/types.ts
  packages/messages/src/index.ts
  packages/messages/src/shared/base.ts
  packages/messages/src/shared/factory.ts
  packages/messages/src/shared/types.ts
Due: format, lint

fix(messages): resolve all 6 failing tests
  packages/messages/src/adapters/gmail.ts
  packages/messages/test/integration/gmail-send-receive.test.ts
  packages/messages/test/unit/imap.test.ts
Due: format, lint

fix(messages): add missing dependencies and externalize email packages
  packages/messages/package.json
  pnpm-lock.yaml
  vite.config.base.ts
Due: format, lint, validate-package-json

fix(messages): add google-auth-library dependency
  packages/messages/package.json
  pnpm-lock.yaml
  vite.config.base.ts
Due: format, lint, validate-package-json

fix(ai): eliminate keychain prompts in claude-cli provider
  .changeset/claude-cli-keychain-fix.md
  packages/ai/CLAUDE.md
  packages/ai/src/claude-cli.integration.test.ts
  packages/ai/src/shared/providers/claude-cli.ts
Due: format, lint

fix(ai): eliminate keychain prompts in claude-cli provider (#436)
  .changeset/claude-cli-keychain-fix.md
  packages/ai/CLAUDE.md
  packages/ai/src/claude-cli.integration.test.ts
  packages/ai/src/shared/providers/claude-cli.ts
Due: format, lint

fix(spider): prevent Playwright keychain prompts
  .changeset/claude-cli-keychain-fix.md
  packages/spider/src/adapters/crawlee.ts
  packages/spider/src/scrapers/tree.ts
Due: format, lint

chore: update @happyvertical dependencies
  pnpm-lock.yaml
Due: none

fix(spider): prevent infinite loops in WordPress detection when URLs return HTML
  packages/spider/CLAUDE.md
  packages/spider/src/scrapeDocument.test.ts
  packages/spider/src/scrapeDocument.ts
Due: format, lint

fix(spider): prevent infinite loops in WordPress detection when URLs return HTML (#441)
  packages/spider/CLAUDE.md
  packages/spider/src/scrapeDocument.test.ts
  packages/spider/src/scrapeDocument.ts
Due: format, lint

fix(ci): skip changeset check for changesets release PRs
  .github/workflows/changeset-check.yml
Due: none

fix(ci): skip changeset check for changesets release PRs (#442)
  .github/workflows/changeset-check.yml
Due: none

chore: enable fixed versioning for all @happyvertical packages
  .changeset/config.json
  .changeset/unified-versioning.md
Due: format, lint

chore: enable fixed versioning for all @happyvertical packages (#444)
  .changeset/config.json
  .changeset/unified-versioning.md
Due: format, lint

fix(weather): ensure windSpeed is always a number
  .changeset/fix-weather-windspeed-type.md
  packages/weather/src/providers/environment-canada.ts
Due: format, lint

fix(weather): ensure windSpeed is always a number (#445)
  .changeset/fix-weather-windspeed-type.md
  packages/weather/src/providers/environment-canada.ts
Due: format, lint

fix(ci): use GH_TOKEN for changesets to trigger PR workflows
  .github/workflows/publish.yml
Due: none

fix(ci): use GH_TOKEN for changesets to trigger PR workflows (#447)
  .github/workflows/publish.yml
Due: none

test(spider): add WordPress detection regression tests for vitest
  .changeset/wordpress-detection-fix.md
  packages/spider/src/wordpress-detection.spec.ts
Due: format, lint

test(spider): add WordPress detection regression tests for vitest (#450)
  .changeset/wordpress-detection-fix.md
  packages/spider/src/wordpress-detection.spec.ts
Due: format, lint

fix(encryption): increase timeout for 4096-bit RSA key generation test
  packages/encryption/test/unit/pgp.test.ts
Due: format, lint

fix(encryption): increase timeout for 4096-bit RSA key generation test (#452)
  packages/encryption/test/unit/pgp.test.ts
Due: format, lint

chore: version packages (#453)
  .changeset/wordpress-detection-fix.md
  packages/ai/CHANGELOG.md
  packages/ai/package.json
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/documents/CHANGELOG.md
  packages/documents/package.json
  packages/encryption/CHANGELOG.md
  packages/encryption/package.json
  packages/files/CHANGELOG.md
  packages/files/package.json
  packages/geo/CHANGELOG.md
  packages/geo/package.json
  packages/github-actions/CHANGELOG.md
  packages/github-actions/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/messages/CHANGELOG.md
  packages/messages/package.json
  packages/ocr/CHANGELOG.md
  packages/ocr/package.json
  packages/pdf/CHANGELOG.md
  packages/pdf/package.json
  packages/projects/CHANGELOG.md
  packages/projects/package.json
  packages/repos/CHANGELOG.md
  packages/repos/package.json
  packages/sdk-mcp/CHANGELOG.md
  packages/sdk-mcp/package.json
  packages/spider/CHANGELOG.md
  packages/spider/package.json
  packages/sql/CHANGELOG.md
  packages/sql/package.json
  packages/translator/CHANGELOG.md
  packages/translator/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/weather/CHANGELOG.md
  packages/weather/package.json
Due: format, lint, validate-package-json

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
