Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

feat(directory): Kanidm API token auth + credential reset intents (#831)
  packages/directory/src/__tests__/kanidm.test.ts
  packages/directory/src/adapters/kanidm.ts
  packages/directory/src/index.ts
  packages/directory/src/shared/factory.ts
  packages/directory/src/shared/types.ts
Due: format, lint

feat(sql): add requiresSchemaCheck flag to DatabaseInterface
  .changeset/requires-schema-check.md
  packages/sql/src/duckdb.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/types.ts
Due: format, lint

feat(sql): add requiresSchemaCheck flag to DatabaseInterface (#832)
  .changeset/requires-schema-check.md
  packages/sql/src/duckdb.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/types.ts
Due: format, lint

feat(repos): add createRepositoryFromTemplate() to GitHubRepository
  packages/repos/src/github/index.ts
  packages/repos/src/index.ts
  packages/repos/src/types.ts
Due: format, lint

fix(repos): address review feedback on createRepositoryFromTemplate
  .changeset/requires-schema-check.md
  packages/repos/src/github/index.ts
  packages/repos/src/types.ts
Due: format, lint

feat(repos): add createRepositoryFromTemplate() (#846)
  .changeset/requires-schema-check.md
  packages/repos/src/github/index.ts
  packages/repos/src/index.ts
  packages/repos/src/types.ts
Due: format, lint

docs(ai): update README and JSDoc comments
  docs/content/files.md
  docs/content/utils.md
  packages/ai/README.md
  packages/ai/src/shared/types.ts
  packages/files/README.md
  packages/files/src/index.ts
  packages/files/src/providers/gdrive.ts
  packages/files/src/shared/base.ts
  packages/logger/README.md
  packages/logger/src/index.ts
  packages/logger/src/sentry-adapter.ts
  packages/sql/README.md
  packages/sql/src/schema-manager.ts
  packages/utils/README.md
  packages/utils/src/shared/universal.ts
Due: format, lint

docs(ci): update github-actions README and JSDoc comments
  packages/github-actions/README.md
  packages/github-actions/src/planning/analyze.ts
  packages/github-actions/src/triage/analyze.ts
  packages/github-actions/src/triage/comment.ts
  packages/github-actions/src/triage/duplicates.ts
  packages/github-actions/src/triage/index-v2.ts
  packages/github-actions/src/triage/index.ts
  packages/github-actions/src/triage/label-v2.ts
  packages/github-actions/src/triage/label.ts
  packages/github-actions/src/triage/project-v2.ts
  packages/github-actions/src/triage/project.ts
Due: format, lint

docs(documents): update README and JSDoc comments
  packages/documents/README.md
  packages/documents/src/index.ts
  packages/documents/src/processors/pdf.ts
Due: format, lint

docs(ci): update sdk-mcp README and JSDoc comments
  packages/sdk-mcp/README.md
  packages/sdk-mcp/src/registry.ts
  packages/sdk-mcp/src/router.ts
Due: format, lint

docs(translator): update README and JSDoc comments
  packages/translator/README.md
  packages/translator/src/shared/types.ts
Due: format, lint

docs(cache): update README and JSDoc comments
  packages/cache/README.md
  packages/cache/src/shared/types.ts
Due: format, lint

docs(geo): update README and JSDoc comments
  packages/geo/README.md
  packages/geo/src/shared/types.ts
  packages/geo/src/shared/utils.ts
Due: format, lint

docs(content): update package documentation pages
  docs/content/ai.md
  docs/content/cache.md
  docs/content/documents.md
  docs/content/geo.md
  docs/content/logger.md
  docs/content/sql.md
  docs/content/translator.md
Due: none

docs(ci): add doc-audit slash command and batch script
  .claude/commands/doc-audit.md
  scripts/doc-audit.sh
Due: none

docs: add package dependency skill tree diagrams
  SKILL_TREE.md
  packages/accounting/SKILL_TREE.md
  packages/ai/SKILL_TREE.md
  packages/analytics/SKILL_TREE.md
  packages/auth/SKILL_TREE.md
  packages/cache/SKILL_TREE.md
  packages/comfyui/SKILL_TREE.md
  packages/directory/SKILL_TREE.md
  packages/documents/SKILL_TREE.md
  packages/email/SKILL_TREE.md
  packages/encryption/SKILL_TREE.md
  packages/files/SKILL_TREE.md
  packages/geo/SKILL_TREE.md
  packages/github-actions/SKILL_TREE.md
  packages/graphql/SKILL_TREE.md
  packages/images/SKILL_TREE.md
  packages/jobs/SKILL_TREE.md
  packages/json/SKILL_TREE.md
  packages/logger/SKILL_TREE.md
  packages/messages/SKILL_TREE.md
  packages/projects/SKILL_TREE.md
  packages/repos/SKILL_TREE.md
  packages/sdk-mcp/SKILL_TREE.md
  packages/secrets/SKILL_TREE.md
  packages/social/SKILL_TREE.md
  packages/sql/SKILL_TREE.md
  packages/translator/SKILL_TREE.md
  packages/utils/SKILL_TREE.md
  packages/video/SKILL_TREE.md
  packages/weather/SKILL_TREE.md
Due: none

docs: add doc-audit tooling and skill tree diagrams (#854)
  .claude/commands/doc-audit.md
  SKILL_TREE.md
  packages/accounting/SKILL_TREE.md
  packages/ai/SKILL_TREE.md
  packages/analytics/SKILL_TREE.md
  packages/auth/SKILL_TREE.md
  packages/cache/SKILL_TREE.md
  packages/comfyui/SKILL_TREE.md
  packages/directory/SKILL_TREE.md
  packages/documents/SKILL_TREE.md
  packages/email/SKILL_TREE.md
  packages/encryption/SKILL_TREE.md
  packages/files/SKILL_TREE.md
  packages/geo/SKILL_TREE.md
  packages/github-actions/SKILL_TREE.md
  packages/graphql/SKILL_TREE.md
  packages/images/SKILL_TREE.md
  packages/jobs/SKILL_TREE.md
  packages/json/SKILL_TREE.md
  packages/logger/SKILL_TREE.md
  packages/messages/SKILL_TREE.md
  packages/projects/SKILL_TREE.md
  packages/repos/SKILL_TREE.md
  packages/sdk-mcp/SKILL_TREE.md
  packages/secrets/SKILL_TREE.md
  packages/social/SKILL_TREE.md
  packages/sql/SKILL_TREE.md
  packages/translator/SKILL_TREE.md
  packages/utils/SKILL_TREE.md
  packages/video/SKILL_TREE.md
  packages/weather/SKILL_TREE.md
  scripts/doc-audit.sh
Due: none

docs: fix @have/ scope refs and remove extracted packages from README
  README.md
Due: none

fix(ci): update @have/docs filter to @happyvertical/docs
  .github/workflows/test.yml
  package.json
Due: none

docs(repos,projects): fix @have/ scope to @happyvertical/
  packages/projects/README.md
  packages/repos/README.md
Due: none

docs: fix @have/ references in misc documentation
  .devcontainer/ACT_INTEGRATION.md
  .devcontainer/README.md
  .github/SECURITY.md
  notes/workflow/KANBAN.md
Due: none

docs: fix @have/ package references to @happyvertical/ in agent definitions
  .claude/agents/README.md
  .claude/agents/ai.md
  .claude/agents/api.md
  .claude/agents/cli.md
  .claude/agents/component-testing.md
  .claude/agents/files.md
  .claude/agents/mcp.md
  .claude/agents/pdf.md
  .claude/agents/registry.json
  .claude/agents/repo.md
  .claude/agents/smrt.md
  .claude/agents/spider.md
  .claude/agents/sql.md
  .claude/agents/svelte.md
  .claude/agents/template.md
  .claude/agents/utils.md
Due: format, lint

ci: add documentation review workflow
  .github/workflows/doc-review.yml
Due: none

ci: add Docusaurus build check on PRs
  .github/workflows/on-pull-request.yml
Due: none

docs: create CLAUDE.md for comfyui, encryption, graphql, images, logger
  packages/comfyui/CLAUDE.md
  packages/encryption/CLAUDE.md
  packages/graphql/CLAUDE.md
  packages/images/CLAUDE.md
  packages/logger/CLAUDE.md
Due: none

docs: create CLAUDE.md for repos, social, translator, utils, video
  packages/repos/CLAUDE.md
  packages/social/CLAUDE.md
  packages/translator/CLAUDE.md
  packages/utils/CLAUDE.md
  packages/video/CLAUDE.md
Due: none

docs(content): overhaul Docusaurus for @happyvertical scope
  biome.json
  docs/content/index.md
  docs/content/ocr.md
  docs/content/pdf.md
  docs/content/spider.md
  docs/docusaurus.config.ts
  docs/package.json
  docs/scripts/copy-readmes.js
  docs/sidebars.ts
Due: format, lint, validate-package-json

docs(repos): fix parseIssueBody description in CLAUDE.md
  packages/repos/CLAUDE.md
Due: none

docs: fix review findings in encryption and graphql CLAUDE.md
  packages/encryption/CLAUDE.md
  packages/graphql/CLAUDE.md
Due: none

ci: fix doc-review workflow review findings
  .github/workflows/doc-review.yml
Due: none

fix(ci): update @have:registry to @happyvertical:registry in issue-triage action
  .github/actions/issue-triage/action.yml
Due: none

fix(ci): update turbo filter from @have/docs to @happyvertical/docs
  .github/workflows/test.yml
  package.json
Due: none

chore: add changeset for doc updates across 11 packages
  .changeset/docs-release-readiness.md
Due: none

fix: address CI failures and Copilot review comments
  .changeset/docs-release-readiness.md
  .claude/agents/README.md
  .devcontainer/ACT_INTEGRATION.md
  .github/workflows/doc-review.yml
  .github/workflows/on-pull-request.yml
  docs/scripts/copy-readmes.js
Due: format, lint

fix(ci): mark docs-build as continue-on-error
  .github/workflows/on-pull-request.yml
Due: none

fix(ci): use step-level continue-on-error for docs build
  .github/workflows/on-pull-request.yml
Due: none

feat(config): bootstrap .agents configuration for core packages
  .agents/rules/documentation.md
  .agents/rules/downstream-awareness.md
  .agents/rules/strict-typing.md
  .agents/skills/protocol-guardian.md
  .agents/skills/test-automator.md
  packages/documents/src/processors/pdf.test.ts
Due: format, lint
