Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: test -n "{staged_files}" && bun biome lint --write {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}
    validate-changeset-config:
      glob: ".changeset/**/*"
      run: node scripts/validate-changeset-config.js

fix(weather): make timeout test non-flaky
  packages/weather/src/__tests__/openweathermap-onecall.spec.ts
Due: format, lint

chore(release): 0.50.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4e0b7379309a3cb7da5002df4435a1ebf27a44ff
Due: none

fix(sql): persist empty SMRT system tables in JSON adapter
  packages/sql/src/json-system-tables.spec.ts
  packages/sql/src/json.ts
Due: format, lint

chore(release): 0.50.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0606af70952fc81d712c336dfe619255cc07eac7
Due: none

fix(sql): ensure syncSchema() exports empty tables to JSON files
  packages/sql/src/json-system-tables.spec.ts
  packages/sql/src/json.ts
Due: format, lint

chore(release): 0.50.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d32018a07ce84207b6b2def1d1969f56f860f667
Due: none

fix(sql): fix timestamp/date inference for DuckDB and JSON adapters
  packages/sql/src/duckdb.spec.ts
  packages/sql/src/duckdb.ts
  packages/sql/src/json.spec.ts
  packages/sql/src/json.ts
  packages/sql/test/fixtures/data/meetings.json
Due: format, lint

chore(release): 0.50.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e923d824a39e6d3df041f25606ba7f11717bd749
Due: none

feat(sql): cache JSON adapter connections per data directory URL
  packages/sql/src/index.ts
  packages/sql/src/json-system-tables.spec.ts
  packages/sql/src/json.spec.ts
  packages/sql/src/json.ts
  packages/sql/src/shared/types.ts
Due: format, lint

chore(release): 0.51.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a03bc56c8a5eddeacb5133287d981152f5ad61c6
Due: none

fix(sql): handle quoted table names in CREATE TABLE regex
  packages/sql/src/json.ts
Due: format, lint

fix(sql): convert FLOAT columns with empty string defaults to TEXT
  packages/sql/src/json.spec.ts
  packages/sql/src/json.ts
Due: format, lint

chore(release): 0.51.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ff68e66aba82203cf3a7b12791f8b7ad99a8e1b7
Due: none

docs: restructure CLAUDE.md and extract workflow documentation
  CLAUDE.md
  notes/workflow/AGENT_ORCHESTRATION.md
  notes/workflow/AI_TRIAGE.md
  notes/workflow/COMMUNICATION_GUIDELINES.md
  notes/workflow/CONVENTIONAL_COMMITS.md
  notes/workflow/CREATE_PR_SOP.md
  notes/workflow/GIT_BRANCHING.md
  notes/workflow/START_WORK_SOP.md
Due: none

chore(release): 0.51.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  51ce7caa918437e92f58e59564fbe2c7b5467d41
Due: none

fix(sql): treat undefined values as NULL in DuckDB adapter
  packages/sql/src/duckdb.ts
Due: format, lint

chore(release): 0.51.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8338f1d15341da313e0147981d8e4b3ae38308a5
Due: none

fix(sql): convert DuckDB timestamp objects to Date in queries
  packages/sdk-mcp/CLAUDE.md
  packages/sdk-mcp/src/index.ts
  packages/sql/src/duckdb.spec.ts
  packages/sql/src/duckdb.ts
Due: format, lint

chore(release): 0.51.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  892e43a5b2a419f9dea4c63ae0e74c268a0a2354
Due: none

feat(release): enable publishing to GitHub Packages with version protection
  .github/workflows/on-merge-main.yml
  .releaserc.json
  biome.json
  scripts/validate-version.js
Due: format, lint

chore(release): 0.52.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  64461a2e29dac14ff1ea24c6b6cef6939de4c6a8
Due: none

feat(release): publish individual workspace packages to GitHub Packages
  .github/workflows/on-merge-main.yml
  .releaserc.packages.json
  packages/ai/.releaserc.json
  packages/cache/.releaserc.json
  packages/documents/.releaserc.json
  packages/files/.releaserc.json
  packages/geo/.releaserc.json
  packages/github-actions/.releaserc.json
  packages/logger/.releaserc.json
  packages/ocr/.releaserc.json
  packages/pdf/.releaserc.json
  packages/sdk-mcp/.releaserc.json
  packages/spider/.releaserc.json
  packages/sql/.releaserc.json
  packages/translator/.releaserc.json
  packages/utils/.releaserc.json
  packages/weather/.releaserc.json
  scripts/setup-package-releases.js
  scripts/validate-version.js
Due: format, lint

chore(release): 0.53.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4cfad27168c66c7dbafaf7ca75ec59d0dfe8363c
Due: none

feat(release): initialize individual package publishing with version sync
  packages/ai/package.json
  packages/ai/src/index.ts
  packages/cache/package.json
  packages/cache/src/index.ts
  packages/documents/package.json
  packages/documents/src/index.ts
  packages/files/package.json
  packages/files/src/index.ts
  packages/geo/package.json
  packages/geo/src/index.ts
  packages/github-actions/package.json
  packages/github-actions/src/index.ts
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/ocr/package.json
  packages/ocr/src/index.ts
  packages/pdf/package.json
  packages/pdf/src/index.ts
  packages/sdk-mcp/package.json
  packages/sdk-mcp/src/index.ts
  packages/spider/package.json
  packages/spider/src/index.ts
  packages/sql/package.json
  packages/sql/src/index.ts
  packages/translator/package.json
  packages/translator/src/index.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/weather/package.json
  packages/weather/src/index.ts
  scripts/sync-versions.js
Due: format, lint, validate-package-json

chore(release): 0.54.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c9e9d93cc4d4862a5f9385f5a4a7a82eff826ca4
Due: none

fix(release): add package-specific tagFormat for monorepo releases
  packages/ai/.releaserc.json
  packages/cache/.releaserc.json
  packages/documents/.releaserc.json
  packages/files/.releaserc.json
  packages/geo/.releaserc.json
  packages/github-actions/.releaserc.json
  packages/logger/.releaserc.json
  packages/ocr/.releaserc.json
  packages/pdf/.releaserc.json
  packages/sdk-mcp/.releaserc.json
  packages/spider/.releaserc.json
  packages/sql/.releaserc.json
  packages/translator/.releaserc.json
  packages/utils/.releaserc.json
  packages/weather/.releaserc.json
  scripts/setup-package-releases.js
Due: format, lint

chore(release): 0.54.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  68d1a7734c78e7d41d69c1fcc07ba24cc3335a88
Due: none
