Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json, validate-changeset-config

format:
  run: test -n "{staged_files}" && bun biome format --write {staged_files}
  stage_fixed: true

lint:
  run: test -n "{staged_files}" && bun biome lint --write {staged_files}
  stage_fixed: true

validate-package-json:
  run: node scripts/validate-package-json.js {staged_files}

validate-changeset-config:
  run: node scripts/validate-changeset-config.js

feat(utils): add browser-safe entry point (#742)
  packages/utils/package.json
  packages/utils/src/browser.ts
  packages/utils/vite.config.ts
Due: format, lint, validate-package-json

feat(smrt): add @happyvertical/jobs package for background job processing
  packages/jobs/package.json
  packages/jobs/src/adapters/postgres.ts
  packages/jobs/src/adapters/sqlite.ts
  packages/jobs/src/base-store.ts
  packages/jobs/src/index.test.ts
  packages/jobs/src/index.ts
  packages/jobs/src/retry.ts
  packages/jobs/src/types.ts
  packages/jobs/src/worker.ts
  packages/jobs/tsconfig.json
  packages/jobs/vite.config.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

feat(smrt): add external adapters for Bull, BullMQ, SQS, and Cloud Tasks
  packages/jobs/package.json
  packages/jobs/src/adapters/bull.ts
  packages/jobs/src/adapters/bullmq.ts
  packages/jobs/src/adapters/cloud-tasks.ts
  packages/jobs/src/adapters/sqs.ts
  packages/jobs/src/index.ts
  packages/jobs/vite.config.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(smrt): address review comments on jobs package
  packages/jobs/package.json
  packages/jobs/src/adapters/postgres.ts
  packages/jobs/src/adapters/sqlite.ts
  packages/jobs/src/base-store.ts
  packages/jobs/src/index.test.ts
  packages/jobs/src/worker.ts
Due: format, lint, validate-package-json

chore(deps): update lockfile after removing logger dependency
  pnpm-lock.yaml
Due: none

feat(smrt): add @happyvertical/jobs package for background job processing (#748)
  packages/jobs/package.json
  packages/jobs/src/adapters/bull.ts
  packages/jobs/src/adapters/bullmq.ts
  packages/jobs/src/adapters/cloud-tasks.ts
  packages/jobs/src/adapters/postgres.ts
  packages/jobs/src/adapters/sqlite.ts
  packages/jobs/src/adapters/sqs.ts
  packages/jobs/src/base-store.ts
  packages/jobs/src/index.test.ts
  packages/jobs/src/index.ts
  packages/jobs/src/retry.ts
  packages/jobs/src/types.ts
  packages/jobs/src/worker.ts
  packages/jobs/tsconfig.json
  packages/jobs/vite.config.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

feat(deps): add @happyvertical/secrets package for envelope encryption
  commitlint.config.js
  packages/secrets/README.md
  packages/secrets/package.json
  packages/secrets/src/__tests__/database-store.test.ts
  packages/secrets/src/__tests__/envelope.test.ts
  packages/secrets/src/adapters/database.ts
  packages/secrets/src/index.ts
  packages/secrets/src/shared/envelope.ts
  packages/secrets/src/shared/errors.ts
  packages/secrets/src/shared/factory.ts
  packages/secrets/src/shared/types.ts
  packages/secrets/tsconfig.json
  packages/secrets/vite.config.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

feat(deps): add @happyvertical/secrets package for envelope encryption (#753)
  commitlint.config.js
  packages/secrets/README.md
  packages/secrets/package.json
  packages/secrets/src/__tests__/database-store.test.ts
  packages/secrets/src/__tests__/envelope.test.ts
  packages/secrets/src/adapters/database.ts
  packages/secrets/src/index.ts
  packages/secrets/src/shared/envelope.ts
  packages/secrets/src/shared/errors.ts
  packages/secrets/src/shared/factory.ts
  packages/secrets/src/shared/types.ts
  packages/secrets/tsconfig.json
  packages/secrets/vite.config.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(sql): preserve PostgreSQL error details in CRUD operations
  .changeset/fix-postgres-error-details.md
  packages/sql/src/postgres.ts
Due: format, lint

fix(sql): preserve database error details across all adapters
  .changeset/fix-postgres-error-details.md
  packages/sql/src/duckdb.ts
  packages/sql/src/index.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/utils.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): preserve PostgreSQL error details in CRUD operations (#755)
  .changeset/fix-postgres-error-details.md
  packages/sql/src/duckdb.ts
  packages/sql/src/index.ts
  packages/sql/src/json.ts
  packages/sql/src/postgres.ts
  packages/sql/src/shared/utils.ts
  packages/sql/src/sqlite.ts
Due: format, lint

fix(sql): convert ? placeholders to $1 style for postgres
  packages/sql/src/postgres.ts
Due: format, lint

chore(deps): update all dependencies to latest
  SKILL_TREE.md
  docs/package.json
  package.json
  packages/accounting/SKILL_TREE.md
  packages/accounting/package.json
  packages/ai/package.json
  packages/analytics/SKILL_TREE.md
  packages/analytics/package.json
  packages/auth/SKILL_TREE.md
  packages/auth/package.json
  packages/cache/package.json
  packages/documents/package.json
  packages/email/package.json
  packages/encryption/package.json
  packages/files/package.json
  packages/geo/package.json
  packages/github-actions/package.json
  packages/graphql/package.json
  packages/images/package.json
  packages/jobs/package.json
  packages/logger/package.json
  packages/projects/package.json
  packages/repos/package.json
  packages/sdk-mcp/package.json
  packages/secrets/package.json
  packages/sql/package.json
  packages/translator/package.json
  packages/utils/package.json
  packages/weather/package.json
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix: sync @types/node resolution with updated dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update all dependencies to latest (#757)
  SKILL_TREE.md
  docs/package.json
  package.json
  packages/accounting/SKILL_TREE.md
  packages/accounting/package.json
  packages/ai/package.json
  packages/analytics/SKILL_TREE.md
  packages/analytics/package.json
  packages/auth/SKILL_TREE.md
  packages/auth/package.json
  packages/cache/package.json
  packages/documents/package.json
  packages/email/package.json
  packages/encryption/package.json
  packages/files/package.json
  packages/geo/package.json
  packages/github-actions/package.json
  packages/graphql/package.json
  packages/images/package.json
  packages/jobs/package.json
  packages/logger/package.json
  packages/projects/package.json
  packages/repos/package.json
  packages/sdk-mcp/package.json
  packages/secrets/package.json
  packages/sql/package.json
  packages/translator/package.json
  packages/utils/package.json
  packages/weather/package.json
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix(sql): convert ? placeholders to $1 style for postgres (#725)
  packages/sql/src/postgres.ts
Due: format, lint

fix: pin @types/node to 24.10.9 for Node 24 LTS compatibility
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix: pin @types/node to 24.10.9 for Node 24 LTS compatibility (#760)
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix: add JSON serialization for Postgres adapter
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint

fix: add JSON serialization for Postgres adapter (#766)
  packages/sql/src/postgres.spec.ts
  packages/sql/src/postgres.ts
Due: format, lint

fix: resolve CI validation failures
  .changeset/claude-context-feature.md
  .github/workflows/test-suite.yml
Due: none

fix: resolve CI validation failures (#767)
  .changeset/claude-context-feature.md
  .github/workflows/test-suite.yml
Due: none

fix: rename workflow to match on-ci-failure trigger
  .github/workflows/on-pull-request.yml
Due: none

fix: prevent bot comments from triggering Claude workflow
  .github/workflows/claude.yml
Due: none

docs: add guidance to check if branch is merged before adding commits
  CLAUDE.md
Due: none

docs: add guidance to check if branch is merged before adding commits (#768)
  CLAUDE.md
Due: none

fix: prevent bot comments from triggering Claude workflow (#769)
  .github/workflows/claude.yml
Due: none

perf: combine build and publish jobs to eliminate redundant build
  .github/workflows/shared-merge-orchestrator.yml
Due: none

perf: combine build and publish jobs to eliminate redundant build (#770)
  .github/workflows/shared-merge-orchestrator.yml
Due: none

fix: add constructors to image adapters to accept options
  packages/images/src/adapters/jimp.ts
  packages/images/src/adapters/sharp.ts
Due: format, lint

fix: add constructors to image adapters to accept options (#772)
  packages/images/src/adapters/jimp.ts
  packages/images/src/adapters/sharp.ts
Due: format, lint

feat(json): add @happyvertical/json package with Rust SIMD acceleration
  .commitlintrc.json
  .github/workflows/build-json-native.yml
  commitlint.config.js
  packages/json/.gitignore
  packages/json/.npmignore
  packages/json/CLAUDE.md
  packages/json/Cargo.toml
  packages/json/README.md
  packages/json/build.rs
  packages/json/package.json
  packages/json/src/__tests__/benchmark.bench.ts
  packages/json/src/__tests__/clone.test.ts
  packages/json/src/__tests__/factory.test.ts
  packages/json/src/__tests__/parse.test.ts
  packages/json/src/__tests__/stringify.test.ts
  packages/json/src/adapters/index.ts
  packages/json/src/adapters/native.ts
  packages/json/src/adapters/sonic.ts
  packages/json/src/factory.ts
  packages/json/src/index.ts
  packages/json/src/lib.rs
  packages/json/src/types.ts
  packages/json/tsconfig.json
  packages/json/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

feat(json): add @happyvertical/json package with Rust SIMD acceleration (#773)
  .commitlintrc.json
  .github/workflows/build-json-native.yml
  commitlint.config.js
  packages/json/.gitignore
  packages/json/.npmignore
  packages/json/CLAUDE.md
  packages/json/Cargo.toml
  packages/json/README.md
  packages/json/build.rs
  packages/json/package.json
  packages/json/src/__tests__/benchmark.bench.ts
  packages/json/src/__tests__/clone.test.ts
  packages/json/src/__tests__/factory.test.ts
  packages/json/src/__tests__/parse.test.ts
  packages/json/src/__tests__/stringify.test.ts
  packages/json/src/adapters/index.ts
  packages/json/src/adapters/native.ts
  packages/json/src/adapters/sonic.ts
  packages/json/src/factory.ts
  packages/json/src/index.ts
  packages/json/src/lib.rs
  packages/json/src/types.ts
  packages/json/tsconfig.json
  packages/json/vite.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint, validate-package-json

fix: TypeScript errors in analytics and utils packages
  packages/analytics/src/shared/providers/ga4.ts
  packages/sql/src/postgres.ts
  packages/utils/src/cli/parse-args.ts
Due: format, lint

chore: add changeset for TypeScript fixes
  .changeset/fix-typescript-errors.md
Due: none

Path conditions:
  format: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  lint: any of: **/*.{js,ts,cjs,mjs,jsx,tsx,json}
  validate-package-json: any of: **/package.json
  validate-changeset-config: any of: .changeset/**/*
