Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: pnpm biome lint --apply {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}

fix: improve lefthook pre-commit hooks to skip when no files match
  lefthook.yml
Due: none

feat: prepare for repository rename and default branch switch
  .github/workflows/on-merged-main.yaml
  .github/workflows/on-pr-main-dependabot.yml
  docs/workflow/README.md
Due: none

feat: complete repository rename to sdk-ts and switch to main branch
  .github/workflows/on-merged-main.yaml
  .github/workflows/on-pr-main-dependabot.yml
  docs/workflow/README.md
Due: none

fix: resolve Biome pre-commit hook configuration issues
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/scripts/check-dependencies.sh
  lefthook.yml
  packages/pdf/CLAUDE.md
  packages/pdf/bun.lock
  packages/pdf/package.json
  packages/pdf/src/index.spec.ts
  packages/pdf/src/index.ts
Due: format, lint, validate-package-json

fix: properly handle empty staged files in biome pre-commit hooks
  lefthook.yml
Due: none

fix: broaden biome include pattern to cover all package files
  biome.json
Due: format, lint

fix: address code review feedback for OCR implementation
  .devcontainer/devcontainer.json
  .devcontainer/scripts/check-dependencies.sh
  lefthook.yml
  packages/pdf/src/index.spec.ts
  packages/pdf/src/index.ts
Due: format, lint

feat: standardize Files library interface with multi-provider support
  packages/files/src/factory.ts
  packages/files/src/filesystem.test.ts
  packages/files/src/index.ts
  packages/files/src/legacy.ts
  packages/files/src/providers/base.ts
  packages/files/src/providers/dependencies.d.ts
  packages/files/src/providers/gdrive.ts
  packages/files/src/providers/local.ts
  packages/files/src/providers/nextcloud.ts
  packages/files/src/providers/s3.ts
  packages/files/src/types.ts
Due: format, lint

refactor: rename nextcloud provider to webdav for broader compatibility
  packages/files/src/factory.ts
  packages/files/src/filesystem.test.ts
  packages/files/src/index.ts
  packages/files/src/providers/webdav.ts
  packages/files/src/types.ts
Due: format, lint

fix: address PR review comments
  packages/files/src/filesystem.test.ts
  packages/files/src/providers/base.ts
  packages/files/src/providers/s3.ts
  packages/files/src/providers/webdav.ts
Due: format, lint

feat: expand AI package with multi-provider support
  packages/ai/CLAUDE.md
  packages/ai/src/factory.ts
  packages/ai/src/index.ts
  packages/ai/src/integration.test.ts
  packages/ai/src/providers.test.ts
  packages/ai/src/providers/anthropic.ts
  packages/ai/src/providers/bedrock.ts
  packages/ai/src/providers/gemini.ts
  packages/ai/src/providers/huggingface.ts
  packages/ai/src/providers/openai.ts
  packages/ai/src/types.test.ts
  packages/ai/src/types.ts
Due: format, lint

fix: add workspaces config and install AI provider packages
  packages/ai/package.json
  packages/ai/src/integration.test.ts
  packages/ai/src/providers.test.ts
  packages/ai/src/providers/gemini.ts
Due: format, lint, validate-package-json

feat: implement Anthropic and Bedrock AI providers with tests
  bun.lock
  package.json
  packages/ai/src/integration.test.ts
  packages/ai/src/providers.test.ts
  packages/ai/src/providers/anthropic.ts
  packages/ai/src/providers/bedrock.ts
Due: format, lint

feat: implement Ghostscript-based ink coverage calculation for printInfo
  .devcontainer/Dockerfile
  bun.lock
  package.json
  packages/pdf/CLAUDE.md
  packages/pdf/package.json
  packages/pdf/src/index.spec.ts
  packages/pdf/src/index.ts
  shell.nix
Due: format, lint, validate-package-json

fix: improve devcontainer for GitHub Codespaces compatibility
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/scripts/setup.sh
Due: format, lint

fix: standardize monorepo package configurations and resolve build issues
  packages/pdf/CLAUDE.md
  packages/pdf/package.json
  packages/pdf/src/index.spec.ts
  packages/pdf/src/index.ts
  packages/pdf/tsconfig.json
  packages/pdf/vitest.config.d.ts
  packages/pdf/vitest.config.js
Due: format, lint, validate-package-json

feat: improve package exports and TypeScript configuration
  .devcontainer/devcontainer.json
  .devcontainer/scripts/setup.sh
  .husky/_/post-checkout
  .husky/_/post-commit
  .husky/_/post-merge
  .husky/_/pre-push
  bun.lock
  package.json
  packages/ai/package.json
  packages/ai/src/index.ts
  packages/ai/src/integration.test.ts
  packages/ai/src/providers/openai.ts
  packages/ai/tsconfig.json
  packages/ai/vitest.config.d.ts
  packages/ai/vitest.config.js
  packages/files/package.json
  packages/files/tsconfig.json
  packages/files/vitest.config.d.ts
  packages/files/vitest.config.js
  packages/smrt/package.json
  packages/smrt/src/object.ts
  packages/smrt/tsconfig.json
  packages/smrt/vitest.config.d.ts
  packages/smrt/vitest.config.js
  packages/spider/package.json
  packages/spider/tsconfig.json
  packages/spider/vitest.config.d.ts
  packages/spider/vitest.config.js
  packages/sql/package.json
  packages/sql/tsconfig.json
  packages/sql/vitest.config.d.ts
  packages/sql/vitest.config.js
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/utils/vitest.config.d.ts
  packages/utils/vitest.config.js
  vitest.config.d.ts
  vitest.config.js
  vitest.setup.d.ts
  vitest.setup.js
Due: format, lint, validate-package-json
