Repository happyvertical/sdk: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, validate-package-json

lefthook.yml:

pre-commit:
  commands:
    format:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: pnpm biome format --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: pnpm biome lint --apply {staged_files}
      stage_fixed: true
    validate-package-json:
      glob: "**/package.json"
      run: node scripts/validate-package-json.js {staged_files}

feat: add changeset configuration validation
  lefthook.yml
  scripts/validate-changeset-config.js
Due: format, lint

feat: enhance GitHub Actions security and validation
  .github/workflows/claude.yaml
  .github/workflows/on-merged-master.yaml
  .github/workflows/on-pr-master-dependabot.yml
Due: none

feat: enhance PR workflow command with comprehensive CI/CD integration
  .claude/commands/pr.md
Due: none

feat: create ADR directory and documentation structure
  docs/adr/0001-use-typescript-for-all-packages.md
  docs/adr/README.md
  docs/adr/template.md
Due: none

fix: remove formatting typos from Definition of Ready
  docs/workflow/DEFINITION_OF_READY.md
Due: none

fix: update biome lint command to use --write instead of deprecated --apply
  lefthook.yml
Due: none

feat: migrate PDF processing from pdfjs-dist to unpdf
  packages/pdf/package.json
  packages/pdf/src/index.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

feat: migrate spider package from playwright to happy-dom
  packages/spider/package.json
  packages/spider/src/index.spec.ts
  packages/spider/src/index.ts
  pnpm-lock.yaml
Due: format, lint, validate-package-json

fix: prevent pre-commit hooks from failing when no files match glob patterns
  lefthook.yml
Due: none

feat: complete migration from pnpm to Bun package manager
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  bun.lock
  bunfig.toml
  lefthook.yml
  package.json
  packages/ai/package.json
  packages/files/package.json
  packages/pdf/package.json
  packages/smrt/package.json
  packages/spider/package.json
  packages/sql/package.json
  packages/utils/package.json
  pnpm-workspace.yaml
  repomix-output.xml
Due: format, lint, validate-package-json

feat: complete Phase 4 - CI/CD integration for Bun migration
  .github/workflows/on-merged-master.yaml
  .github/workflows/on-pr-master-dependabot.yml
  CLAUDE.md
  packages/ai/CLAUDE.md
  packages/files/CLAUDE.md
  packages/pdf/CLAUDE.md
  packages/smrt/CLAUDE.md
  packages/spider/CLAUDE.md
  packages/sql/CLAUDE.md
  packages/utils/CLAUDE.md
  pnpm-lock.yaml
Due: none

fix: resolve test failures for Bun compatibility
  packages/files/src/index.spec.ts
  packages/pdf/src/index.spec.ts
  packages/pdf/src/index.ts
  packages/spider/src/index.ts
Due: format, lint

research: Bun migration compatibility findings and CI improvements
  .github/workflows/on-merged-master.yaml
  .github/workflows/on-pr-master-dependabot.yml
  packages/pdf/src/index.spec.ts
Due: format, lint

fix: improve lefthook pre-commit hooks to skip when no files match
  lefthook.yml
Due: none
